[2018-10-14 21:46] PieterGit commented on #3659
@Unvollendet8  I don't know of any workaround and don't have the possibility to do profileSwitches at this moment.

The error @2flea lists in https://github.com/nightscout/cgm-remote-monitor/issues/3659#issuecomment-403453553 comes from this line:
https://github.com/nightscout/cgm-remote-monitor/blame/dev/lib/profilefunctions.js#L266
which has been in the code for over a year. Perhaps @MilosKozak

[2018-10-15 00:04] unsoluble commented on #3944
For what it's worth, just walked through this same problem with another person, and the problem was the browser he was using (Firefox with a bunch of extensions). Clean start in a clean Chrome, and the issue went away. So something in the deployment script is a little sensitive to either browser version or some extension out there (AdBlock-style, perhaps).

[2018-10-15 11:32] vickster1 commented on #3659
I’m seeing something similar, but with other weird behaviour. My site keeps being unresponsive, so trying to edit my profile takes forever & sometimes I can’t get the new values to load at all. My homepage keeps briefly showing the correct TBR data from AAPS, but then flicks back to a page showing only very recent TBR data & otherwise showing my standard basal profile.
With reports, I tried pickin

[2018-10-15 11:42] JoseeT1Bionique commented on #3676
Hello Peter,

I apologize for forgetting to close this. It was resolve with the help of a Looped Group member.

Regards,

Josée

[2018-10-16 04:47] unsoluble opened #4003 "Time zone list problems"
The timezone list in the profile editor is a mess, and should be replaced with a simplified list that is known to work. I don't know the history behind where this list came from, or why it was incorporated — am assuming it's just been grabbed wholesale from another source — but we should probably look into finding a better one.

Two major issues:
1. It's way too long. There are 38 distinct time zo

[2018-10-16 06:37] PieterGit commented on #4003
@unsoluble I don't know about the history of the time zone list and making it a cleaner implementation is always a good idea. I assume the current list is based on `moment-timezone`, https://github.com/nightscout/cgm-remote-monitor/blob/master/package.json#L81-L82.

That packages uses the standard is the IANA time zones (see https://www.iana.org/time-zones or https://en.wikipedia.org/wiki/Tz_datab

[2018-10-16 06:54] PieterGit commented on #3750
Solution for this problem is being worked on by @jpcunningh . See PR https://github.com/nightscout/cgm-remote-monitor/pull/3751 . Closing this issue.

[2018-10-16 06:54] #3750 closed

[2018-10-16 06:58] PieterGit commented on #3944
@kellylove1 or @secretsquirrel420 can you give an update to this issue? If you found a solution the community would like to know what it is. If you didn't find a solution we might be able to help.

[2018-10-16 07:00] PieterGit commented on #3567
@mpangburn  @MilosKozak do you think you will work on this item the next say 2-3 weeks? If not, I'll postpone this to 0.12 release or close this PR due to inactivity. I would like to clean out the open PR's for the 0.11 release.

[2018-10-16 20:46] PieterGit commented on #3994
@oliwierkobiak can you post two records with the same timestamp? If they are from the same Glimp uploader, then I assume it's not a Nightscout issue, but a glimp uploader issue and you should ask the Glimp devs.

[2018-10-16 20:50] PieterGit commented on #3558
@hosamn and @hartlijn:  I hope @learn2laugh can give a response if he/she received an answer from the licensing department. If there was no repsonse, I assume other people should re-ask the question (and post the answer or lack of answer here again).

[2018-10-16 22:32] unsoluble commented on #3832
I'm digging into this one. The issue is clear — `window.serverSettings.settings.timeFormat` is pulling straight from the config variable defaults instead of from wherever the time setting is stored in the active profile — but I haven't been able to figure out the data path yet. If someone can point me in the right direction, could fix this one.

[2018-10-17 01:02] unsoluble commented on #4003
Hmm. The `moment-timezone` library looks good, we'd just need to either find a smaller data source that it can import or do our own work to build a custom subset before passing it to the UI. Can't see an easy solution right now, but will keep poking around.

[2018-10-17 22:01] PieterGit commented on #4003
@unsoluble I think it would be best to change the UI to first select a country, and then the timezones within that country, similar to the pulldown box implementation of http://timezonepicker.com/  . I don't think the map view in that example has a lot of added functionality for us.

[2018-10-20 20:07] jweismann opened #4010 "Optional force automatic redirections to HTTPS if HTTP is used by mistake"
First off, let me use this opportunity to express my gratitude for all your hard work on this awesome project. Speaking of which, now that heroku has become the recommended platform for hosting, there is one thing that bothers me, namely that heroku doesn't support automatic redictions to HTTPS.

If one (by mistake) types HTTP in the URL or if HTTP happens to be the default choice of a given brows

[2018-10-20 20:09] jweismann commented on #4010
Sorry, the code part wasn't readable. Trying to use the markup instead and see if that improves it

`     app.set('title', appInfo);
     app.enable('trust proxy'); // Allows req.secure test on heroku https connections.
+    if (env.settings.isEnabled('httpsredirection')) {
+        console.info('Enabled httpsredirection: redirect http to https');
+       app.use((req, res, next) => {
+

[2018-10-20 20:13] jweismann commented on #4010
Sorry for the missing code markup above. Hopefully this is more readable:

[code]

[2018-10-21 21:18] PieterGit commented on #4010
@jweismann : this feature was on my wishlist as well. Can you try to create a pull request againt the `dev` branch instead of creating code in an issue? See https://openaps.readthedocs.io/en/latest/docs/Resources/my-first-pr.html or use a Git tool like SourceTree.

Some remarks about your implementation:
- Environment variables should be documented in the readme and are always be written in capita

[2018-10-21 21:40] jweismann commented on #4010
@PieterGit Sure - if you consider it relevant too, I will create a PR. I was just doing the code snippet to express the idea. This week is very busy for me but I would like to have it in the coming release. What's the deadline you are targeting ? As for testing of non-Heroku hosting, I might still have my azure account but beside that I only have access to heroku.

Finally, I like your idea of hav

[2018-10-22 08:04] PieterGit commented on #4010
@jweismann You don't have to commit to testing all configurations. We can work together, and use the communtiy. Adding the help-wanted label.

I looked into `http2` as well, and I think we can upgrade the current `SSL` configuration to use the new `http2` module of Node and `greenlock-exprees`, https://git.coolaj86.com/coolaj86/greenlock-express.js to use Letsencrypt SSL certificates out of the bo

[2018-10-22 08:45] PieterGit commented on #4010
@jweismann Others can help testing.  Azure does not have Node 8.12.x yet, and there is not much interest in testing Azure and Azure often has issues. If there is no one stepping up to take ownership for Azure hosting of Nightscout and think we should decide to drop Azure support soon.

I think there are three possible deployments this future PR should be tested with:
1.  Heroku
2.  Node SSL based

[2018-10-23 08:12] PieterGit commented on #3944
@kellylove1 or @secretsquirrel420 can you give an update to this issue?  Please give an update, because otherwise we'll close this issue due to inactivity.

[2018-10-23 18:36] PieterGit commented on #3535
Fix in https://github.com/mddub/minimed-connect-to-nightscout/pull/7
Closing issue

[2018-10-23 18:36] #3535 closed

[2018-10-24 13:19] autumny76 opened #4021 "Need 2 readings from transmitter first, continuously"
I apologize I do not have programming knowledge. I downloaded the app on my HTC ZTE zmax pro phone but get the above message without ever getting readings. I would have asked on Facebook but I am not currently on FB to ask there. Is the app unable to work with my phone? I also have the Dexcom G5 if that makes a difference and cannot get the dexcom app on my phone either.

[2018-10-24 15:16] PieterGit commented on #3767
@tremor  @khind Closing this issue because I think enough has been done for 0.11 for now by @jpcunningh . The logging has been improved in https://github.com/nightscout/cgm-remote-monitor/pull/4004
And there is a new feature to delete devicestatus entries, see https://github.com/nightscout/cgm-remote-monitor/pull/3821

If people (with a full mongodb) can confirm that these two functions work as ex

[2018-10-24 15:16] #3767 closed

[2018-10-24 16:02] PieterGit commented on #3268
@mdomox Can you give an update if this issue is still relevant? Since AndroidAPS runs on Android I would install it on the same phone as Xdrip Plus. Please tell me if you have additional questions. Removing 0.11 milestone, since I'm thinking this is not a bug, but a question of how to use Nightscout.

[2018-10-24 16:05] PieterGit commented on #3603
@razor459 @mpangburn This has been fixed with https://github.com/nightscout/cgm-remote-monitor/pull/3957 . Please confirm that this works for you. Closing this issue. Feel free to reopen it if the problem persist. You need to install latest `dev` branch sinds 0.11 has not been released yet.

[2018-10-24 16:05] #3603 closed

[2018-10-24 18:28] 2flea commented on #3659
@PieterGit how do I update to Node 8.12.0?

[2018-10-24 18:45] 2flea commented on #3659
@PieterGit just tested with latest dev "0.11.0-dev-20181022" including Node 8.12.0. I cannot reproduce the issue neither. I ran the day-to-day report for the time from 01.07.2018 till today which includes several profile switches (Original problem was 01.07.2018-02.07.2018). The report appears after some time with all days displayed. Looks OK to me.

[2018-10-24 19:18] PieterGit commented on #3659
@2flea thanks for the report. I looked to all the changes, see https://github.com/nightscout/cgm-remote-monitor/pull/4022/files . Perhaps it was caused by  `"mongodb": "~3.0.11"`, which is now upgraded to `"mongodb": "^3.1.8"``

I hope others can confirm this is fixed for the upcomping 0.11 release. Otherwise, we need to dig deeper.

[2018-10-25 07:01] BartoszJedynak commented on #3984
i'm not editing color names, only color of mediana, after Deploy nothing changing

[2018-10-25 07:08] unsoluble commented on #3984
Can you be more specific about what exactly you’re changing in the code?

[2018-10-25 12:20] PieterGit commented on #2530
@tomasboudr I haven't reproduced this with Nightscout 0.11-dev. Can you tell me what Nightscout version you experienced this with? Can you switch to the `dev` version and see if you can reproduce it there?

[2018-10-25 18:45] Unvollendet8 commented on #3659
@PieterGit thanks for the testing. I'd like to give some feedback as well, but I don't know how to update to the latest dev. Sorry. Is there any wiki where I can find it? Thanks in advance.

[2018-10-26 07:50] BartoszJedynak commented on #3984
function sgvToColor(sgv) {
    var color = 'grey';

    if (client.settings.theme !== 'default') {
      if (sgv > client.settings.thresholds.bgHigh) {
        color = 'red';
      } else if (sgv > client.settings.thresholds.bgTargetTop) {
        color = 'yellow';
      } else if (sgv >= client.settings.thresholds.bgTargetBottom && sgv <= client.settings.thresholds.bgTargetTop && client.settings.

[2018-10-26 14:20] unsoluble commented on #3984
Just made that exact change on a clean 0.10.3-master deployment, and it worked as expected:
![screen shot 2018-10-26 at 7 19 02 am](https://user-images.githubusercontent.com/801582/47572295-7bc39a00-d8ef-11e8-84fb-f4df08c4b84d.png)

Something else must be going on with your particular setup.

[2018-10-27 22:36] mdomox commented on #3268
@PieterGit Of course this is still relevant. Using AndroipAPS does not solve it. It has to do with the fact that IOB is calculated using insulin age as a globall system/profile attribute not per treatment (in cases where different insulin types are used). Each treatment should have the insulin age curve as an attribute, calculate the decay of the insulin of the treatment and determine the treatmen

[2018-10-28 10:19] Kywalh opened #4028 "Bug in time intervals"
**Describe the bug**
Trying to update the basal profile today, I noticed that I wasn't able to add the interval "23:00" since the droplist was limited to 22:30.
I thought I was limited in number of intervals so I tried to delete some and create 23:00 again but unsuccessfully... the drop list still shows 22:30 max time...

**To Reproduce**
simply try to add "23:00"

**Expected behavior**
I was expe

[2018-10-28 13:49] DigitalDan1 commented on #4028
@Kywalh I noticed the same issue today, and it's been reported before (https://github.com/nightscout/cgm-remote-monitor/issues/3469).  It's due to the way in which the 30 minute intervals are formatted and added to the select lists; it counts on from midnight on the current day adding 30 minutes for each entry, then formats the date and time to just show the hours and minutes.  Today in the UK, at

[2018-10-28 17:42] Kywalh commented on #4028
@ DigitalDan1 many thanks !!!!!

[2018-10-28 23:02] PieterGit commented on #3469
@MilosKozak @Pogman @triplem @tanja3981 This bug is now fixed with https://github.com/nightscout/cgm-remote-monitor/pull/4029

Closing issue.

[2018-10-28 23:02] #3469 closed

[2018-10-29 12:05] vickster1 commented on #3659
I'm using Dex G5, AAPS master 1.58, xdrip latest master 2018.09.08, Dana RS & heroku. I don't have experience in computer science, so don't tend to test any dev versions. I'm using Nighscout v0.10.3-master-20180805.
I know how to update to the latest dev, but don't know how to check my Node number or change it.
I have Node.js listed as my framework on my heroku dashboard, but no number.

[2018-10-29 12:20] 2flea commented on #3659
You need to open the console in Heroku and open a bash shell. Then type "npm version".
If you'd upgrade to latest dev it would include the update of node.js .

[2018-10-29 20:43] sulkaharo commented on #3659
https://github.com/nightscout/cgm-remote-monitor/pull/4031 might fix this - if you can pull the PR and test, that'd be awesome

[2018-10-29 21:00] sulkaharo commented on #3659
@PieterGit Debugged this with one user and for her the issue was a Profile Change event that didn't have a profile at all, causing a crash on the line I if'd out ^^

[2018-10-30 08:38] sulkaharo commented on #3659
I pushed the fix to DEV branch - if everyone here could test if the reporting works now and write back, that'd be awesome

[2018-10-30 18:12] neothem commented on #3659
Thank you very much mate, everything is working fine now!

I had the same problems as stated above (using the latest master branch) , deployed the newest dev branch and voilà the "day to day" reports appear in its entirety.

My setup: Dana RS, Dexcom G6, latest dev AAPS, xDrip+ and Nightscout 0.11.0-dev-20181022.

Thanks for the support!

Cheers.

[2018-10-30 19:16] sulkaharo commented on #3659
@neothem do you think you could provide logs from AAPS to @MilosKozak so we could check if the problematic profile events are originating from AAPS?

[2018-10-30 19:32] neothem commented on #3659
@sulkaharo Sure, no problem. Should I send the logs via mail to the stated mail adress which can be found in AAPS under maintenance?

[2018-10-31 16:25] stavlor opened #4037 "/pebble endpoint does not provide a Content-Length header"
**Describe the bug**
Pebble endpoint does not provide a Content-Length Header, other API endpoints do provide Content-Length Headers

**Expected behavior**
Would be nice if the pebble endpoint supplied a Content-Length header, however I currently work around the fact that it does not

**Additional context**
Header example from /pebble endpoint
[code]

Example from /api/v1/entries.json?count=1:

[c

[2018-10-31 19:09] sulkaharo commented on #4037
The implementations are pretty fundamentally different and /pebble is only still there because so many apps depend on it. The code in the endpoint is old and hacky - if someone wants to refactor the code to enable proper headers, that'd be very welcome. Wonder how to mark API endpoints as deprecated...

[2018-10-31 19:39] stavlor commented on #4037
is there a newer api endpoint that exposes the proper iob/cob and delta values?

[2018-11-01 09:58] vickster1 commented on #3659
I have updated to dev 0.11.0 & can now see reports again - thanks a lot for helping!

But...there are still issues. Do you want me to open a new issue about these?

1. My Nightscout page flicks back & forth between showing all TBRs & only showing TBRs from the last 3 hours (and also not showing sage or cage).
2. Profile edits are very temperamental. The profile edit page is often unresponsive, and

[2018-11-02 05:38] kusuriya opened #4041 "Add a report with just the numeric values of the sensor readings."
---
name: "Feature request"
about: Add a report with just the numeric values of the sensor readings.

---

One of my providers is not a huge fan of charts and graphs and would prefer to be drowned in the displayed BG value that makes up the datapoint on the graph, and would like just a basic chart of them.

**Describe the solution you'd like**
The basic gist of the solution is to have a tab that l

[2018-11-03 12:45] lottainkeri commented on #3168
Hi all, I also encountered this problem. Hope it will be fixed soon? Thanks in advance!

[2018-11-03 12:52] PieterGit commented on #3168
@lottainkeri This has been fixed with
https://github.com/nightscout/cgm-remote-monitor/commit/0516c99e5a527bceabd4487ea3e2486e853e5965 and is available in 0.10.3.1. Please upgrade your Nightscout to latest master.

@cascer1 @awaxa @GlennCoco @ELUTE If you haven't upgraded to 0.10.3.1 or dev, please do and then temporary targets can be set in mmol/L

Closing this issue. Please open new issue and li

[2018-11-03 12:52] #3168 closed

[2018-11-03 18:30] PieterGit commented on #3268
@mdomox The IOB calculation within Nightscout hasn't been touched for 3-4 years, see
https://github.com/nightscout/cgm-remote-monitor/blame/7c272ec67a7795e0f4edf7ff9abdfac1bd1308a0/lib/plugins/iob.js#L189-L207

All APS'es use much better algorithms for calculating IOB now (including FIASP), see https://github.com/openaps/oref0/issues/544

So I think there are 3 options for Nightscout IOB:
1.  We r

[2018-11-03 19:04] scottleibrand commented on #3268
Options 1 or 2 work for me. I’d strongly vote against 3: the IOB pill is far easier to read than having to mouse-over or tap the OpenAPS pill to see IOB.

Scott

[2018-11-03 19:04] mdomox commented on #3268
@PieterGit
OpensAPS does IOB calculations in Virtual Pump mode, but also handles decay curves and DIA in a global manner (global attribute), not per treatment. The issue is that, when not using a pump, different insulin types with different insulin decay curves and DIA can be used from treatment to treatment (ultra fast, fast, medium, long). When using a pump, one type of insulin is administered t

[2018-11-03 19:59] PieterGit commented on #3268
@mdomox A bit off topic: I think the #WeAreNotWaiting focuses on using technology for all people with diabetes. On the other hand I think most Nightscout users use a pump instead of MDI. The last releases we found out that we have quite some parts of the code that are not well known and not always maintained (having code that is used by a lot of users and is not maintained is not good). Examples:

[2018-11-04 06:49] PieterGit opened #4046 "Remove sgvdata and mqtt or upgrade and maintain it"
Follow up on: https://gitter.im/nightscout/public?at=5bde0b3a5905a919554c36e3

Current sgvdata module has the following issues:
- it has a small security issue with protobufjs that needs to be upgraded
- it's not a npm package, but uses git://github.com/ktind/sgvdata.git#wip/protobuf
- it's not maintained
- the code is hard to grasp

I tried upgrading it and integrated it back into Nightscout. If

[2018-11-04 09:45] sulkaharo commented on #4046
AFAIK we don't have any users who use MQTT - if this is only used in for MQTT, we should be able to remove both this and MQTT support to make the system more maintainable. @bewest and @jasoncalabrese might have some insight on whether the subsystem is actually used at all?

[2018-11-05 14:04] 2flea commented on #3659
@PieterGit @sulkaharo Shall/Can I close the issue? Or do you need any more tests and confirmations by other users?

[2018-11-05 14:13] sulkaharo commented on #3659
Given there's a confirmation it's fixed from multiple users, maybe close. If you can create new tickets about the other issues, that'd be great. :)

[2018-11-05 14:14] #3659 closed

[2018-11-05 15:02] candreassen commented on #3659
I don’t even know what this means. I am trying to set up nightscout in my Apple phone to follow my daughters dexcom

Colleen

Sent from my iPhone

[2018-11-05 17:20] jasoncalabrese commented on #4046
I think it was only Ben and Kevin that used MQTT, and that support for it could be dropped, and then remove the dependency on sgvdata

[2018-11-05 17:39] bewest commented on #4046
Sorry for the legacy code, I suppose!  A few notes:

* the text and csv modules, I believe *are* used by Nightscout.  The Nightscout API has a feature that can negotiate content-types, and can produce valid CSV, and TSV values for the core glucose API.

There's a lot of value in simple text export; for awhile it made it trivial to copy/paste directly from browser into a spreadsheet.  In addition i

[2018-11-05 22:25] Kywalh opened #4050 "Hyperlink to GVI and PGS explanations doesn't work anymore"
**Describe the bug**
Link to GVI explanations doesn't work anymore
![screenshot_20181105-232216_1](https://user-images.githubusercontent.com/28366579/48030644-0c04a900-e152-11e8-98e9-fa446384ddd7.jpg)

[2018-11-06 22:53] PieterGit commented on #4046
@sulkaharo If we want drop mqtt but keep .txt, .tsv and .csv support (I didn't use it ever but I agree it's a nice REST feature), we should work on minimizing https://github.com/ktind/sgvdata/pull/1 or reimplement the other formats without the old prototypejs version. I tried to fix/upgrade sgvdata, but failed. If others want this, please help (e.g. by forking the PR into a minimized version). I t

[2018-11-06 23:34] gitanO0 commented on #2591
As I'm looking at my pinned tabs in both Chrome and Firefox for my Gmail site, I see there's the standard icon for gmail but then the number of unread emails is shown at the bottom/right of that icon.  Why wouldn't it be possible to do the same thing with Nightscout but with current BG as that number.

[2018-11-07 01:47] unsoluble commented on #2591
At a cursory glance it seems as if Gmail is doing dynamic favicon replacement to get the badging. Not sure if that's something that anyone here is into diving into, but maybe?

[2018-11-07 06:58] bewest commented on #4046
@PieterGit, many thanks for driving change here.  You/someone should prepare a pull request you wouldn't mind maintaining.

MQTT isn't being used: I'm fairly certain I was the only one taking advantage of this.  It's safe to remove.
Multi-tenant aspirations are better served by through explicit support.  Given @howardlook's and Insulet's recent announcements, I remain more hopeful than ever on opp

[2018-11-07 14:44] PieterGit opened #4051 "Use share2nightbridge npm module instead of git URL and maintain share2nightbridge"
**Describe the bug**
Current share2nightbridge does not use an npm module, but a git-style URL.
This is a (minor) security issue, because changes to Git will deploy a new version to users.
Npm best practices is to release/publish a npm module and use semver versioning for new versions.

**To Reproduce**
see `package.json`, which links to
`share2nightscout-bridge` to `git://github.com/nightscout/sh

[2018-11-08 00:04] PieterGit commented on #4050
Fortunately the Internet Archive has stored a copy of the healthline.com page.
It can be found        https://web.archive.org/web/20160523152519/http://www.healthline.com/diabetesmine/a-new-view-of-glycemic-variability-how-long-is-your-line

[2018-11-08 00:10] PieterGit commented on #4050
Fixed with https://github.com/nightscout/cgm-remote-monitor/pull/4052 and merged to dev.
Will be part of the Nightscout 0.11 release.
@Kywalh Thanks for reporting.

[2018-11-08 00:10] #4050 closed

[2018-11-08 00:11] Kywalh commented on #4050
I found it too.... Only reporting this as a "bug"...
 Very small one...

[2018-11-08 00:12] PieterGit commented on #4050
@Kywalh Small bugs must also be reported and also be fixed. Fixing it was more work than I expected because the URL was part of all the translations. Refactored that.

[2018-11-08 00:14] Kywalh commented on #4050
Thanks !!!

[2018-11-08 00:20] PieterGit commented on #3944
@kellylove1 or @secretsquirrel420 You didn't respond for more than 23 days. Closing this issue due to inactivity. If you have more information feel free to reopen this issue, but without participation and a reproducable error we cannot help you.

@unsoluble and @RBJervey Thanks for your help in this issue.

[2018-11-08 00:20] #3944 closed

[2018-11-08 10:50] thomasmenges opened #4053 "day to day NS report is not showing all data"
**Describe the bug**
The day to day NS report has some problems.
After using Glimp instead of XDRIP (I had to change because of connecting problems to my CGM system libre (miaomiao) the day to day report shows no BG data any more. But these values are shown correctly in the NS overview page.

So, the values must be stored in mongo db.

If you are using the new function of NS reporting (http://www.

[2018-11-08 12:17] vickster1 opened #4055 "Home screen loses AAPS data from >3 hours ago"
I’m using Nightscout dev 0.11.0, but was seeing this with 0.10.3 also. I use Dexcom g5 with xdrip+ & AndroidAPS with Dana RS pump.
I see the issue on desktop, iPad & Android phone.

I open my Nightscout page. Data from the last 3 hours is shown correctly, but older data just shows my standard basal profile & my cgm data - no TBRs or carbs/boluses. It also doesn’t show my sage & cage data if they w

[2018-11-08 12:50] vickster1 opened #4056 "Profile edit not working"
**Describe the bug**
I open my profile edit page. It takes 30s to load. Sometimes the drop down option to choose a different profile to edit is shown, other times it is missing (pic where it is missing attached).

Scroll down the page, and it is a blank, black screen, which loads after another 30-60secs.
I choose a feature to edit, and click on it. I get no response. I wait, and usually the cursor

[2018-11-08 23:12] whooze opened #4059 "Broken link on report"
The link http://www.healthline.com/diabetesmine/a-new-view-of-glycemic-variability-how-long-is-your-line#2 is broken.

Can be found on <yournightscouturl>/report the Distribution-tab

**Screenshots**

![image](https://user-images.githubusercontent.com/4024639/48233016-ed055180-e3b3-11e8-895e-b1659d4387c0.png)

**Your setup information**
Should be the same problem on earlier versions too

[2018-11-12 15:53] zehnBE commented on #4053
can you look with browser "elemte untersuchen" (control + O  or Chrome control + shift + I) and look into the "network"-Tab and on "response", which the message/errors was?

[2018-11-12 18:18] LongboatAline commented on #3268
I think this may be one of the cases where the data model would profit from adding the type of insulin curve to use for the decay of the insulin in question.
Not only would it allow to calculate a reasonable approximation of IOB (and Acting Insulin) for users of MDI, it would also allow to cover uses of different Insulins for pump users as well.

Incomplete list of use cases where more than one in

[2018-11-13 01:14] bewest commented on #4051
Transferred.

[2018-11-13 11:47] sulkaharo commented on #3268
Some notes:

If we do port the IOB algorithm from OpenAPS over, we can simultaneously add the capability to define the DIA per treatment, so someone marking down long-acting treatments could mark down a 18 hour DIA. I'm not sure where we'd get the insulin curve data from though - someone would need to read through the data published on the longer insulins and figure out what DIA really is appropri

[2018-11-13 12:37] sulkaharo commented on #4053
This is likely already fixed in the develop branch - are you running the release or dev version? If release, can you test using develop to see if that works?

[2018-11-13 16:11] thomasmenges commented on #4053
I'm using the dev branch as mentioned before.
After switching to the dev branch the problems with profile switches seem to be solved but the values from GLIMP are still missing.
So, I made some checks and I found some interesting things:

1) The missing values only occur when I'm using Glimp with connection to miaomiao. The values are delivered to NS and can be seen directliy in the NS overview (s

[2018-11-13 16:37] sulkaharo commented on #4053
This sounds like a bug in the data Glimp is sending to Nightscout, not a Nightscout bug. Can you send a sample of what the Glimp SGV records look like so we can check what the issue is?

[2018-11-13 23:05] PieterGit commented on #4051
@bewest Great. Thanks. I will publish a new version of share2nightscout-bridge and integrate it into Nightscout 0.11 later. Thanks! Closing this issue.

[2018-11-13 23:05] #4051 closed

[2018-11-15 07:44] whooze commented on #4037
Check out <yoursite>/api/v2/properties/cob
and
<yoursite>/api/v2/properties/iob

Well, actually <yoursite>/api/v2/properties/ is where you'd start...

[2018-11-15 22:13] nealgriffin commented on #4059
Hi there - I'm actually interested in helping out on this repository and this is a pretty straightforward change - I'll submit the required PR to the maintainers, but wanted to ask if there was / should be a different link referenced here, if so can you paste the link needed? Thanks

[2018-11-15 23:05] PieterGit commented on #4059
@whooze @nealgriffin I already fixed this with https://github.com/nightscout/cgm-remote-monitor/pull/4052

@sulkaharo suggested to use this link https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5467104/
I think the healtline article is easier readable, but of course the ncbi article is more scientific approach.

@nealgriffin If you want to PR a change that includes both links, please do.

[2018-11-15 23:51] nealgriffin commented on #4059
@PieterGit beauty! I'll do that - let me get myself setup - thnks

[2018-11-16 12:00] thomasmenges commented on #4053
@PieterGit I have attached the MongoDB Backup. I hope that there are information inside you can use.
[2018-11-13_00.tar.gz](https://github.com/nightscout/cgm-remote-monitor/files/2589161/2018-11-13_00.tar.gz)

[2018-11-16 15:35] DigitalDan1 commented on #4055
I've seen exactly the same thing happen on Windows 10 Chrome and iPhone XS Max.

I'm using Nightscout 0.10.3, Dexcom G6, xDrip+, AndroidAPS (2.0) with Insight pump.  I think it could be related to performance because it seems to be worse at certain times when it's generally pretty slow.

[2018-11-16 15:49] DigitalDan1 commented on #4056
I've had the same problems.  I'm pretty sure my change (https://github.com/nightscout/cgm-remote-monitor/pull/4074) will fix it.

[2018-11-16 16:09] sulkaharo commented on #4055
Would you be willing to PM me your Nightscout URL so I can check if I can see errors in the browser console? Sounds like there's some problematic data somewhere that's be causing this - we're on OpenAPS and have no issues with the older data rendering.

[2018-11-19 09:57] DigitalDan1 commented on #4055
@sulkaharo No errors in the console for me.  I've been taking a closer look and tracked it down to the way the client gets new data from the server.  When there's a reconnect (roughly every 5 mins for me on Chrome) or hitting reload, the server sends a first chunk of data that includes all the BG values for 48 hours and treatments and device statuses for only the last 3 hours.  It then sends a sec

[2018-11-19 15:42] sulkaharo commented on #4055
Ok I took a peek into @vickster1's Nightscout and looks to me like the cause is AndroidAPS uploading unexpectedly large amount of profile switch treatments - the current codebase assumes this dataset is quite small (entered by hand occasionally) but there's actually almost 600 of these data objects loaded in that Nightscout instance. Most of the profile switches have a duration of 0 as well, which

[2018-11-19 16:20] sulkaharo commented on #4055
Right ok I did actually find a bug in Nightscout - @vickster1 and @DigitalDan1 can you update to latest DEV and see if it improves the situation?

[2018-11-19 20:32] vickster1 commented on #4055
That looks to have solved it - thank you Sulka

[2018-11-19 20:32] #4055 closed

[2018-11-19 20:34] vickster1 commented on #4056
Also fixed in latest Dev from today 😀

[2018-11-19 20:34] #4056 closed

[2018-11-20 10:14] VladislavLasmann opened #4080 "API bug: DELETE devicestatus and treatsments"
Using the Nightscout-API to delete the types **devicestatus** and **treatsments** we noticed that the function remove(_id, fn) doesn't work properly. The delete seems to have no effect.

------------------------------------------
**Treatments:**
 _[https://github.com/nightscout/cgm-remote-monitor/blob/master/lib/server/treatments.js](url)
Line: 100_
The original code looks like this:
`function rem

[2018-11-21 02:16] jpcunningh commented on #4080
@VladislavLasmann, I believe that would break the ability to delete all of the devicestatus records as used in the admintools.

[2018-11-21 04:12] jpcunningh commented on #4080
#4088 should correct this issue.

I'm not sure why it doesn't work as it was written. I don't believe the PR should cause a different result, but it works and preserves the benefits of using ObjectID and the '*' option for devicestatus.

[2018-11-21 23:57] PieterGit commented on #4046
See PR https://github.com/nightscout/cgm-remote-monitor/pull/4091 for the implementation. I first started ripping out mqtt and svgdata. The CVS/TSV export stuff still must be reimplemented without a call to `svgdata`.

[2018-11-22 00:18] PieterGit commented on #4010
This issue is outdated. See https://github.com/nightscout/cgm-remote-monitor/pull/4044 for more info and a PR.

[2018-11-22 00:18] #4010 closed

[2018-11-26 22:27] DrVoles opened #4095 "Add an option to delete a set number of days of treatments in NS Admin Tools"
Hi there.

Quick query.

I have a Nightscout site, hosted by Heroku.

I use AndroidAPS. This results in A LOT of data.

Every now and then I have to clear devicestatus using admin tools of NS. This often helps and then I can compact my database.
If i don't do this from time to time, I can't upload my data to nightscout.

Unfortunately, it didn't work this weekend, and on looking into the issue fur

[2018-11-26 22:33] DrVoles commented on #4095
Or even better: a checkbox to auto-purge all data older than 90 days.

[2018-11-27 06:00] DrVoles commented on #4095
Yep, that would be a good way of doing. Anything which makes it easy to clear old data without touching the relevant, new data.

[2018-11-27 14:12] jpcunningh commented on #4095
PR #4090 adds treatments and entries sections to delete all but a user provided number of days.

They are separate sections so the user can choose to retain a different number of days for treatments, devicestatus, and entries.

[2018-11-27 14:52] jweismann opened #4098 "Security issue"
Please see https://snyk.io/blog/malicious-code-found-in-npm-package-event-stream. I just downgraded to 3.3.4 and deployed to two heroku dev sites with success. Please do the same for the upstream version (I can create a PR but seems like overkill).

[2018-11-27 18:20] DrVoles commented on #4095
I can only assume I'm being a little bit dense - how do I select the PR #4090  to try out?

[2018-11-28 13:05] jpcunningh commented on #4095
@DrVoles, it's not trivial.  I have a cloned of my github account cgm-remote-monitor fork on a Linux VM that I can checkout PRs to (google `git checkout pr locally`).

Once it's checked out, I can create a local branch from it and push the new branch to my github account's fork.  After the branch is in my cgm-remote-monitor, I can selected it on the Heroku deployment page.

There may be an easier

[2018-11-28 22:41] LubomirKovalcik opened #4103 "Incorrect day graph on Day to day"
**Describe the bug**
Day to day shows graph for incorrect day - one day off
![image](https://user-images.githubusercontent.com/15881431/49235693-f1dd8400-f3fa-11e8-88ca-3faadc14c17c.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Day to Day stats'
2. Apply From Date and To Date filter
3. Apply target range filter
4. Click on show

**Expected behavior**
Should show graph for 28.11

[2018-11-29 12:38] viq commented on #4098
`master` is not affected, and `dev` was fixed with f47c6c3979a9fe053e98f841a769381f26dbd777

[2018-11-30 17:13] moskolowosky commented on #4053
I have the same problem . I hope they resolve ASAP

[2018-12-01 16:20] jweismann commented on #4098
@viq Thanks. Closing this.
@bewest Interesting ideas and thoughts. Thanks for sharing.

[2018-12-01 16:20] #4098 closed

[2018-12-02 02:14] lashto opened #4112 "Heroku deploy failed with "Archive URL not found" message"
Failed to deploy to heroku using the button

**To Reproduce**
Steps to reproduce the behavior:
Click the "Deploy to Heroku" button.

Worked few days ago , now fails with "Archive URL not found" message

**Your setup information**
Current version , tried different browsers, tried PC/tablet
Tried direct , tried fork

![heroku](https://user-images.githubusercontent.com/8645338/49334816-de434080-f5e7-

[2018-12-02 11:35] sulkaharo commented on #4103
Can you check what time zone you have in your treatment profile store in Nightscout and verify the uploader and your computer are on the same time zone

[2018-12-02 11:44] sulkaharo commented on #4053
@thomasmenges thank you for the dump. Looks like Glimp data has several issues:

1) date field content is misformatted. Nightscout expects an integer, glimp seems to output a floating point number
2) sgv delta field is missing
3) noise classification field is missing

@PieterGit wonder if we should add data checking for ^^? The delta field could maybe be optional but I think we will want the date

[2018-12-02 12:09] LubomirKovalcik commented on #4103
Thank you,
 there was incorrect time zone set in profile, so that fixed the problem.

Only thing I was not able to find easily was profile editor, but its under link "yournighscoutpage.herokuapp.com/**profile**"

[2018-12-03 21:35] unsoluble commented on #4112
This was a Heroku-side issue that has now been resolved. Try the deployment again, should work.

[2018-12-04 20:02] x3nr1qu3x opened #4121 "Alexa Spanish translations"
Hi!

I'm newbie here, and I do not know if I'm writing this in a good place

I got a Amazon Echo (Alexa), and i had tried the alexa plugin in my nightscout, but there are some answers that it says in English

Can someone help me for explain me how i can translate these answers? I can do it but i need someone that explains me how do it.

Thanks.

[2018-12-04 23:38] PieterGit commented on #4046
Fixed with https://github.com/nightscout/cgm-remote-monitor/pull/4091

[2018-12-04 23:38] #4046 closed

[2018-12-05 13:55] #3867 closed

[2018-12-06 22:33] PieterGit commented on #3577
@Dave2526 can you now test this PR? If not it won't be included in the 0.11 release.

[2018-12-06 23:23] jpcunningh commented on #3848
I checked both Firefox 63.0.3 and Chrome 70.0.3538.110 on Windows 10 and was unable to duplicate the issue. I don't mind digging into this one if you have some thoughts on how I can duplicate the issue.

[2018-12-07 10:01] sulkaharo opened #4126 "Nightscout crash on profile data upload"
See last comments on https://github.com/openaps/oref0/issues/965

This is a strange error, since the crash can only occur if the profile insert failed silently (the created data object is null, but also no error was returned).

[2018-12-07 10:02] sulkaharo commented on #4112
Given Heroku says this is resolved and reporter not coming back, assuming this is resolved.

[2018-12-07 10:02] #4112 closed

[2018-12-07 14:41] philipgo2 commented on #4126
Thank you for looking into this and creating a new ticket @sulkaharo

I found the cause of the error: My prior profile names contained special characters (`.`, e.g. `Basal rate red.`) leading to strange behavior.

When using the Nightscout profile editor there was no problem at all, but I was unable to upload any profile using the `oref0-upload-profile`command.

When trying to copy the profile col

[2018-12-07 15:09] sulkaharo commented on #4126
Aaah right, yes that sounds like there's some code somewhere that doesn't properly escape the strings. Preventing dots shouldn't be necessary. Do you know at which point the profile breaks? Is it that the profile works inside Nightscout with dots, but breaks during the OpenAPS import/export process?

[2018-12-07 15:18] philipgo2 commented on #4126
It works flawlessly within Nightscout, but there already seems to be an error in the database at that point since I am unable to copy the profile collection using 3T Studio as soon as a profile name contains dots. `oref0-upload-profile` never works when an existing profile name contains dots.

[2018-12-07 17:17] sulkaharo commented on #4041
There's already an API for this - try loading http://localhost:1337/api/v1/entries.csv?find[dateString][$gte]=2015-08-28&find[dateString][$lte]=2015-08-30 (replace csv with tsv if tab separated files are better)

[2018-12-07 17:19] kusuriya commented on #4041
Nice, any reason we couldn't expose this on the reports page?

[2018-12-07 17:23] sulkaharo commented on #4041
Sure, wanna PR in a feature? ;)

[2018-12-07 20:00] kusuriya commented on #4041
Funny enough i've been looking at just that and am trying to figure out the codebase to do it. I'm not that awesome at webdev

[2018-12-10 17:35] msinkovich opened #4132 "Feature request: Add Carbs, Bolus, and Total Insulin Consumed on Daily Stats report"
Based on my recent visit with my endo he asked if this was available and I cannot see it via the canned reports.  Would it be possible to add these as columns to the Daily Stats report?

[2018-12-11 23:46] PieterGit commented on #4028
@Kywalh Can you confirm that this bug has been fixed by https://github.com/nightscout/cgm-remote-monitor/pull/4029 of @DigitalDan1 ? Or does it still exist? Please give an update, otherwise, we will postpone this to Nightscout 0.12.0

[2018-12-11 23:51] Kywalh commented on #4028
Hello @PieterGit,
How can I test it ?
Can I simply change the date to a DST one ?

[2018-12-12 07:35] PieterGit commented on #3848
Works with `dev` and Chrome version 70.0.3538.110 (Officiële build) (64-bits).
Don't see the message in the console anymore. Closing issue.

[2018-12-12 07:35] #3848 closed

[2018-12-12 20:44] daktau opened #4135 "BG_* variables don't use DISPLAY _UNITS settings making it confusing for mmol users."
I am seeing an urgent high status/alarm when I am in range. Can anyone explain why I am seeing this or if this is a bug?

<img width="470" alt="screen shot 2018-12-12 at 20 42 32" src="https://user-images.githubusercontent.com/9610778/49897632-9fff1a00-fe4e-11e8-905d-23861f6d14d4.png">

<img width="1678" alt="screen shot 2018-12-12 at 20 42 02" src="https://user-images.githubusercontent.com/961077

[2018-12-12 20:46] DigitalDan1 commented on #4028
Hi @PeterGit, I’m confident that https://github.com/nightscout/cgm-remote-monitor/pull/4029 fixes this bug. I tested it at the time (i.e. on the day the clocks went back).

@Kywalh, yes, to test you’d have to set your clock back to 28th Oct.

[2018-12-12 20:49] sulkaharo commented on #4135
Have you set the DISPLAY_UNITS variable to “mmol”? What value do you have in the environment targets? The profile doesn’t affect the alarms

[2018-12-12 20:52] daktau commented on #4135
Is this what you mean?

<img width="214" alt="screen shot 2018-12-12 at 20 51 59" src="https://user-images.githubusercontent.com/9610778/49898068-da1ceb80-fe4f-11e8-8eb5-c43bf7259322.png">

[2018-12-12 20:54] daktau commented on #4135
<img width="183" alt="screen shot 2018-12-12 at 20 53 31" src="https://user-images.githubusercontent.com/9610778/49898137-10f30180-fe50-11e8-8375-c2191c3571ec.png">

[2018-12-12 21:37] daktau commented on #4135
Is this because the environmental variables ONLY work in mg/dl units?

[2018-12-12 21:55] daktau commented on #4135
Yep, where there is a mod right there.

1. Establish whether molar or mass concentrations are to be used
2. Indicate that all measurements are in mmol/L or mg/dL
- Use variable variables? eg.
BG_HIGH [mmol/L]   ||   BG_HIGH [mg/dL]
BG_LOW [mmol/L]   ||   BG_LOW [mg/dL]

Alternatively place a large warning that step 1. will mean all the other values need to adhere to the option taken in step 1.

3.

[2018-12-12 22:04] daktau commented on #4135
See last comment

[2018-12-13 06:19] PieterGit commented on #4135
I agree this is confusing, but it is documented, see
https://github.com/nightscout/cgm-remote-monitor#alarms

[code]

Reopening. I think for Nightscout 0.12 we must implement that the `BG_*`  must comply to the `DISPLAY_UNITS`  setting.  All user facing variables should follow `DISPLAY_UNITS` style.

[2018-12-14 16:40] daktau opened #4139 "The BG_high value is not being picked up correctly"
Apologies if I am not seeing something obvious here but I cannot see why I only have 1 "line" (which seems to be both doubled up) to indicate the bg_high and bg_target_top whereas I have 2 for each teh bg_low and bg_taget_low.

Could someone explain this please?

<img width="736" alt="screen shot 2018-12-14 at 16 36 12" src="https://user-images.githubusercontent.com/9610778/50015589-da87c480-ffbe-

[2018-12-14 23:16] marionbarker commented on #4132
I was also looking for this.  I typed things from the Day-To-Day with Insulin Distribution checked because I was in a hurry.

[2018-12-15 15:32] xafour opened #4142 "Wrong "Bolus insulin" sum in NS Report"
**Describe the bug**
Bolus Insulin Sum is wrong, when there is a extended bolus reported. On attached picture you can see an example:
On Monday 3.12.2018 there are 7 boluses - in total 14,5U (4+1,2+4+3,3+0,9+0,6+0,5). Additionally there has been one extended bolus 7U (14U/hour, duration 30min) applied.
So the total bolus is 14,5+7=21,5U. In the insulin distribution overwiev are 56,5U reported. Thi

[2018-12-17 18:17] unsoluble commented on #4139
This is because your TARGET_TOP is currently _higher_ than your HIGH, which conflicts with the logic of the two settings; HIGH is the "urgent" value, and needs to be set higher than your TARGET.

[2018-12-17 18:22] daktau commented on #4139
Many thanks!

[2018-12-17 18:56] unsoluble commented on #4135
I'd love to see this change. There's sense to the logic of keeping the internal references to a single unit type, but the config vars _are_ user-facing and do end up causing consistent confusion.

[2018-12-17 18:58] unsoluble commented on #4135
(And things like the "Target BG range" UI in the screenshot at the top of this thread should reflect the DISPLAY_UNITS setting as well — instead of indicating either/or like they do currently.)

[2018-12-17 21:13] unsoluble commented on #4142
Have you determined that this happens with every extended bolus entry? We've only got one data point here to consider.
Also if you could provide the raw entries as a list for that day, would really help with analysis.

[2018-12-18 23:03] PieterGit commented on #4142
@xafour what pump do you use. Can you see if you can find the JSON entries in the MongoDB? Might look at the treatments tab if you spot duplicate treatments. What timezone are you in?

[2018-12-23 17:47] ireneusz-ptak opened #4154 "BG alarms not working as expected"
Here is my setup for alarms:

(X) Urgent High Alarm (240)
() High Alarm (160)
(X) Low Alarm (90)
() Urgent Low Alarm (70)

The issue is I'm getting the alarm when the BG is going over 160. That doesn't seem to be a correct behavior.

I thought this is Android specific, but I got the same issue on my desktop. The alarmUrgentHigh, alarmUrgentLow, alarmHigh and alarmLow variables are set correctly.

[2018-12-27 11:49] AndrewLovettHome commented on #3337
Hello.  I am a newbie and in orr of the work that you guys have done.  Thank you very humbly as your good work has changed my life in the last couple of weeks.

I wanted to offer a thought on uploading exercise data to NightScout.  There is an app called FitnessSyncher that will take activity data from garmin, apple health, google fit, etc. and then send it to many other services. So it can take g

[2018-12-30 12:41] haspden opened #4168 "Add "Blood Sugar" metric/invocation to Alexa Plugin"
In the UK we use the words Blood Sugar often rather than Blood Glucose. It would be nice if we could add "Blood Sugar" to the list of questions we could ask.

Thanks

Henry

[2018-12-31 01:09] unsoluble commented on #4168
Since building the skill currently involves manually pasting in all the syntax anyway, is probably reasonable to leave custom dialect tweaks like this to the end user for now.

[2018-12-31 01:11] unsoluble commented on #4154
What is your ALARM_TYPES set to? Also, do you have "bwp" in your ENABLE?

[2018-12-31 02:47] haspden commented on #4168
Well I don't think it disadvantages anybody so would be nice to have a universal Alexa integration that works for everyone. This after all is about making  these systems accessible ...

I'll take a look at adding "Blood Sugar" and Sugar Levels" etc to it tomorrow or Tuesday and post an update request to alexa plugin files to be reviewed once done.

If anybody has anything else they thing should be

[2018-12-31 02:51] unsoluble commented on #4168
Certainly no harm in it, if you want to do up a PR. Just can imagine it getting out of hand if we start pre-loading it with all conceivable local variations, without maybe re-architecting the thing from the outset with proper language support. But probably nobody's going to do that any time soon, so go for it. :)

[2018-12-31 08:45] ireneusz-ptak commented on #4154
ALARM_TYPES was empty, bwp was not in ENABLE.
Changed the first to simple, added 2nd one, we'll see if that changes anything.

[2018-12-31 08:51] unsoluble commented on #4154
Sorry, should have elaborated — best to *not* have bwp enabled, unless you specifically need it.

[2018-12-31 09:13] ireneusz-ptak commented on #4154
OK, as the simple ALARM_TYPES is the default, nothing should change, right?

[2018-12-31 14:32] PieterGit commented on #3577
This PR has been integrated with the https://github.com/nightscout/cgm-remote-monitor/tree/needs_testing
branch. Please test that branch and report at this issue or at nightscout/cgm-remote-monitor#4169

[2018-12-31 15:53] xafour commented on #4142
It happens with every extended bolus entry, every day. The picture above is just one example.
I will try to get the raw data and send it.

[2018-12-31 15:56] xafour commented on #4142
I use Dana R with updated firmware v2. I will try to export the data from MongoDB and send it. There are no duplicate treatments on the tab. Timezone Europe, Vienna.

[2018-12-31 19:19] ireneusz-ptak commented on #4154
Nothing extraordinary, I think.

basal cage iob sage pump careportal

[2019-01-01 00:11] ireneusz-ptak commented on #4154
No, it's set to off.
I was able to get some information from JS console, but it doesn't look helpful.

index.js:1014 alarm received from server
index.js:1015 notify: {level: 1, title: "Warning HIGH", message: "BG Now: 161 +3 → mg/dl↵IOB: 0.15U", eventName: "high", plugin: {…}, …}debug: lastSGV: 161thresholds: {bgHigh: 240, bgTargetTop: 160, bgTargetBottom: 90, bgLow: 70}__proto__: ObjecteventName:

[2019-01-01 10:31] nmorande commented on #4121
Looking for the same: trying to have a translated skill for nightscout in Alexa. Any manual on how to do it?

[2019-01-02 17:50] ireneusz-ptak commented on #4154
No luck :(

[2019-01-04 18:15] fozatay commented on #3145
Hello same issue but even if I tried both Szymjaw' heroku github and Azure procedures , I could not manage to get the BG data to the Nightscout .

[2019-01-05 10:30] PieterGit commented on #3145
@szymjaw can you try to create a PR for https://github.com/szymjaw/cgm-remote-monitor/commits/carelink-dev-servers against the Nightscout `dev` branch? In that case we can include your code changes in the main repository. I'm reopening this issue so that we notice that there is a PR to merge in future (closed issued don't get our attention)

@fozaty I can't help with this issue, because I'm not a

[2019-01-05 12:31] szymjaw commented on #3145
@PieterGit I will do it on Monday.

[2019-01-05 15:56] norbicz commented on #3145
@szymjaw Could you prepare info/tutorial how to update Heroku with Guardian Connect?

Probably you have done a cool guide for Azure (nightscout.pl page) but I would like to skip MS solution.
I hope it will be possible to prepare Heroku Guardian Connect version :)

I don't know how to update files on Heroku: carelink.js and transform.js
the way it is described for Azure. Not sure where I should edi

[2019-01-05 18:19] unsoluble opened #4188 "mLab failures are non-graceful, need better error handling"
When a user's free-tier mLab storage becomes full (and possibly on other mLab-related failures), the Nightscout frontend does not currently handle this gracefully — typical symptom is a repeated request for the user's API_SECRET.

We should investigate the error handling here, and ideally present an actionable suggestion to the user (along the lines of "it looks like your mLab is full, here's how

[2019-01-05 18:21] unsoluble commented on #4188
(I personally don't have any familiarity at all with the db interface code, or even where all the interconnected parts are located. Would be great to have some expert eyes on this to get the ball rolling at least.)

[2019-01-05 20:16] unsoluble commented on #4188
Oh hey, I didn't notice #4004 there — maybe this is moot? I guess we'll see once 0.11 rolls out and gets used in the wild, but if I'm reading those changes correctly we might not have this problem any more.

[2019-01-05 21:16] jpcunningh commented on #4188
A key need to help updating the code to be more resilient against database full errors is to obtain the Nightscout console output of events when it crashes due to a full database.

I know when it happens, I'm focused on getting Nightscout operational again rather than troubleshooting. It's amazing how much we depend on something we didn't know anything about a year ago! If anybody is willing to he

[2019-01-05 21:21] sulkaharo commented on #4188
After having debugged a few crashed instances, looks like part of the problem is that most Nightscout users have an old release that also doesn’t handle Mongo connection breaking. So figuring out how to get users to update would also be good.

[2019-01-05 23:43] PieterGit commented on #4168
@haspden Of course univeral Alexa integration is nice. Even nicer is: universal Alexa and Google Home and <<fill in some other speech solution>> integration.

@unsoluble  is right that there are some serious issue with the current Alexa implementation. That's why several Alexa PR's are postponed until 0.12 for now. Please browse the issues/PR's for more information on the open Alexa/Google Home is

[2019-01-07 04:02] jpcunningh commented on #4188
I successfully tested filling the `entries` collection until inserts failed due to insufficient space this evening. Nightscout handled it gracefully.

From what I can tell, `devicestatus` and `entries` seem to fail gracefully with the current `dev` branch. I still have to test `treatments`.

[2019-01-07 07:40] PieterGit commented on #4188
@danamlewis and me pointed @Dave9111 to some documentation on these problems. Gitter discussion starts here: https://gitter.im/nightscout/cgm-remote-monitor?at=5c324b145ec8fe5a85100157
I think it would also help to improve the user documentation for this so that we can refer people with Nightscout 0.11+ to a good documentation page. I created https://github.com/nightscout/documentation/issues/2 fo

[2019-01-09 12:47] tuzoenduro commented on #1955
@jasoncalabrese where do I set this up? I'm trying to upload carbs from a shortcut in IOS and keep getting this message.. thanks for the help

[2019-01-11 21:35] PieterGit commented on #4121
@x3nr1qu3x @nmorande Have a look at the other `speech-alexa` issues/PR's (both open and closed). The Alexa plugin not only needs translations but also quite some refactoring unfortuately. So improvements are postponed until 0.12 for now.

[2019-01-15 10:16] sulkaharo commented on #4142
Just to make sure - is the list in the ticket comprehensive? You're not using xDrip or any other app? We've discovered that if you at least run AAPS and xDrip on the same phone and have configured both to upload data to NS, it'll create duplicated records and lead to this report showing extra insulin and carbs based on the duplicated data.

[2019-01-15 15:22] #3792 closed

[2019-01-16 22:06] PieterGit opened #4208 "moment-timezone/data/packed/latests.json adds 901Kb to the bundle"
Current bundle has 900kb of moment-timzone data. See webpack bundle analyzer screenshot below.
![image](https://user-images.githubusercontent.com/6500826/51281380-84090e00-19e2-11e9-8e43-8d344608d2c5.png)

There is an interim fix available at:
https://github.com/iamakulov/moment-locales-webpack-plugin/issues/17#issuecomment-452148122
but then we need to specify all timezones Nightscout is used in.

[2019-01-16 22:33] jennysloan opened #4210 "Add the ability to delete/remove CGM readings"
In the Nightscout UI, the edit button does not allow the user to delete CGM readings.

This feature would be desired because when CGM device needs to be calibrated, the readings are not accurate. This is problematic if using NS reporting and erroneous high/low readings are included.

The edit button could be written to allow all data to be editable.

[2019-01-17 06:21] sulkaharo commented on #4208
Nightscout is basically used in all time zones, so predefined locales is probably not an option.

[2019-01-17 10:36] sulkaharo commented on #4208
#4211 might actually fix this

[2019-01-18 21:36] unsoluble opened #4214 "ar2 Alexa integration doesn't do mmol"
When an ar2 response is given to an Alexa query, it should honor DISPLAY_UNITS. Currently does not.

[2019-01-19 01:45] unsoluble commented on #4214
(I don't have a proposed fix at this point, just ticketing to put it on the radar. If anyone actually familiar with the ar2 plugin or alexa stuff in general could take a look, that'd be great.)

[2019-01-19 05:15] many7695 commented on #4168
I have been using alexa
https://github.com/nightscout/cgm-remote-monitor/blob/master/lib/plugins/alexa-plugin.md
It does work mostly, I have my reading in mmol, alexa gives mr my BG in mmol, but when asking for my ar2 forecast it gives my readings in mg. Any ideas how to fix it

[2019-01-20 15:52] SargentChris commented on #938
I've updated to latest repo but I still get this issue.

[2019-01-20 15:56] SargentChris opened #4220 "Still have an issue with clock"
I have updated to the latest version (or at least I think I have -0.10.3-master-20180805 ) but I still have an issue when using clock mode in that it only shows in mg/dl rather than mmol/l

[2019-01-20 20:55] unsoluble commented on #4220
The clock views pull your preferences from your Config Vars; need to have DISPLAY_UNITS set to "mmol".

[2019-01-21 23:36] PieterGit commented on #2045
Issue still exists. Lets put it on the list for 0.12.x

[2019-01-24 14:14] DougKremer commented on #4132
Agree,  would love to see daily totals for carbs, insulin units (bolus, basal, and total) in the daily stats tab.

[2019-01-25 08:55] SlodkaOlga opened #4233 "Color-Clock: BG and trend arrow in one line"
Hi!

I would like to have a second color-clock type page with BG and trend arrow in one line. This will be a great solution for old 7-inch tablets

Thanks!

[2019-01-25 16:35] unsoluble commented on #4233
I don't think the UI can reasonably support any more clock types. I had thought of eventually looking at making them modular somehow, so that things like the time and delta and arrow could be added/removed at will, and possibly rearranged in the layout. But that's a pretty major project that's off in the future somewhere.

If you want a custom version in the meantime, best to just tweak in your ow

[2019-01-26 22:47] PieterGit opened #4236 "feat: Simplify Profile storage"
**Describe the bug**
I noticed we use a `startDate`  at `profile` and at `profile>store>PROFILENAME` level.
When you `Clone this record to new` all Stored profiles will be duplicated.

I also noted that when you clone it `profile.store.PROFILENAME.startDate` will be set to `1970-01-01T00:00:00.000Z` instead of the `startDate` at `profile.startDate` level.

**To Reproduce**
Use JSON editor for prof

[2019-01-26 22:54] PieterGit commented on #3567
@mpangburn @MilosKozak No response more than half a year. Postponing to 0.12 and I will close it in february due to inactivity.  If you are not interested in this PR anymore please close it. Perhaps it's good to check on Slack that the v3 API will support these use cases.

[2019-01-27 20:32] PieterGit commented on #4233
@SlodkaOlga I would not wait, but start coding 😄 . If you need help feel free to ask for help at https://gitter.im/nightscout/public

Without doing stuff nothing will happen... Closing this issue for now. Feel free to reopen or PR a generic approach.

[2019-01-27 20:32] #4233 closed

[2019-01-27 20:35] SlodkaOlga commented on #4233
if only I could... :D :D :D I will ask for help :)

[2019-01-29 08:45] oleg-post opened #4243 ""npm install" command is stuck at 20% of execution (shows "networ...")"
**Your setup information**
- version of Nightscout (0.10.3-master-20180805)

[2019-01-29 14:04] #4243 closed

[2019-02-01 17:49] DonaldBough commented on #4132
Is this something in progress yet? I'd love to add it in, wanted to make sure I wasn't stepping on someone's toes who already started

[2019-02-01 18:13] DonaldBough opened #4249 "Update UI color schemes similar to xDdrip/Spike"
**Is your feature request related to a problem? Please describe.**
While the hacker in me understands the web client's 80s terminal color scheme, with apps like xDrip and Spike I know the web client can have a pleasant UI color scheme. The black, grey, and neon colors were intimidating to me when I first began using nightscout.

**Describe the solution you'd like**
I want to add a new "Theme" to c

[2019-02-02 14:52] PieterGit commented on #4059
@nealgriffin Are you still interested in fixing/improving this PR? This is a nice beginner task to improve the docs in the code. If you need help, please visit https://gitter.im/nightscout/public
Postponing to 0.12.x release for now.

[2019-02-02 14:54] PieterGit commented on #3577
Assuming fixed. @Dave2526 can you report if the fix works for you on RPI?
Closing issue.

[2019-02-02 14:54] #3577 closed

[2019-02-02 14:57] PieterGit commented on #3635
@fromorbonia Can you please review this bug report and take appropriate action. This has been inactive for more than halve a year. Closing due to inactivity. Please open a new issue for a bug report and link it to this issue.

[2019-02-02 14:57] #3635 closed

[2019-02-02 15:00] PieterGit commented on #4003
Postponing to 0.12.0.
@unsoluble still interested in improving the UI as suggested at https://github.com/nightscout/cgm-remote-monitor/issues/4003#issuecomment-430805353 ?

[2019-02-02 15:26] PieterGit opened #4252 "Profile editor changes in the client UI are reverted due to being temporary offline / socket.io call"
**Describe the bug**
Changes to the profile disappear if the user is temporarily offline and the profile`socket.io` is called

**To Reproduce**
Steps to reproduce the behavior:
1. Edit a profile `/profile`, e.g. change the name of the profile.
2. Disconnect the clients Internet connection (remove network cable or disable WiFi)
3. Wait approx 30 seconds
4. Console log shows `GET /socket.io/?EIO=3&t

[2019-02-02 15:54] PieterGit commented on #4056
Fixed with https://github.com/nightscout/cgm-remote-monitor/pull/4074

[2019-02-02 17:20] unsoluble commented on #4003
Yeah I'll take another look at this eventually.

[2019-02-02 17:46] unsoluble commented on #4249
If you're into making up a new theme option and PRing it, will happily review.

[2019-02-03 00:48] PieterGit commented on #2530
@tomasboudr  can you confirm that you can still reproduce this issue with 0.11-dev branch. If not, I need to close this issue due to inactivity.

[2019-02-03 12:57] tomasboudr commented on #2530
It appears fixed.

On Sat, Feb 2, 2019 at 7:48 PM PieterGit <notifications@github.com> wrote:

[2019-02-03 14:08] #2530 closed

[2019-02-03 16:15] wootmasterslick opened #4255 "when ns is set to use mmol/l the Target bg range values in config file cannot be set in mmol/l"
**Describe the bug**
See title

**To Reproduce**
Steps to reproduce the behavior:
1. Go to config file
2. Set NS to use mmol/l for displaying and entering data
3. set tgt bottom range to 4 and top range to 10
4a. in the overview screen the 4 and 10 are assumed to be input in mg/dl and converted to mmol/l resulting in tgt lines set to 0.1 mmol/l and ending up in bottom of graph
4b. in the reports s

[2019-02-03 16:54] git-commit commented on #3599
Somehow this is still an issue. Did you notify the glimp developers about this yet @sbalmer?

[2019-02-04 09:46] wootmasterslick opened #4258 "No button text visible on API secret entry screen (Device authentication) on mobile browsers"
**Describe the bug**
See title

**To Reproduce**
Steps to reproduce the behavior:
1. Go to nightscout profile page
2. Click on authenticate device
3. Enter API secret
4. See that the acknowledge area has no inage to define the OK action

**Expected behavior**
Image at the position indicating where to click to acknowlegde API secret entry.

**Screenshots**
https://imgur.com/gallery/otZrcVq

**Your

[2019-02-05 06:35] unsoluble commented on #2507
Yeah I don’t know anything about the d3 library — was hoping someone who actually worked on this code might be able to chime in, save me having to figure it all out from scratch. But I’ll take a look at the code if I get a chance.

[2019-02-05 19:10] roppenheimer opened #4264 "/swagger.yaml not working on 0.10.3-master-20180805"
https://<My-Site>/swagger.yaml is not working on 0.10.3-master-20180805 it simply give an error that the page cannot be found

=======

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you e

[2019-02-05 19:36] zehnBE commented on #4264
in app.js in Line 104 (master) and Line 138 https://github.com/nightscout/cgm-remote-monitor/blob/85e6916dda95e362ae78ba296ca47894087e9025/app.js#L138 there is swagger.json already exempted and works. This is needed for "swagger.**yaml**" too or it is possible, to make filename dynamic like this (i dont know, if it will work)?:
`

    app.get('/swagger.'+(json|yaml), function(req, res) {

[2019-02-05 19:39] roppenheimer commented on #4264
I have raised an issue on Github.

From: zehn.be [mailto:notifications@github.com]
Sent: 05 February 2019 19:37
To: nightscout/cgm-remote-monitor <cgm-remote-monitor@noreply.github.com>
Cc: roppenheimer <richard@appraisal360.co.uk>; Author <author@noreply.github.com>
Subject: Re: [nightscout/cgm-remote-monitor] /swagger.yaml not working on 0.10.3-master-20180805 (#4264)

in app.js in Line 104 (mas

[2019-02-05 20:07] unsoluble commented on #4258
Can confirm this in MobileSafar on 0.10.3 as well. Not sure where the code for this UI is.

[2019-02-05 21:49] PieterGit commented on #4258
@wootmasterslick @unsoluble
I assume you mean the `Update` text in the button in the lower right is missing. That's not an image, but text. I can't reproduce this with Chrome and `0.11.0-rc1-20190205`. Can you try:
- try to select the text in the button. Eg. I can select the button text:
![image](https://user-images.githubusercontent.com/6500826/52306462-52a7b080-2998-11e9-9acf-1f83193e3514.png)
-

[2019-02-05 22:11] unsoluble commented on #4258
It's text, yes, but it's rendering as black-on-black in mobile browsers. Do you know which file this interface window is located in?

[2019-02-06 06:33] PieterGit commented on #4258
Workaround is to set the mobile browser into "Desktop site" mode, but I agree we need to redesign this popup for mobile.

The Device authentication popup window also too wide with Chrome on Samsung S7, but the button text "Update" is shown with that mobile browser.

Please PR against the `dev` branch. The code can be found here
https://github.com/nightscout/cgm-remote-monitor/blob/52e1ff054c98a6c0

[2019-02-06 22:12] unsoluble commented on #4255
This is being discussed in #4135

[2019-02-07 06:33] PieterGit commented on #4214
Unfortunately both the `ar2` and `alexa` plugins are currently unmaintained, see https://github.com/nightscout/cgm-remote-monitor/blob/dev/CONTRIBUTING.md#plugin-contributors

[2019-02-07 11:19] sulkaharo commented on #4258
#4270 fixes this for the button on iOS. @PieterGit says the UI also fails on Android Chrome, but in different ways. Can someone test on Android and post pictures?

[2019-02-08 00:14] KheldarUK opened #4280 "0.11 is rejecting API secret after upgrade"
**Describe the bug**
When entering API secret, error messaged is displayed - wrong secret

**To Reproduce**
Steps to reproduce the behavior:
1. Update using updater to 0.11
2. Load site
3. Enter API secret

**Expected behavior**
After entering API secret, log in succesful

**Additional**
Have restarted dynos, re-deployed, changed secret, various combinations of these three. API is not accepted by

[2019-02-08 00:15] PieterGit commented on #4280
@KheldarUK we just fixed a problem with 0.11, and are working on releasing 0.11.1.
Can you deploy master again, and confirm that that fixes your problem?

[2019-02-08 00:29] KheldarUK commented on #4280
0.11.1 resolved - thank you all <3

[2019-02-08 00:29] #4280 closed

[2019-02-08 22:04] auxlife commented on #4280
I'm having the same issue..

[2019-02-09 14:44] live4sw opened #4307 "Site not defaulting to HTTPS in Chrome"
When I attempt to open my site without specifying "https://" in Chrome Version 71.0.3578.127 (Official Build) (64-bit), I receive the message "Connecting to Nightscout server failed, retrying every 2 seconds"

As long as I include https:// in the URL, it loads fine. It also loads correctly in Safari without entering "https://"

Developer Console in Chrome states:

[Deprecation] Application Cache i

[2019-02-09 17:03] OpossumGit commented on #4307
I had this problem until clearing browser data. Probably cookies. This fixed Chrome problem both on iPhone and Android.

[2019-02-09 17:26] live4sw commented on #4307
Clearing browsing history didn't fix this for me, but clearing cache and cookies did. Anyway, that was a simple fix. I am going to close this issue.

[2019-02-09 22:07] PieterGit commented on #4307
@live4sw Thanks for filing the issue. We should find a way that clearing the cache or cookies should not be necessary. I don't understand why the server redirect does not work in these cases. @sulkaharo @jpcunningh  any idea?

[2019-02-10 18:11] rogue-bryan opened #4322 "App Lockup in Browser"
**Describe the bug**
Ever since I've started using nightscout on heroku, I've had to restart my browser and/or the app on iOS on a daily basis because it locks up. I was hoping with the new release of Ice Cream that this would be fixed, but its not.

**To Reproduce**
Its very consistent:
1. let the app run in browser for at least 12 hours in (web browser or iOS)

**In browser after more than 12 ho

[2019-02-11 08:08] unsoluble commented on #4322
Do you have an Uptime Robot (or similar) running? Wondering if it's just that your app is sleeping.

[2019-02-11 16:12] lsandini opened #4333 "Average daily insulin dose in Reports - Distribution"
I'd love to see the average daily insulin dose in the aggregated "Distribution" page of the reports, as an indicator of openAPS/AAPS/Loop use.

Would that be difficult to implement ?

[2019-02-12 00:17] rogue-bryan commented on #4322
Hmm, is this something we'd need? I hadn't read anything about that (I probably missed it) I can certainly set one up, any recommendations?

[2019-02-12 00:28] unsoluble commented on #4322
Depending on how your data is getting into Nightscout, it may be necessary in order to keep the app from sleeping. Typically required for bridges, but I'm not entirely sure whether a Loop setup needs it. No harm in setting it up, anyway; might as well. Instructions are near the bottom of [this guide](http://www.nightscout.info/wiki/welcome/set-up-nightscout-using-heroku), in the "Dexcom Share brid

[2019-02-12 00:34] rogue-bryan commented on #4322
Doh! I definitely didn't read the full docs! If its ok, I'll keep this open for a couple more days. Definitely will know if it was user error at that point.

Thanks!

[2019-02-12 15:49] stavlor commented on #4010
Hmm, I could be mistaken but I'm using an nginx infront of node setup and this doesn't affect API but appears to break the actual site in this config.

[2019-02-12 15:50] stavlor commented on #4010
Site just repeatedly does this
![image](https://user-images.githubusercontent.com/1867987/52648152-025ab200-2eb4-11e9-9135-02959a1ee9b6.png)

[2019-02-12 16:58] cramis1 commented on #3962
Hi Phil, did you ever find a solution to this problem?

[2019-02-12 17:07] sulkaharo commented on #3962
This would be a missing feature on the Fitbit watchface and not a Nightscout bug. The recent delta information calculation is available over REST at /api/v2/properties - you might want to pass this information to whomever has made the Fitbit watchface implementation.

[2019-02-13 18:15] maskac opened #4357 "Incorrect version of nodejs in docker.example file in actual master"
In actual docker.example file si nodejs 8.9.1, but 11.1 not functional with it.
Version 11.9 not functional too (message you must upgrade).
Version 10.15.1 see functional.

[2019-02-15 00:56] chrieke opened #4363 "Add "minutes ago" to clock face"
Hi, thank you for your great work.

Would it be possible to add the "5 min ago" value to one of the clock displays, preferably the color display. I know that the color display switches to grey if there have been no new values for 15-20min. But especially with a small child this is a long time and does not give the pre-kindergarden staff or parents at home the same sense of "security" as knowing th

[2019-02-15 02:03] #4322 closed

[2019-02-15 02:03] rogue-bryan commented on #4322
Seems to be working as designed. My lesson? RTFM!  Thanks for the help @unsoluble!

[2019-02-15 15:45] unsoluble commented on #4363
Hi there, I wrote the clock-color view. It was designed to serve a particular purpose — of being extremely clear to read on small devices from across the room — so I'm not really into complicating it further. Couple things tho:

You can change the time it takes to go stale (grey) in your own fork to suit your needs really easily — just look for `var staleMinutes = 13;` in `/views/clock-color.html`

[2019-02-15 16:55] Meekelis opened #4366 "Crash on startup (cacheBusterToken)"
**Describe the bug**
Cgm-remote-monitor crashes on starting server.js.
`Error: ENOENT: no such file or directory, open '/home/nightscout/nightscout/cgm-remote-monitor/tmp/cacheBusterToken'`

**Environment**
[code]

**Start script**
[code]

**Output**
[code]

**Other**
Cloned today from:
`https://github.com/nightscout/cgm-remote-monitor.git`

Unsure how to reproduce. New to node.js and Nightscout.

[2019-02-16 12:04] Meekelis commented on #4366
`touch cgm-remote-monitor/tmp/cacheBusterToken` solves issue with no immediate consequences.

[2019-02-16 12:37] sulkaharo commented on #4366
This sounds like you’ve run npm as root when installing Nightscout. Chown all the files to the right user (www?) and run npm install as that user and it’ll work

[2019-02-16 13:09] Meekelis commented on #4366
That's exactly right.

[2019-02-16 21:48] PieterGit commented on #4366
Closing PR. Reporter @Meekelis report he installed it as root as @sulkaharo suggests.

@Meekelis if you can improve the docs, like https://github.com/nightscout/cgm-remote-monitor/blob/dev/README.md please do and create a PR. It currently lists
"As a non-root user clone this repo then install dependencies into the root of the project:". I agree it can be made more clear in the docs so that people

[2019-02-16 21:48] #4366 closed

[2019-02-16 21:50] PieterGit commented on #4357
@maskac The docs only allow latest Node 8 or Node 10 LTS. Can you PR the file https://github.com/nightscout/cgm-remote-monitor/blob/dev/Dockerfile.example to use the Node 8.15.0 or Node 10.15.1 version and test to see if that make is work again?

[2019-02-16 21:54] maskac commented on #4357
Yes, i am allready tests with

"FROM node:10.15.1"

and works fine.

[2019-02-17 01:24] chrieke commented on #4363
Hi, thanks for the detailed reply, that is super helpful. Reasonable thought process. A modular approach would def. be the best solution longterm. Little web dev. experience, but currently figuring out how I can best contribute to the community. Thanks again!

[2019-02-17 01:25] #4363 closed

[2019-02-19 20:43] m-a-v commented on #4357
I'am running Nightscout for several days with "FROM node:10.15.1". I think the best option would be to use the Alpine image. I will do some tests with Alpine and if successful create a PR.

[2019-02-19 22:25] m-a-v commented on #4357
I have added a PR.

https://github.com/nightscout/cgm-remote-monitor/pull/4392

[2019-02-21 04:50] philabetes commented on #3962
Hey, I forget how it was fixed, but I don't have this problem anymore!

*Phil*

On Tue, 12 Feb 2019 at 12:07, Sulka Haro <notifications@github.com> wrote:

[2019-02-21 07:22] PieterGit commented on #3962
Rerporter @philabetes says issue is fixed. The issues wasn't a Nightscout issue, but a Fitbit watchface issue. Closing issue.

[2019-02-21 07:22] #3962 closed

[2019-02-21 08:13] PieterGit commented on #4258
Closing issue. Is fixed in 0.11.1 with fix of @sulkaharo .

[2019-02-21 08:13] #4258 closed

[2019-02-21 12:06] roppenheimer commented on #4264
This issue is now resolved.

[2019-02-21 12:06] #4264 closed

[2019-02-22 21:18] PieterGit commented on #4220
@SargentChris Latest released version is 0.11.1. That version is recommended.
Did @unsoluble comment help you fix the clock issue?

[2019-02-24 18:41] daveewall commented on #4010
I had the same problem.  My server’s drive recently died, and I had to recreate my docker-compose images.  When I did this, my Nightscout image rebulit with the latest node (which was easily fixed in the Dockerfile), but then with the right version of node, it built the new master branch, which was 0.11, and I got a redirect loop, despite going to https first (evidenced in chrome devtools).  Both

[2019-02-24 21:55] PieterGit commented on #4357
Fixed by merging https://github.com/nightscout/cgm-remote-monitor/pull/4409
Closing PR. Thanks @m-a-v

[2019-02-24 21:55] #4357 closed

[2019-02-25 08:30] m-a-v commented on #4357
Thanks for the merge :-)

[2019-02-26 20:45] tanja3981 opened #4422 "Link to alexa documentation is broken"
The link to the alexa documenation from https://github.com/nightscout/cgm-remote-monitor to "detailed (alexa) setup instructions)" is broken, currently leading to https://github.com/nightscout/cgm-remote-monitor/blob/master/lib/plugins/alexa-plugin.md, which seems to have gone missing.

[2019-02-28 03:32] thecubic opened #4427 "Infinite redirects on 0.11 upgrade"
**Description**
On upgrade to 0.11, a setup stopped working as a web endpoint.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a 0.10.3 setup using a https URL and custom port
e.g.
PORT=1234
BASE_URL=https://my.cloud.server:${PORT}
2. Upgrade to Node 10.15.1 and version 0.11
3. Reload base URL
4. Page displays "Connecting to nightscout server failed..."
5. Previously-loaded pages cont

[2019-02-28 19:04] sadiemcg9 opened #4428 "Following"
Please include the following information with your bug report:

Is this a new bug with the latest release, have you seen this earlier?

Which device / browser version was used to reproduce the bug?

Does this happen every time you launch Nightscout, or sometimes?

Steps how to reproduce (if you can’t reproduce the issue, please don’t report the issue / if we can't reproduce the bug, we can't fix)

[2019-02-28 20:16] #4428 closed

[2019-03-01 14:41] wootmasterslick opened #4430 "values in AAPS are deleted/modified before or during the synchronization with nightscout"
**Describe the bug**
When uploading and downloading data it can occur that values in AAPS are deleted/modified before or during synchronization with nightscout. These deletions then cause errors in the IOB calculation.

**To Reproduce**
Steps to reproduce the behavior:
1. Activate NSclient (with full sync permission) and deactivate connection to internet
2. Collect a (preferably large) que of data

[2019-03-01 14:44] wootmasterslick opened #4431 "values in AAPS are deleted/modified before or during the upload to nightscout"
**Describe the bug**
When uploading and downloading data it can occur that values in AAPS are deleted/modified before or during the upload to nightscout. These deletions then cause errors in the IOB calculation.

**To Reproduce**
Steps to reproduce the behavior:

    1. Activate NSclient (with full sync permission) and deactivate connection to internet

    2. Collect a (preferably large) que of d

[2019-03-01 14:45] wootmasterslick commented on #4431
Closing, this is a double post

[2019-03-01 14:45] #4431 closed

[2019-03-01 14:49] wootmasterslick commented on #4430
As this problem can also be AAPS related I have posted this also on https://github.com/MilosKozak/AndroidAPS/issues/1648

[2019-03-01 19:34] philipgo commented on #4236
I stubled upon your report after experiencing an error when trying to create a new profile.

**To Reproduce**
I have a profile data record containing two profiles. When I either
a) "Clone this record to new" (the entire dataset) without making any further changes or
b) Add a third profile to the existing record
Nightscout will mix up the profile history in reports.

Correct profile history before

[2019-03-01 22:49] philipgo commented on #4236
I played a bit with the MongoDB entries for the record set. Neither changing the ```"startDate"``` of the individual profiles to a date after the creation of the record set nor changing the individual profile names to unique names fixes the mixup in our reports.

However, I think that the error might not lie where you suspected it to be.

Start dates of a profile activation are saved in the treatm

[2019-03-02 12:38] philipgo commented on #4236
@MilosKozak @sulkaharo I think you implemented the relevant parts of this. I am not very good at reading code: Am I correct that cgm-remote-monitor/lib/profilefunctions.js contains a function to identify the active profile at a given time? (e.g. start of a new day)

If so, could it be that this is wrongly used in cgm-remote-monitor/lib/report_plugins/daytoday.js ?

Profile switches during the day

[2019-03-04 18:27] unsoluble opened #4442 "Basal plugin erroneously required for Profile Editor link"
When the `basal` plugin is not included in `ENABLE`, the "Profile Editor" link does not appear in the main NS menu. This should not be the case.

![screen shot 2019-03-04 at 10 24 18 am](https://user-images.githubusercontent.com/801582/53754121-d9509000-3e67-11e9-8138-0b2b234cc6f9.png)

Have tested on three different sites running 0.11.1 (although I think this behaviour predates 0.11, as I've seen

[2019-03-05 00:33] PieterGit commented on #4442
I think this is caused by
https://github.com/nightscout/cgm-remote-monitor/blob/48c0f59088f42ff767b401390f8aa857a1376ca1/lib/client/index.js#L1073

[2019-03-05 01:55] unsoluble commented on #4442
Could you elaborate? I'm not seeing how the presence of `basal` would affect that line either way.

[2019-03-05 06:57] PieterGit commented on #4442
@unsoluble Sorry to be unclear. The link to the Profile Editor is enabled with the `.profilecontrol` toggle.  See https://github.com/nightscout/cgm-remote-monitor/search?q=profilecontrol&unscoped_q=profilecontrol or specific:
https://github.com/nightscout/cgm-remote-monitor/blob/48c0f59088f42ff767b401390f8aa857a1376ca1/views/index.html#L170

I don't know yet how not including `basal` in the `ENABL

[2019-03-05 08:57] unsoluble commented on #4442
Ahhh okay, thanks for clarifying. I thought maybe you had found the link to `basal` in that line, was hurting my brain trying to see it. :)

[2019-03-05 15:10] quizzmaster opened #4446 "Profile switch with timeshift is not handled correctly"
Performing a profile switch with a timeshift within AndroidAPS leads to incorrect basal rates within nightscout. Also the showed ISFs/ICs are wrong.

Steps to reproduce the behavior:
1. Perform a profile switch with a timeshift in AndroidAPS
2. Look at the shown basal rates in nightscout

I'm using version 0.11 of nightscout

Nightscout should correctly shift the profile according to the timeshift

[2019-03-05 16:38] TypeHere2 opened #4447 "Treatment reports fail to render without CGM Data"
**Please include the following information with your bug report:**
Currently using Nightscout without a CGM (waiting on new transmitters from Dexcom), so continuing to enter in BG Checks, Carbs, Insulin, etc. 'as usual' to keep data in one place. When trying to open the treatment reports to fix an entry, it seems the reports will not render unless I start on a day that has CGM data.

Instead, it d

[2019-03-05 17:05] unsoluble commented on #4442
Haven't verified this yet, but possible answer: The `profile` plugin is in the defaults now, and I'm guessing this `indexOf` test isn't checking against those, but only the manually-enabled plugins. The `basal` plugin is labelled "Basal Profile" — so the test is confirming "profile" from that.

Regardless: Since `profile` isn't an optional plugin any more, I don't see any reason for this toggle ch

[2019-03-05 19:47] PieterGit commented on #3499
@jimrandomh I assume https://github.com/nightscout/cgm-remote-monitor/pull/3500 fixed this issue? If not, please feel free to reopen this issue.

[2019-03-05 19:47] #3499 closed

[2019-03-05 20:56] unsoluble commented on #4442
Fixed in #4448.

[2019-03-05 20:56] #4442 closed

[2019-03-06 17:11] 2flea opened #4454 "Delta display in tab and page are not the same"
![fb_img_1551892297680](https://user-images.githubusercontent.com/38214111/53899896-84657300-403b-11e9-8819-0ddcc97e7c25.jpg)
Delta display in tab and page are not the same. I use G6 native with xDrip+ (latest nightly). I need to refresh the page to refresh the tab value - then they are in sync. It seems the delta of the tab is always the one of 5 min ago.

I am on version 0.11.2-dev-20190301

[2019-03-07 19:15] Nightfoxy opened #4455 "Battery Reading only shows one of each phone type even if multiple phones are used"
**Issue Description**
Battery pill shows the lowest phone using xDrip+, not just the master.

Battery pill hover shows battery level of all phones using xDrip+ per device type. Only one line item is showing for the LGE Nexus 5X that has the lowest battery percentage. We are using 2 LGE Nexus 5X devices, so there should be 2 lines.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup 2 phone

[2019-03-08 13:03] Pogman opened #4461 "NS API will not delete treatments (regression in v0.11.1)"
Using NS v0.11.1

Deleting treatments from the NS db with the http DELETE --> https://xxxxxxxx.herokuapp.com/api/v1/treatments/5c7ff3a24d6b7ce7ffe84284 form works but seems to not actually be deleting treatment items older then a certain period (~4 days) but yet NS api returns as a successful operation.

Testing by reverting to NS v0.10.3 works as expected .

https://github.com/pazaan/600SeriesAnd

[2019-03-09 00:33] jpcunningh commented on #4461
This is due to modifying the treatments DELETE API to comply with the query formats used by the other collections and other query API formats.  Part of the standard format is that if a date is not provided in the query, a date is added by `enforceDatefilter` to add a date requiring the matching records be no older than 4 days old.

[2019-03-09 11:52] PieterGit commented on #4461
@jpcunningh @Pogman Can either of you summarize what we need to do. Am I right this is a regression, or is it something that @Pogman expected to work, but never worked for treatments. I don't think I fully grasp the issue, and never delete treatments (except for indiviual ones with the Nightscout UI and that works for me)

[2019-03-09 12:56] Pogman commented on #4461
The .../api/v1/treatments/<id> has always worked as expected pre v0.11.1 and was in fact the only way to delete a treatment as no other method existed.

This method still works but is now limited to 4 days max and I would recommend changing it so as to not be limited so that deleting directly by id always works. Having a default limit for the new query based stuff seems fine.

One side effect of t

[2019-03-09 13:01] Pogman commented on #4461
You might want to check the NS reports treatments section in case the treatment editing and delete functions still work as expected for items older the 4 days.

[2019-03-09 18:45] jpcunningh commented on #4461
@PieterGit, should we remove the `enforceDatefilter` requirement for DELETE method on all of the collections if an ID is provided?  This makes sense to me since if you have the ID, you have gone through the data enough to know a specific record you wish to remove, so the risk of accidental deletion is much lower.

[2019-03-11 19:23] PieterGit commented on #4427
@thecubic please clean your cache before accessing the upgraded Nightscout. That should solve the issue. Please confirm that clearing the cache fixes the problem for you.

[2019-03-11 20:11] sulkaharo commented on #4427
How have you setup ssl? Check the release notes for how to disable https forwarding if this is through a proxy

[2019-03-12 11:15] KheldarUK opened #4470 "Week to week report doesn't add up"
**Describe the bug**
Running my weekly successes report I get 101% adding up Low, In Range and High for last week.

**To Reproduce**
Steps to reproduce the behavior:
Run the weekly successes report over the previous month

**Expected behavior**
Total of these values is 100%

**Screenshots**
![image](https://user-images.githubusercontent.com/29229592/54195875-bbaea680-44b7-11e9-970c-2e1b1b1341ab.pn

[2019-03-12 22:43] unsoluble commented on #4470
This is clearly just a result of each individual value being rounded (up, in this case), leading to an implied false total. I don't think it's really a bug, per se, unless the total was subsequently being used in another calculation.

[2019-03-12 23:11] KheldarUK commented on #4470
Fair play John, I just thought I’d mention it :)

[2019-03-12 23:12] #4470 closed

[2019-03-13 07:33] PieterGit commented on #4461
@Pogman @jpcunningh can one of you PR this change? (and perhaps provide an extra unit test that will test this behaviour?). Please let me know if you can do this soon (and that we merge it with 0.11.2) or that it will take some time (and we'll merge it with 0.12).

[2019-03-13 08:47] fozatay commented on #3676
having exactly the same problem above. Any help is appreciated I am using the latest version of nightscout

[2019-03-13 11:41] JoseeT1Bionique commented on #3676
My problem was solved by rekeying values into the Carb Ratio fields of NS. I had removed them because they were irrelevant, but I guess they were required, in my case, for the COB pill to display.

Hopefully this helps.

Josée

[2019-03-15 05:03] thecubic commented on #4427
`curl` does not have browser cache or cookies or anything of that nature.  I started a second instance on a different port with the only difference being the release version.   I accessed this through an incognito browser session, and it yields `ERR_TOO_MANY_REDIRECTS`, whereas in the same session `release/0.10.3` loads fine.

I am using SSL directly through Node's listener by setting `SSL_KEY` /

[2019-03-15 12:18] sulkaharo commented on #4236
@philipgo Profile being wrong at the start of the day sounds like the reporting doesn't have the correct profile switch statement available for the start of the day. That part is all Milos' work and I personally think we should refactor the profiles so the profile data objects would be simpler and all contained in a single collection rather than mixing treatments and profile data the way it's now

[2019-03-17 00:31] tzachi-dar commented on #4461
I have tried doing a delete with also giving the date string, but it still did not work.
I give the command:

curl -s -g  https://snirdar-dev.herokuapp.com/api/v1/devicestatus.json?find[_id]=5c8d8c1517444b00048b4aba\&find[created_at]=2019-03-16T23:51:49.138Z

On papertrail I see:
Delete records with query:  { find:
Mar 16 17:26:59 snirdar-dev app/web.1:    { _id: '5c8d8c1517444b00048b4aba',
Mar 16

[2019-03-17 02:10] Pogman commented on #4461
@tzachi-dar query based deletes work, you have a '\' that should not be in there

api/v1/devicestatus.json?find[_id]=5c8d8c1517444b00048b4aba&find[created_at]=2019-03-16T23:51:49.138Z

[2019-03-17 02:26] Pogman commented on #4461
Misread your comment thinking it was for treatments!

For devicestatus it should be the same but I'm only certain for treatments.

[2019-03-17 03:34] jpcunningh commented on #4461
@tzachi-dar, are you able to test PR #4481?  I believe it will allow you to delete a record by _id without requiring a date.

[2019-03-17 11:06] tzachi-dar commented on #4461
Thanks for the answers:
@Pogman I need to escape two strings because of the shell "&" and $ (for example $lte)
So, this does work:
curl -s -g https://snirdar-dev.herokuapp.com/api/v1/devicestatus.json?find[created_at][\$lte]=2019-03-10T05:55:10.312Z

It now seems that I can delete things while specifying both datestring and id. For example the following line works:
curl -X DELETE -H 'API-SECRET: 9

[2019-03-17 13:54] jweismann commented on #4427
@thecubic . This issue is not clear to me so please help me understand your findings. First off, I would like to know your INSECURE_USE_HTTP settings and whether or not you can reproduce the problem with INSECURE_USE_HTTP=false.

@PieterGit @sulkaharo Maybe we should consider to have another default for INSECURE_USE_HTTP since it seems to cause confusions for non-heroku deploys. Alternatively we c

[2019-03-17 20:41] thecubic commented on #4427
Here's some interesting signal - `INSECURE_USE_HTTP` was defaulted to `false` (not set)

with `INSECURE_USE_HTTP=true` it works again.  When setting explicitly to `false` again, it stops working again.  Reading up, that does seem to be a Herokuism, and I think there's a quick fix I'll take a stab at (which makes that envvar moot on a pure-HTTPS setup)

[2019-03-17 21:48] tzachi-dar commented on #4461
By the way, a little of toppic for this bug, but I'll still report it here:
It seems that getting an object from device status by id, does not work.

For example getting by created_at works:
curl -s -g  https://snirdar-dev.herokuapp.com/api/v1/devicestatus.json?find[created_at][\$eq]=2019-02-07T23:38:48.655Z
[{"_id":"5c5cc188ecce760004890141","device":"מיומיו","uploader":{"battery":50},"created_at

[2019-03-17 22:41] tzachi-dar commented on #4461
OK, seems like with the new code, delete works as expected. For example: this works
curl -X DELETE -H 'API-SECRET: 911eea185f5c758ac275687da8b7eab50ad720e3' -g https://snirdar-dev.herokuapp.com/api/v1/devicestatus/5c5e16ba3e7bce00045c94d7

The problem repeated above was also solved.

[2019-03-18 10:59] RyRyCeratops commented on #4154
I have this exact same problem as well. My settings match all of these too.  Did you ever find a resolution?

[2019-03-18 21:20] amoskane opened #4485 "Reports- Day to Day- treatment timeline is not same scale as BG timeline"
**Describe the bug**
Looking at a one day rendering, what does "^^^default^^^" mean and shouldn't the data start rendering at 12am instead of 7am? If not, why does treatment data never render between 12am-7am?
https://www.dropbox.com/s/q3xi5wit29tzrsl/Screenshot%202019-03-18%2013.57.27.png?dl=0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Reports'
2. Click on 'one week'
3. Scroll d

[2019-03-20 17:50] ireneusz-ptak commented on #4154
Only a workaround - started using xDrip+ ;)

I went through the code before and I think the same method is used to check if alarm is raised regardless  of the alarm level, but had no time to confirm it.

[2019-03-21 07:01] zreptil opened #4490 "glucosedistribution.js seems to have an error in the code"
**Describe the bug**
line 410 doesn't seem to make sense:
var GVIDelta = Math.floor(glucose_data[0].bgValue,glucose_data[glucose_data.length-1].bgValue);

Math.floor calculates the next lower integer number, but doesn't take multiple values. The result of this is the value of the first glucose value in the array. Is this the expected behavior?

This has influence at the value GVI on the page distr

[2019-03-21 12:00] jjaone commented on #3635
In fact, this is still a bug in the latest Nightscout, it doesn't respect in reporting the profiles "valid from date" but always shows everything as if only one profile (the latest) is valid for all the time points

[2019-03-21 17:11] jjaone commented on #4236
Hi all, I ended up here when generating reports from a timeframe where I that two profiles with different "valid from dates" and found the GIT/NS issue about it and then asked about in NS/gitter where @viq pointed me here 👍

Seems this is a more complicated backend related problem, so that at this time frame I have not enough time to dive deep into solving it.

Gotta revert using just one "default

[2019-03-21 18:37] PieterGit commented on #4236
@MilosKozak can you give your take on this issue? According to @sulkaharo you invented this 😄
Please let us know what you think that needs to be done, and we'll try to get volunteers to implement it in 0.12 or later.

[2019-03-21 18:43] PieterGit commented on #4236
Related issues: https://github.com/nightscout/cgm-remote-monitor/issues/3567 and https://github.com/nightscout/cgm-remote-monitor/pull/4250.

[2019-03-21 23:37] scottleibrand commented on #3558
As discussed in Gitter, I don't think we need to worry about copyright (you can't copyright an algorithm, just actual code, so as long as we write our own code we're fine there.) And generally we should not go out of our way to worry about patents if we're not intending to engage in commercial activity.  If we haven't gotten a "no" response to  our initial queries, then I would be fine with just p

[2019-03-22 01:25] renegadeandy opened #4491 "Too many redirects when going to nightscout from any client"
I have been running nightscout stably for a long time on a RHEL 7.6 server.

I am not sure what has caused this, but now whenever I try to visit my nightscout host, the browser reports the error : ERR_TOO_MANY_REDIRECTS.

When I look at my browsers network connections, the browser is being spammed with HTTP 302 responses from express, by looking at the response headers I can see it has been given

[2019-03-22 09:11] xmizi commented on #4491
"too many redirect" is caused by "new security setting" - all requests are redirecting to https by default. I have the same problem (https is managed by nginx.....)

try to set INSECURE_USE_HTTP=true in your NS configuration

[2019-03-22 13:01] renegadeandy commented on #4491
Hi @xmizi That has fixed it! It doesn't actually make sense to me, as I was coming in over HTTPS anyway...., as I was using express and let's encrypt to handle the ssl.

This new parameter looks bugged.

I say this because the flag says "INSECURE_USE_HTTP", yet I am actually using HTTPS, and even when I go to the site using http, I get an empty response (thank goodness). Can you explain what is go

[2019-03-22 13:16] jennysloan opened #4492 "ALARM_TIMEAGO events not triggered"
When BG readings are missing for greater then the time amount specified in Heroku, the event (alarm) for ALARM_TIMEAGO is not triggering and thus IFTTT notifications are not pushed.

I have the alarms set to trigger at 15 minutes. I am not getting the alarm sent to IFTTT, and it’s not in my IFTTT log.

Two examples provided from my Log and Site.
The examples are similar, but I was not aware of the

[2019-03-22 22:49] PieterGit commented on #4491
@xmizi @renegadeandy The "new security settings" are part of my improvements to make Nightscout secure by default.  A lot of users were using Nightscout with plain http which is insecure. Only a few Nightscout users seem to use a reverse proxy (like Nginx, Apache, or Letsencrypt) to proxy TLS/https sessions to NodeJS Nightscout over http. From NodeJS backend point of view http traffic is insecure,

[2019-03-23 12:33] viq commented on #3567
Sorry, which slack do you mean?

[2019-03-25 17:13] renegadeandy commented on #4491
Hi @PieterGit You misinterpret my exclamations and tone! Apologies - and thanks for your work.

You are absolutely right, the by default state of nightscout on http was poor - I appreciate you taking effort to making the default to be to serve https.

There are however a couple of things I dont understand - and it may well be my ignorance.

I have setup SSL, by getting some let's encrypt certifica

[2019-03-25 19:35] jweismann commented on #4491
@renegadeandy The variable name INSECURE_USE_HTTP is very confusing, especially in non-heroku deploys. What it really means is whether or not HTTP requests should be redirected to HTTPS requests. In a pure HTTPS setup there are no need for redirections and hence one wishes to avoid redirections and must set  INSECURE_USE_HTTP to true. Admitted, this is very confusing and I suggest that the name of

[2019-03-25 19:37] jweismann commented on #4491
@renegadeandy or more specific whether or not requests should be redirected to HTTPS.

[2019-03-26 12:00] renegadeandy commented on #4491
Hi @jweismann I am pleased you agree here. The variable should almost be:
`SSL_SETUP_MANUALLY=YES`
Where if it is `NO` the work that @PieterGit has done will make the appropriate changes to deliver https?

[2019-03-26 12:44] rob-andy commented on #3688
I have found the answer to this in [static/report/js/report.js]
line 637 which is
[code]
excludes any value that is exactly on a 1 minute boundary.  Using glimp with miaomiao uploads data is uploaded every one minute (even with a 5 minute scan rate set).  The problem could be fixed very simply changing the line to be
[code]
which would allow values on the 1 minute boundary.  I think more thought n

[2019-03-26 13:17] rob-andy commented on #3688
I should add, this fixes some of the reports but not the GVI calculation.  From what I can tell, the GVI calculation algorithm is assuming a 5 minute window for each sensor reading.

[2019-03-27 08:59] sulkaharo opened #4496 "Reporting fails to render for Libre users pushing 1 CGM entry / minute into Nightscout"
If a user has set a Libre / MiaoMiao to send in 1 reading / minute into Nightscout, the reporting fails to render anything. On first look, this seems to be caused by a bug in the reporting REST client, where the large amount of data from the 1 min users causes the REST call to do a chunked load, but the script expects the data to be loaded in one go, so the multiple calls to the REST loaders from

[2019-03-27 09:43] rob-andy commented on #4496
I posted this in  #3688   . It's a pretty simple fix to get most of the reporting working.

The GVI calculation will be wrong but that's not overly difficult to fix either.

[2019-03-27 09:44] rob-andy commented on #4490
This is a good pick up.  I agree 100% the correct code should be
[code]

The delta should be the difference between the first and last reading

[2019-03-27 11:40] rob-andy commented on #4496
I've created a reporting-fixes branch in my github repo with my current work.  Happy to hear thoughts/feedback...

[2019-03-27 13:28] sulkaharo commented on #4496
@rob-andy wanna add the GVI fix too?

[2019-03-27 20:18] rob-andy commented on #4496
It's in there as well.. Currently my calculated value is very different to what was originally being calculated so need some more testing to make me feel confident it's right

[2019-03-27 20:36] sbalmer commented on #3599
@git-commit no I have not contacted the glimp developers.

[2019-03-27 22:48] fromorbonia commented on #3635
@jjaone  - I'm almost back to being able to look at this, hoping to start on it next month. I will mention you on the ticket if that isn't too far away to be useful.

[2019-03-28 11:45] rob-andy commented on #4496
Added some fixes to minor errors in the existing code tonight.  After unit testing using some basic sample data, I'm happy with the results.

[2019-04-04 18:10] MahaFatehallah commented on #3474
can i add more sensor reading to nightscout??

[2019-04-06 19:37] antiuser opened #4515 "node user"
Hi! Can you please add INSTALL guide to use usual user to start nightscoute? Because i cant start app from root user.

Thanks!

[2019-04-09 09:58] NickyJoel commented on #4485
Hey,
I have a similar problem. For mine it just always shows the last two hours of my basal. Also it's 11:56a.m. on april 9th right now but it already shows the full 24h. I'm assuming somewhere in my set-up the time is wrong but I don't know where. In my live nightscout view everything is correct.
![Nightscout](https://user-images.githubusercontent.com/47711483/55791374-aaf54e80-5abe-11e9-809b-e08

[2019-04-10 02:52] #4492 closed

[2019-04-10 02:53] jennysloan commented on #4492
Closing. TIMEAGO_ENABLE_ALERTS not set as TRUE. User error.

[2019-04-10 17:24] GrantGam commented on #3688
Hello,

I have this very problem but have absolutely no idea how to fix it... Could anyone kindly advise please?

Heroku hosting and MongoDB
Currently using a Mac

Thanks.

[2019-04-11 23:51] LubomirKovalcik opened #4526 "MiniMed Connect error: SyntaxError: Unexpected token < in JSON at position 0"
**Describe the bug**
I am trying to get my bolus/basal data from pump to my nightscout. I am not using Medtronic CGM, but other which is already uploading data via Xdrip to nightscout. I just need bolus/basal data synchronized from pump to nightscout.

I am using latest version 0.11.1 with "careportal basal mmconnect" enabled.
I have MMCONNECT_PASSWORD and MMCONNECT_USER_NAME set an double verifie

[2019-04-15 20:39] unsoluble commented on #4526
The mmconnect plugin does not support EU accounts in 0.11.1 (this is pending release in 0.11.2).

[2019-04-19 11:44] Pogman opened #4538 "Profile incorrect on main screen after a period of time"
Using a profile group with several profiles set up within it.

A profile switch changes from 'Basal 2' to 'Day Off'.

This initially works as intended but after a period of time (I noticed the bug after around 7 days) the main screen then shows the old profile and the reports screen shows the correct profile.

The incorrect 'Basal 2' profile is the default profile as set in the profile editor and

[2019-04-19 23:02] mastacheata opened #4539 "Firefox doesn't open "Admin" in new tab"
**Is your feature request related to a problem? Please describe.**
In Chrome all menu items open in a separate tab.
In Firefox the Admin link opens in the very same tab.

**Describe the solution you'd like**
Honestly: I got no idea how to solve this.
You could use _blank as the target, but I get that you assigned names to the tabs so only one of each kind will open. I couldn't find out why Firefox

[2019-04-25 12:24] CarnageMarkus opened #4555 "device status grows fast and fills free mlab capacity, would capped collection help ?"
**Feature Request/Question**

Hello, I just recently got to the point of **common "mLab" storage capacity**, where all APS and Nightscout systems stopped working out of blue. Since it was my first time with this "expected" crash, I was offline for some time. If it's not clear what I am talking about, mlab offers 496mb of free storage plan for mongodb. Where `devicestatus` collection grew quite big

[2019-04-25 20:05] pdewaha opened #4558 "Nightscout doesn't reflect Combo Bolus cancelation"
It is not possible to cancel a combo-bolus in Nightscout. This seems to be by design, as there is no such even-type defined. The problem is, that the representation of Nightscout is wrong, in case of a combo bolus cancellation, and maybe impacts openaps through wrong iob.

**To Reproduce**
Create combo bolus in Nightscout through care portal. Then try to end the combo bolus somehow, so that the gr

[2019-04-25 21:42] rob-andy commented on #4496
@sulkaharo no thoughts?

[2019-04-28 22:52] Propelld opened #4566 "Nightscout won't stop crashing"
Hi there, I have reached out to the Facebook group as well as searched the history. I have also asked in Gitter to no avail. My nightscout site is in a constant crashing state, the logs all report 'H10'. I am using Heroku. I have been successfully using OpenAps for nearly 2 weeks when it started crashing yesterday. I am running the latest version. So far I have tried:

1) restarting dynos
2) redep

[2019-04-29 05:51] sulkaharo commented on #4566
In Heroku, restart the dynos and immediately open the log view and don’t close the view until the error triggers. This should produce a so called stack trace that shows where the error occurs. Then post that log snapshot here.

Alternatively if you have Papertrail installed, you should be able to click on the Heroku add-on to view old logs and scroll back until you see this information.

[2019-04-29 14:41] Propelld commented on #4566
2019-04-29T02:52:38.841084+00:00 heroku[router]: at=error code=H14 desc="No web processes running" method=GET path="/api/v1/treatments.json?find[created_at][$gte]=2019-04-28T02:52+00:00&find[carbs][$exists]=true" host=nat1d.herokuapp.com request_id=156b2af0-c3b2-48c2-be8a-e8148743d26e fwd="70.50.37.59" dyno= connect= service= status=503 bytes= protocol=https
2019-04-29T02:52:55.594451+00:00 heroku

[2019-04-29 15:30] sulkaharo commented on #4566
That log has been produced after the crash already happened. Please follow my instructions exactly and restart the Dynos ideally just seconds before viewing the log. You should see a bunch of startup messages from Nightscout, followed by a long message about the application crashing

[2019-04-29 17:39] Propelld commented on #4566
Ok I'll try again. I know what you mean as I have seen the logs after
restarting dynos, this time it didn't seem to do that. I'll try again.

On Mon., Apr. 29, 2019, 11:30 a.m. Sulka Haro, <notifications@github.com>
wrote:

[2019-04-29 17:43] Propelld commented on #4566
Application Logs
ALL PROCESSES

2019-04-29T17:42:32.542141+00:00 app[web.1]: lastData full size 822754 bytes

2019-04-29T17:42:32.542344+00:00 app[web.1]: [32mWS: [0mrunning
websocket.emitData 1556559752151

2019-04-29T17:42:33.177430+00:00 app[web.1]: [32mGRANTED: [0m
70.50.37.59 no-token api:pebble,entries:read default

2019-04-29T17:42:33.206089+00:00 heroku[router]: at=info method=GET
path="/p

[2019-04-29 17:44] Propelld commented on #4566
Application Logs
ALL PROCESSES

2019-04-29T17:42:32.542141+00:00 app[web.1]: lastData full size 822754 bytes

2019-04-29T17:42:32.542344+00:00 app[web.1]: [32mWS: [0mrunning
websocket.emitData 1556559752151

2019-04-29T17:42:33.177430+00:00 app[web.1]: [32mGRANTED: [0m
70.50.37.59 no-token api:pebble,entries:read default

2019-04-29T17:42:33.206089+00:00 heroku[router]: at=info method=GET
path="/p

[2019-04-29 19:20] buessow opened #4569 "Nightscout app crashes after heroku installation"
I followed the setup instructions (here: http://www.nightscout.info/wiki/welcome/set-up-nightscout-using-heroku) to create a new instance on Heroku. The app doesn't start with the error below. Any idea what might be the problem?

Apr 29 11:48:32 rmb-cgm app/web.1: Setting up new connection to MongoDB
Apr 29 11:48:32 rmb-cgm app/web.1: GIT HEAD
Apr 29 11:48:32 rmb-cgm app/web.1: Successfully establ

[2019-04-29 19:32] unsoluble commented on #4569
Sure your repository is up to date? There was a bug in an older version that could cause this crash.

[2019-04-29 19:34] unsoluble commented on #4569
Your repository is significantly out of date. Make sure you're logged in here on GitHub, then head [here](http://nightscout.github.io/pages/update-fork/) to begin the update process. Once that's done, go to your Deploy page in Heroku and manually deploy your master branch one more time.

[2019-04-29 19:45] unsoluble commented on #4566
We're getting there... that set of logs is great, includes a bunch of times when you restarted the dynos, so we can see that part. But it doesn't include the app crashing, which is the part we need to diagnose. Can you try again, going from a restart all the way through to when the app has crashed?

[2019-04-29 20:13] Propelld commented on #4566
It's very weird, I stay on the logs page when I restart dynos, but the logs
don't change. Yesterday the log would generate stuff after restarting dynos
with red writing and codes like H10. Should I refresh the screen or
something?

On Mon., Apr. 29, 2019, 3:45 p.m. John Weston, <notifications@github.com>
wrote:

[2019-04-29 20:16] unsoluble commented on #4566
If you'd like to temporarily add me as a collaborator (Heroku dashboard > Access > Add collaborator, I'm at westons@me.com), I can pop in and take a look at the logs.

[2019-04-29 20:59] Propelld commented on #4566
Of course! There is probably something I'm not getting with the logs. The
one that is down is nat1d. nataliat1d was the one I made after it crashed.
Nataliat1d was down for half the day today but seems to be back up now?
However it can crash at any time.

On Mon., Apr. 29, 2019, 4:16 p.m. John Weston, <notifications@github.com>
wrote:

[2019-04-29 21:10] unsoluble commented on #4566
So one thing that may be complicating things at this point: You can only run one app on a free Heroku account — with two apps running, your free dyno hours will run out, and then neither app will run at all. I suspect that this might have happened here? Can you check your [billing](https://dashboard.heroku.com/account/billing) page to see if you have any free dyno hours left?

[2019-04-30 01:00] Propelld commented on #4566
Ok. I only kept this around so I could investigate the problem as it
crashed too. My new site was down all morning but seems to be back up
again. Should I just delete nat1d and check the logs for my active app
if/when it crashes?

On Mon., Apr. 29, 2019, 5:10 p.m. John Weston, <notifications@github.com>
wrote:

[2019-04-30 01:17] unsoluble commented on #4566
Instead of deleting it, put it in “maintenance mode”, from its settings page. That’ll make it inactive, but easily restored. And yeah, keep an eye on the other one for now I guess.

[2019-04-30 01:27] davebrothers commented on #4539
What OS? Using Firefox stable 66.0.3 on Windows 10 1803, I saw the following behavior:
If only one NS tab is open and it isn't the admin tools, admin tools opens in a new tab. If there is an admin tools tab open, FF focuses and refreshes that tab.

[2019-04-30 13:12] Propelld commented on #4566
Ok will do!

On Mon., Apr. 29, 2019, 9:18 p.m. John Weston, <notifications@github.com>
wrote:

[2019-04-30 13:37] Propelld commented on #4566
Okay so I have put my inactive site in maintenance mode.

Like yesterday, the new site with the new DB is down again now. I restarted
dynos and tried my best to get a log :

Application Logs
ALL PROCESSES

2019-04-30T13:30:29.519286+00:00 heroku[router]: at=error code=H10
desc="App crashed" method=GET path="/pebble?units=mgdl&count=3"
host=nataliat1d.herokuapp.com
request_id=25158888-14a6-4afa-a8b

[2019-04-30 20:03] unsoluble opened #4570 "Need to gracefully handle nulls in uploaded data"
We should make sure that null entries are handled gracefully, and don't cause the whole stack to crash.

Re: [https://github.com/openaps/oref0/issues/1228](https://github.com/openaps/oref0/issues/1228)

[2019-04-30 20:07] unsoluble commented on #4566
This appears to be caused by OpenAPS uploading a null value into a db field. There seem to be a couple esoteric fixes that can be tried on the OpenAPS end (see [here](https://gitter.im/openaps/oref0?at=5cc8a4b53d78aa6c03c16f6f)), but I've also [ticketed this here](https://github.com/nightscout/cgm-remote-monitor/issues/4570) because we shouldn't be crashing on this.

[2019-04-30 21:42] Propelld commented on #4566
Thank you so much! I will look forward to a fix from the ticket, as I have
the hardware for a HAT in my case.

On Tue., Apr. 30, 2019, 4:07 p.m. John Weston, <notifications@github.com>
wrote:

[2019-05-01 10:28] Lytrix commented on #4485
I also have a similar problem with the latest master of May 1st 2019, main screen it's ok, but in reports it always shows only the last 2 hours.

<img width="1013" alt="Screenshot 2019-05-01 at 12 06 04" src="https://user-images.githubusercontent.com/4370175/57013071-0328f780-6c0a-11e9-8c55-c220fc7807c8.png">

[2019-05-01 13:20] vcoulter opened #4571 "Include Menstrual Cycle (Period) Tracking"
**Is your feature request related to a problem? Please describe.**
I know that I have some significant changes in insulin sensitivity due to changes during my menstrual cycle. There are no diabetes apps that I have found that tracks this.

**Describe the solution you'd like**
I would like to be able to add dates for when my period started and when I ovulated. I would like to be able to pull a repo

[2019-05-01 16:26] unsoluble commented on #4571
This is a fantastic idea. Probably the first step will be to implement the data entry — I'd start by taking a look at the careportal code, see how things like BG readings, notes, sensor starts, etc. are created and referenced, then essentially clone one of them into these new event types.

(Start by making sure your `dev` branch is up to date, then create a new branch off of that to work in.)

[2019-05-01 18:12] vcoulter commented on #4571
Ok, I've updated my dev branch, looked at careportal and added "Menstrual Period Start" "Menstrual Period End" and "Menstrual Ovulation" as options in care portal, similar to the other options present. I tested it in a new app on heroku and everything displays ok. I added each one as an entry and can see them in my treatment database.

I'm poking through the reports plugins to see how those are se

[2019-05-01 18:21] unsoluble commented on #4571
That's a great start. I'm not familiar enough with the data flow mechanisms or the reporting to advise on next steps. Maybe @sulkaharo or @PieterGit ?

[2019-05-03 08:51] quizzmaster commented on #4446
Any thoughts about this?

[2019-05-06 14:43] Mr-Enigma opened #4583 "alexa documentation"
i cant seem to find the docs on how to setup the alexa skill? can anyone point me to it? many thanks

[2019-05-06 18:34] renegadeandy opened #4585 "HTTP 500 when xDrip+ calls entries REST-API to upload a new BG reading"
xDrip+ starts to report :

NightscoutUploader Unable to do REST API upload: Internal server error url: <my nightscout url> marking record failed - out of nowhere.

Nightscouts log at that exact moment looks as follows:

[code]

No problems are obvious here.

I recreated the issue by using the api-docs.html and calling the entries POST API. I found that I also got an HTTP 500, with these specific e

[2019-05-06 18:40] unsoluble commented on #4583
The link in the readme is broken, but the doc is still here: [https://github.com/nightscout/cgm-remote-monitor/blob/master/docs/plugins/alexa-plugin.md](https://github.com/nightscout/cgm-remote-monitor/blob/master/docs/plugins/alexa-plugin.md).

[2019-05-06 19:45] PieterGit commented on #4585
@renegadeandy thanks for the report. Gitter discussion is at https://gitter.im/nightscout/public?at=5ccf5f80a4ef09747155f0dd .
@jpcunningh do you known  why we don't log something on the Nightscout console in this case? Can we detect that the mongodb has enough space again and automatically call `db.repairDatabase()`?
@jamorham I think the remote client (xdrip plus in this case) should also show t

[2019-05-06 23:06] jpcunningh commented on #4585
@PieterGit, better logging on the console and a user level alert is on my backlog that I just haven't gotten to, yet.

Adding a repairDatabase call is on my backlog as well. I'm not sure if it makes more sense to try to have it called automatically whenever the user uses the admin tool to delete old records, or if it should be a separate admin tool button. Thoughts?

[2019-05-07 10:27] renegadeandy commented on #4585
I think there should be a message suggesting people check their quota for the mongodb, and then perhaps perform a db.repairDatabase() by default, incase somebody clears space but doesn't realise the repair is required (which was my use case).

Also perhaps have a button which will also call the repairDatabase when the user wants to drive it manually.

[2019-05-09 08:55] pleinolijf commented on #3145
Same problem here. Used the carelink-dev-servers branch of @szymjaw repo on a Heroku setup (I'm in Belgium). No data coming through.

Can anyone enlighten us ?  When is the main Nightscout branch adapted for EU Guadian Connect users ?
Really looking forward to building stuff on this...

[2019-05-09 11:04] szymjaw commented on #3145
@pleinolijf please fork cgm-remote-monitor from https://github.com/nightscout and use dev branch.
Please check if it's working.

[2019-05-09 11:32] pleinolijf commented on #3145
@szymjaw Using the dev branch of the Nightscout repo, I got it working now. Thank you !

[2019-05-09 16:41] sulkaharo commented on #4585
@PieterGit Mongo doesn't have a quota system by default and when I asked about this from mLab, they don't seem to have a clear API for checking how much quota is left. Needing to run db.repairDatabase() is a bad sign as well - this should only be needed if there's table corruption on the database or if the table index is somehow badly out of whack. We could add a tool in the admin section to run t

[2019-05-10 10:03] sulkaharo commented on #4570
So, this is non-trivial to solve comprehensively. Things that need doing is:

1) Better overall validation of data on upload so data that's made it into the database is guaranteed better overall integrity - records that are missing required fields or have clearly misformatted data should be rejected and an error should be returned to the REST API caller. Implementing comprehensive validation is so

[2019-05-10 10:58] sulkaharo commented on #4555
Capped collections don't support a lot of query mechanisms and thus would be hard to work with. We've discussed an alternative where a TTL index would be used to store something like last two weeks of device status data, which would effectively accomplish the same (and would be much easier to implement).

[2019-05-10 10:59] sulkaharo commented on #4558
The data model expects the uploader to edit the original item duration to match the actual length of the bolus if it was cancelled. If this was entered manually, we sadly don't have a very user friendly UI to do this by hand (you can go to reports and edit the event there).

[2019-05-10 11:00] #4569 closed

[2019-05-10 12:48] buessow commented on #4569
Many thanks. Didn't realize that I've created it a long time ago.

[2019-05-10 13:21] ELUTE opened #4596 "Target divided by 18 when mmol"
Target is appearing in the pill as the target amount divided by 18 in mmol. Set target was 5 mmol but shows as 0.3 here.
<img width="362" alt="Screen Shot 2019-05-10 at 9 16 55 AM" src="https://user-images.githubusercontent.com/7684327/57530294-ede85300-7304-11e9-84bb-d84144349d30.png">

[2019-05-10 15:10] ELUTE commented on #4596
Was an issue in the older version of Loop I grabbed.

[2019-05-10 15:10] #4596 closed

[2019-05-11 11:07] mastacheata commented on #4539
Seems to have resolved by itself with the next nightly update of Firefox.
Sorry for not responding earlier, this somehow slipped through.

[2019-05-11 11:07] #4539 closed

[2019-05-13 15:46] unsoluble opened #4613 "Update clock views to support Medtronic triple-arrows"
The clock views are going to need a tweak to support TripleUp and TripleDown arrow states when we hit 0.11.2. I'll do this, just ticketing for reference and reminder.

[2019-05-14 20:41] CarnageMarkus commented on #4555
That sounds great. 👍

[2019-05-18 14:01] yeagerm commented on #4538
I can confirm the same or similar behavior: My Basal pill always shows the same old profile name now matter what I select and save in the Profile editor. I see the problem in both cgm-remote-monitor -master and -dev.

The correct profile is retrieved if using a service like AutotuneWeb.

To get the pill to match the actual profile, use a manually entered profile switch entered via the NS treatment

[2019-05-19 10:27] sulkaharo commented on #3832
@unsoluble by "active profile", do you mean the local client settings that can override the server setting?

[2019-05-19 10:42] sulkaharo commented on #3832
Looks like the client isn't doing a full init on the clock faces, so not all variables are available, need to look at that later

[2019-05-19 18:41] unsoluble commented on #3832
@herzogmedia We'll be able to fix the time thing now — will incorporate into #4639.

[2019-05-19 20:36] #4613 closed

[2019-05-19 20:38] unsoluble commented on #3832
Fixed in #4641

[2019-05-21 09:26] NickyJoel commented on #4485
I solved it for me. In the profile editor I had chosen my ECT timezone, but when I changed it to the europe-city version all of a sudden it worked. Perhaps this may be your problem too?

[2019-05-21 20:31] unsoluble commented on #4485
Yup, the generic timezones appear to break in a number of strange ways. Best to always use one of the prefixed ones (like `Europe/...` or 'US/...`). We should really pare down the list (see #4003), just hasn't happened yet.

[2019-05-23 04:08] declan-wade opened #4646 "Meal / Correction Bolus do not display on Firefox"
Upon loading the Nighscout dashboard / home page on Firefox, it does not correctly display any Meal or Correctional Bolus data points. Loading the same dashboard on the same computer, but in a different web browser shows the bolus data correctly.

Screenshots: https://imgur.com/a/rPigX6J

This is running on Nightscout 0.11.1, with data being collected by Spike on iOS and hosted on Heroku. Version

[2019-05-23 17:54] unsoluble commented on #4646
Not sure what's causing the rendering errors, but total aside: Make sure your BG thresholds in Heroku are set in mg/dl values — that's why your graph is all red. :)

[2019-05-25 05:55] WanaGo commented on #4583
I am having real trouble getting Alexa to work with Nightscout, using the Documentation. Running latest version of Nightscout too. Followed the instructions to a T, and I have it working in the Amazon Development area, on the Test Page. However it will not work on any of my Alexa devices or even the Alexa App on my phone, even though its the same account and I can see the 'Nightscout' Skill and it

[2019-05-25 12:05] sulkaharo commented on #4583
@wanaGo double check you’re using https for all the urls in the configuration

[2019-05-25 15:38] twain47 opened #4650 "100% cpu when cob plugin enabled"
When running the service (with the below start.sh script) cpu hits 100% and stays there for just over a minute after which there is a few seconds pause and then cpu returns to 100%. High cpu starts when the log prints 'reloading sandbox data' and stops on 'WS: running websocket.update' but re-occurs as soon as the next reload message.

Removing 'cob' from the plugin list removed the cpu load. No o

[2019-05-26 02:36] WanaGo commented on #4583
All that is fine sadly @sulkaharo

[2019-05-26 08:30] ks-cgm commented on #3944
I had the same problem in FireFox 66.0 on Linux Mint with uBlock add-on.

Disabling this ad-blocker solved the problem.

Thanks @unsoluble for the tip!

[2019-05-28 17:09] Diabeast opened #4659 "Wrong API secret"
I am having a lot of trouble with Herokuapp, I tried everything and still i get api secret wrong notice. My Mlab Entries are empty and i deployed a whole new app wich didn't solved the problem. PLEASE HELP

[2019-05-28 20:36] unsoluble commented on #4659
The API secret failing is often simply an indication that your app has crashed. Try this: Restart your dynos in Heroku, and immediately open your logs. Try to capture the moment your app changes from running to crashed — if you can copy or screenshot the surrounding context, we can help identify the cause.

[2019-05-29 15:56] jwedding opened #4661 "Move Forecast Preferences to Settings Menu"
AR2/Loop Forecast options are buried in ellipsis ... next to time increment setting. These should be pushed into the settings dialog.

![image](https://user-images.githubusercontent.com/6845916/58571907-eaefcc80-81f7-11e9-80b9-bee766eddaaa.png)

[2019-05-29 20:47] DonaldBough commented on #4210
I believe this already exists. If you enabled edit permissions, you can click the pencil button, then drag a reading to the delete box that appears.

[2019-05-29 21:04] DonaldBough opened #4662 "Include IOB & COB with Forecast Graph"
**Is your feature request related to a problem? Please describe.**
As a user, when I have high or low blood sugar and have input carbs or insulin to adjust, I would like to know if that will correct it. I would also like to know if my blood sugar could be trending low, considering my IOB and COB.

**Describe the solution you'd like**
The current blue dot forecast seems like it could be improved by

[2019-05-29 21:32] unsoluble commented on #4210
Can currently only do that with treatment entries, not CGM data.

[2019-05-29 22:35] DonaldBough commented on #4210
Is that an architectural decision? Could this be done from a separate plug-in then?

[2019-06-07 17:58] seanknox commented on #4646
Confirming this—appears the bolus pills don't show up in Firdfox.

Here's my NS instance in Chrome 74.0.3729.169:

### Chrome
<img width="823" alt="image" src="https://user-images.githubusercontent.com/1231630/59123747-dd7ec480-8912-11e9-9698-decf4c1a3268.png">

And here's the same screen in Firefox Quantum 67.0:

### Firefox Quantum
<img width="823" alt="image" src="https://user-images.githubuser

[2019-06-07 18:01] seanknox commented on #4646
Perhaps relatedly, there are a number of JS errors in Firefox.

<img width="823" alt="image" src="https://user-images.githubusercontent.com/1231630/59124094-9fce6b80-8913-11e9-85f7-0d9f2ac4cd03.png">

[2019-06-16 02:38] old-square-eyes opened #4685 "Open APS Bolus wizard treatments don't appear in NS"
When I use the bolus wizard on my 722, the carb and bolus treatment don't appear in NS. The same thing happens for Easy Bolus. Quick bolus DOES get displayed..

The odd thing is... they all DO appear in NSClient downstream.

Here is an example which does appear in mlab at ~Jun 14 3pm NZST...

[code]
I'm on this branch
https://github.com/nightscout/cgm-remote-monitor/pull/4658
Which addressed this

[2019-06-16 19:53] nfontan opened #4689 "Wrong CAGE label on Spanish"
On cgm-remote-monitor/lib/language.js
line 12185
      ,es: 'Carb.desde'
is wrong

Correct traduction is
     ,es: 'Cánula desde'

I also change the following line to reduce the size of the label
line 12207
      ,es: 'Carbohidratos activos'
      ,es: 'Carb. activos'

https://github.com/nfontan/cgm-remote-monitor/blob/master/lib/language.js

[2019-06-17 12:52] sulkaharo commented on #4685
Reading that data, there's nothing in it that obviously jumps at me as a reason why this would not show up in the Nightscout visualization, if this is in the treatments collection. FWIW OpenAPS Wizard entries from our 554 work as expected? What's the symptom you're seeing?

[2019-06-17 12:52] sulkaharo commented on #4685
Oh also, that negative timeZoneOffset looks like you're running an older version of the branch, can you update to latest?

[2019-06-17 21:50] old-square-eyes commented on #4685
Yes it's in treatments. OK will do another bolus Wizard before and after the branch update deploy. I actually think this was present prior to the date normalize work.

Other notes:
:: It's the main NS visual I'm not seeing these bolus wizard treatments. Not too sure where else they might be expected to appear (per your question on Gitter)
:: I reduced DB size and repaired prior to validating this

[2019-06-17 21:58] old-square-eyes commented on #4685
Here are screen shots...
**NS**
![image](https://user-images.githubusercontent.com/25760491/59639365-28b89300-91af-11e9-9f43-b3e5045d5f9b.png)
**NSClient**
![image](https://user-images.githubusercontent.com/25760491/59639430-5ef61280-91af-11e9-8a65-9a21025e7ba7.png)
**mLab**
![image](https://user-images.githubusercontent.com/25760491/59639490-8baa2a00-91af-11e9-99bc-cba091674e7b.png)

[2019-06-17 22:16] old-square-eyes commented on #4685
Same again after updating the Normalization branch

[2019-06-18 10:48] sulkaharo commented on #4685
With that Nightscout screenshot, note how the OpenAPS predictions haven't yet updated to the latest CGM point, which indicates the Nightscout UI hasn't yet updated with all the data. NSClient uses a different way to update the interface, so there's a short time window during which it's possible NSClient will show a treatment but Nightscout doesn't. Is it that the treatment never appears? Also, the

[2019-06-19 03:41] unsoluble commented on #4689
Don't really need to make an issue to accompany a PR — just put your notes in the PR's description. :)

(Fixes are in #4690)

[2019-06-19 08:02] old-square-eyes commented on #4685
No it never appears. OK I'll test the report and dyno restart. Thanks for
looking at this :)

On Tue, 18 Jun 2019, 22:48 Sulka Haro, <notifications@github.com> wrote:

[2019-06-19 09:09] old-square-eyes commented on #4685
Restarting dynos and reloading doesn't help.

Bolus wizard treatment has shown in the report though...

![image](https://user-images.githubusercontent.com/25760491/59752379-416f9880-92d6-11e9-9887-ef0a0362c509.png)

[2019-06-19 09:42] cascer1 opened #4693 "API reporting incorrect delta"
**Describe the bug**
The delta reported by the API (for example `/api/v1/entries/sgv.json?count=2`) is different from the actual BG delta.

**To Reproduce**
1. Observe delta reported by xDrip (in the xDrip app)
2. Calculate actual delta (using last two readings, should be the same as xDrip)
3. Observe delta reported by Nightscout (not API, should also be the same as xDrip)
4. Observe delta reporte

[2019-06-19 10:03] sulkaharo commented on #4693
The API returns the data recorded by the application storing the data, where the delta values are not recalculated by the API but are the ones stored by the app. This sounds like xDrip is storing different delta values to the database than what are being displayed. That -6.5 delta is also clearly wrong, since mg/dl units should never be stored as fractions. Let's make a ticket to to the xDrip repo

[2019-06-19 13:13] shailoantz opened #4694 "loading stuck"
**Describe the bug**
When no BG available - loading the client takes a lot of time and sometimes getting entirely stuck.
This error makes it harder to know if I have internet issues or a CGM error

**To Reproduce**
Steps to reproduce the behavior:
1. Have a working nightscout instance with BG and all
2. Have a CGM error (or xdrip error or any way to not feed BG to NS)
3. Refresh my NS instance

**

[2019-06-19 19:22] ks2coder commented on #993
The dates wrong is still an issue for me with the current version

[2019-06-20 04:07] old-square-eyes commented on #4685
Leaving a comment from Gitter that the BG entered was 6.3, not 63 as shown, so there may be a smoking gun, or another issue present.

[2019-06-20 11:32] old-square-eyes commented on #4685
Manually edited a record in mlab and it shows up in NS so it seems the loss of the decimal point is the cause. Looking at the data, a lot of the numeric mmol/L values are the same (target BG, BG and sensitivity)

[2019-06-20 22:22] old-square-eyes commented on #4685
Raised in Open APS https://github.com/openaps/openaps/issues/142

[2019-06-23 23:14] straykatz opened #4702 "[empty] value for Temporary Targets set in Nightscout => negative values for basal and ISF in oref0"
**Describe the bug**
I set a 360 minutes temp target using the Nightscout browser from iPhone Safari. My plan was to set a high temp target (150 or so, don't remember). I probably did not enter a target in either one or in both of the target fields, and I (vaguely) remember backing out once.

Temp Target was displayed as "Target = 0" by oref0. That resulted in negative ISF and negative basal rates

[2019-06-25 15:54] viq opened #4704 "Additional settings in profile"
**Is your feature request related to a problem? Please describe.**
There is a bunch of settings related to "profile" that are used by both OpenAPS and AndroidAPS that currently are not stored in Nightscout profiles. This makes it harder to use profile as is for autotune, or to use nightscout for synchronising profile between devices.

**Describe the solution you'd like**
Allow for storage of addit

[2019-06-28 08:27] sulkaharo commented on #4685
So noting here, the issue is caused by the data bug in the treatment record, where the BG value recorded is 10x higher than the real BG, which caused the treatment to be rendered outside the screen. The issue is mitigated by #4697 by clamping the BG value for rendering purposes, so treatments with buggy CGM data are now visible on screen.

[2019-06-28 08:27] #4685 closed

[2019-06-29 14:07] jakobsandberg commented on #4515
@antiuser there is an install guide in the README: https://github.com/nightscout/cgm-remote-monitor#user-content-install

If you are having a specific issue starting nightscout, please document it here and we can help further

[2019-06-29 14:13] jakobsandberg commented on #4490
We can close this issue as it was resolved with #4502

[2019-06-29 14:15] jakobsandberg commented on #4422
We can close this issue as it was resolved via #4423

[2019-06-29 14:20] jakobsandberg commented on #4139
@daktau it appears you issue was resolved, can we close this ticket?

[2019-06-29 16:46] #4139 closed

[2019-06-29 16:48] daktau commented on #4139
Yes, many thanks again. Totally resolved 😀

[2019-07-02 17:00] st0ber commented on #4154
Same problem here :-( the high alarn is always here. What can i do? I dont use xdrip.

[2019-07-06 18:23] tynbendad opened #4718 "CAGE displays n/a if over 8 days old"
**Describe the bug**
The cage pill displays n/a when the cage reaches 8 days old.  It doesn't have the right insertion date when you hover over it either.  Believe it or not my son has been reaching this a few times now.

**To Reproduce**
Steps to reproduce the behavior:
Erase all your cannula insertion treatment events on Nightscout.
Insert one 7 days and 23 hours or so ago.
Refresh for a while a

[2019-07-07 17:31] rkoshak opened #4721 "Nightscout API Secret doesn't work through reverse proxy"
One other interesting behavior I notice is that when accessing Nightscout locally or through the VPN I can see the graph and everything without entering an API key. But if I access the site through the reverse proxy it demands I enter the API key or it won't show anything.

I'm using the following environment variables:

[code]
xDrip is successfully publishing readings to Nightscout through the re

[2019-07-12 09:21] michalterbert opened #4723 "Split language.js file to separate languages"
**Is your feature request related to a problem? Please describe.**
Now JS file with languages has 527 KB, maybe a good idea is to split that file.

**Describe the solution you'd like**
Separate JS language file, one per every language.

[2019-07-16 11:17] sulkaharo opened #4729 "Day to Day predictions has undefined variable"
https://github.com/nightscout/cgm-remote-monitor/blob/master/lib/report_plugins/daytoday.js#L357 refers to a variable called predictedOffset, which is never set or defined. Looks like this was your addition earlier this year? I can't easily see what the intent here is, can you check the code and add the missing piece. :)

(Discovered by looking at the linting results for the code)

[2019-07-16 11:48] sulkaharo commented on #4689
Soon to be fixed in dev

[2019-07-16 11:48] #4689 closed

[2019-07-16 12:02] sulkaharo commented on #4718
Fixed in dev, the data loader now loads the latest site change event from the last 32 days.

[2019-07-16 12:02] #4718 closed

[2019-07-16 12:04] sulkaharo commented on #4694
Do you mean a single record is missing, or that a large amount of data is missing? Are you loading nightscout over the same data connection as what's used for uploading the data (so issues in Internet connectivity can cause both to fail)?

[2019-07-16 12:07] #4515 closed

[2019-07-16 12:08] #4490 closed

[2019-07-16 12:10] sulkaharo commented on #4455
Sorry for long response time - you should create a ticket to the developers of the application you're using. The uploader name used by Nightscout is simply the one the uploader is sending, so there's no way for Nightscout to actually know there's two separate uploaders if two phones are sending the same name.

[2019-07-16 12:10] #4455 closed

[2019-07-16 12:11] #4422 closed

[2019-07-16 16:51] shailoantz commented on #4694
no. I am talking about a situation when the CGM has an unrelated error (e.g
bad connection to the body) and it does not transmit any data because it
does not have any current data. About the internet connection - I'm
maintaining the loop of my brother so usually when this error happens we do
not share the same internet network. Anyway, this happens a lot when I have
a good connection...

On Tue, J

[2019-07-17 02:58] mhaeberli opened #4731 "Alexa seems no longer to work"
**Describe the bug**
A clear and concise description of what the bug is.

Followed the Alexa setup.
Tested; nothing happened.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
I expected to get Alexa test responses (or real responses)

**Sc

[2019-07-17 02:59] mhaeberli commented on #4583
I can't even get it to work on the test page. :-(

[2019-07-19 06:03] sulkaharo commented on #4729
Ok, so this is actually just code structure that should be refactored - the variable is set as a global in the static file included in the browser

[2019-07-19 06:03] #4729 closed

[2019-07-19 08:33] sulkaharo commented on #3688
@thomasmenges & @rob-andy can you test the latest DEV to see if the issues are now resolved?

[2019-07-19 10:43] thomasmenges commented on #3688
Sorry, I'm not able to do that anymore because I changed to Dexcom G6.

[2019-07-20 16:56] maskac opened #4750 "Clock view - only black screen"
Is this a new bug with the latest release, have you seen this earlier?
Is only in 0.12 . 11.1 work corectly.

Which device / browser version was used to reproduce the bug?
Anybrowser (chrome/firefox/ie) , using docker + alpine node 10 image

Does this happen every time you launch Nightscout, or sometimes?
Every time.

Steps how to reproduce (if you can’t reproduce the issue, please don’t report th

[2019-07-20 17:07] unsoluble commented on #4750
This was fixed in 0.12.1 — update your fork again. :)

[2019-07-20 17:17] maskac commented on #4750
It's working. Thx.

[2019-07-20 17:17] #4750 closed

[2019-07-20 20:03] unsoluble opened #4753 "mmconnect plugin is failing on bad date data for some users"
(Filing this on behalf of @LynneRB and a couple others)

Something's happening with some users' data coming into NS via the `mmconnect` plugin — looks like a bad datestamp in some part of the chain. Users report that date/time is correct on all the devices involved.

Have tried reaching out to @szymjaw and @mddub on Gitter, but didn't get a response there.

Relevant log section:

[code]

[2019-07-21 10:49] francescaneri opened #4761 "you don't see override in NS when you activate it in a loop."
**Your setup information**
- version of Nightscout 0.12.2
- all browser (Safari/Chrome)
- Latest commit 6191ccf LoopKit/loop "dev"

Thanks Matteo

[2019-07-21 11:15] sulkaharo commented on #4761
Can you please answer all the questions in the issue template - I bet most people here don’t have enough context to do anything about this.  Is this a feature request or a bug?

[2019-07-21 11:47] whooze opened #4762 "Menu-button and careportal+ to much to the left"
**Screenshots**
![Screenshot_20190721-133937_Chrome](https://user-images.githubusercontent.com/4024639/61590744-c859ae80-abbd-11e9-8880-82a75a4b555d.jpg)

**Your setup information**
- What version of Nightscout 0.12.2
- What type of CGM, and how do you get your data there? Medtronic 600 series uploader
- Is your issue specific to a browser (Firefox/Safari/Chrome?) or a device (Android phone, etc.)

[2019-07-21 12:35] francescaneri commented on #4761
<img width="1275" alt="Schermata 2019-07-21 alle 14 27 21" src="https://user-images.githubusercontent.com/9915825/61591176-b4b14680-abc3-11e9-8564-28450afff11b.png">
<img width="351" alt="Schermata 2019-07-21 alle 14 29 16" src="https://user-images.githubusercontent.com/9915825/61591196-f93ce200-abc3-11e9-9d04-4bcaeffa125b.png">

I think it's a bug

[2019-07-21 12:39] francescaneri commented on #4761
![image](https://user-images.githubusercontent.com/9915825/61591291-4a010a80-abc5-11e9-9df6-3ab1af6905ce.png)
 This is the situation in the loop.

[2019-07-21 20:55] robinsondan87 commented on #2948
This feature would be very useful especially for hospital appointments to show everything apart from "Temp Basal" under the treatments report.

At the moment this is basically unusable as the search options for event types (including meal bolus) always seem to include temp basals.

[2019-07-21 21:02] robinsondan87 opened #4766 "Blood Sugar within range Webhook"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-07-21 21:53] antiann commented on #4762
Ooh, I just noticed this https://github.com/nightscout/cgm-remote-monitor/pull/4748

[2019-07-22 19:34] mastacheata commented on #4721
Set the INSECURE_USE_HTTP environment variable to true and it will start working again. Otherwise it will try to perform an HTTP 301/302 redirect that looses all POST and authentication data during the redirect.

[2019-07-22 19:44] mastacheata commented on #4721
What's the output of Nightscout on the commandline (The node/expressjs process)?
In my case it didn't work unless I set INSECURE_USE_HTTP explicitly to true (despite the code in app.js checking for the presence of an X-Forwarded-Proto header, which should be set on an TLS termination reverse proxy)

Can you open the web browser dev tools on the network tab and see if there is a 302 status code whe

[2019-07-24 06:55] PieterGit commented on #4236
Didn't make it in 0.12.x

[2019-07-24 08:27] sulkaharo commented on #2559
@lawley the latest release now fixes this, thanks for getting the ball rolling!

[2019-07-24 08:27] #2559 closed

[2019-07-24 08:27] sulkaharo commented on #2242
This should now be fixed in release 0.12

[2019-07-24 08:27] #2242 closed

[2019-07-24 08:28] sulkaharo commented on #4753
We need access to someone's data / a data sample in order to fix. Ideas how to get this?

[2019-07-24 08:43] szymjaw commented on #4753
@sulkaharo
I need data from US carelink site.
I think, today I will fix it.
But I need pump data from both carelink sites (US and EU).

[2019-07-24 14:46] szymjaw commented on #4753
I created pull request
[https://github.com/mddub/minimed-connect-to-nightscout/pull/13](https://github.com/mddub/minimed-connect-to-nightscout/pull/13)

[2019-07-24 17:17] PieterGit commented on #4723
@michalterbert thanks for your suggestion.
This is a duplicate of https://github.com/nightscout/cgm-remote-monitor/pull/4209
Might be a candidate for 0.13.x release.

[2019-07-24 17:17] #4723 closed

[2019-07-25 11:16] efidoman opened #4797 "curl request using date -Ihours gives error with v0.12.2"
**Describe the bug**
Two Logger users who upgraded to NS 0.12.2 noticed errors in the Logger logfile that were associated with curl statements to NS that use a where clause for create_at that use a unix "date -d -Ihours got an error returned after upgrading to 0.12.2.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to unix command line and run the following curl statement:
2. curl --compr

[2019-07-25 11:25] efidoman commented on #4797
Researching the issue helped further clarify the problem. There **is not** an issue with NS 0.12.2 curl statements using -Iminutes. There **is** an issue with 0.12.2 curl statements using -Ihours. I checked oref0 again and I don't see anywhere -Ihours are being used in curl statements to NS. This is good and therefore the priority of this issue may be a bit lower than earlier expected (unless ther

[2019-07-25 18:39] PieterGit opened #4798 "Completely drop Azure support (or not)"
**Is your feature request related to a problem? Please describe.**
Yes, Azure deploy does not seem to work for Nightscout 0.12.x (x=[0,1,2] ) and current `dev`
Up to Nightscout 0.11.x Azure worked, but was (strongly) discouraged.

**Describe the solution you'd like**
A clear choice:
1) do we or do we not support Azure. If we do, who is taking ownership for Azure deployment testing (and possibly de

[2019-07-25 18:57] unsoluble commented on #4798
For what it's worth, I've taken a brief look at a bunch of current Saas alternatives — Google App Engine, Digital Ocean, LiquidWeb, Back4Web, and none of them seem to fit our needs (none are free, primarily).

[2019-07-25 20:01] bewest commented on #4798
Howdy all! Thanks for the continued support and maintenance.  I wanted to share some important requirements I had in mind when originally developing the distribution channels for Nightscout.  Early on, (May 2014) I had done some research into regulations surrounding quality control, theory and practice of regulatory oversight.  One of the things that became clear was that one of FDA's concerns was

[2019-07-25 20:05] unsoluble commented on #4798
Wow, that's a fascinating angle, thanks for elaborating. Practical question: Has anyone actually been _doing_ this kind of analysis on deployed versions since it was conceived? I've never heard it mentioned in the three years I've been involved.

[2019-07-25 20:13] bewest commented on #4798
As I mention, it's been oft maligned and unappreciated.  Shortly after my initial meetings with FDA I actually did register us via Nightscout Foundation as a registered entity with FDA, which additionally bought us some discretion and freedom to operate.  I did experiment with using the github API to list out and query who was using which version.  The need to use a tool like this, thankfully, nev

[2019-07-25 20:13] Pogman commented on #4798
@PieterGit I retried the current dev branch in Azure and it still fails for me. CPU quota seems to be getting used up during deploy.

[2019-07-25 20:59] unsoluble commented on #4798
Considering the making-oversight-bodies-happy angle, this does seem like something we should stay on top of. But right now it's kind of like having a backup system that you've never actually tried restoring data from — if we aren't actively checking to see if it works, it's not really a system at all.

[2019-07-25 21:37] shanselman commented on #4798
Hey friends. I worked on some of the early Azure support and I had a call with @anthonychu today from the Azure team today and he's volunteered to do some analysis here. There's a number of ways we can run NightScout on Azure - Azure Websites being just one of them. There's also a number of improvements that have happened with Docker containers and deployment from a Container Registry that haven't

[2019-07-25 22:05] PieterGit commented on #4798
@shanselman @bewest Thank for your quick answers (and welcome back here at Nightscout Github 😄  ).

I hope @shanselman actions and calls will have success. I personally have tried to support Azure users in the past (e.g. 0.10.x cycle), and spent too much time fighting Azure and I gave up. I am no Azure users (privately, my company is). I think it's important to have working and maintainable code.

[2019-07-25 23:22] shanselman commented on #4798
Cool. We'll do some work and report back. I'll defer to @bewest and @sulkaharo and friends to determine the regulatory benefits or not of the forking thing (which is useful, but also historical). If there's a better way to let folks know about updates, that's outside the scope of Azure vs Heroku vs SomeCloud.

For now, I'm hearing:

* Given a fork on NS on GitHub
* Make it "falling of a log easy"

[2019-07-26 07:09] PieterGit commented on #4798
@shanselman I agree the forking stuff is another discussion, and far less important than choosing a solution for Azure support. I just mentioned it as a technical solution to use less CPU-power. It's fine if  we keep the forking because of regulatory benefits in future, and because we don't have notify-users/update-is-available feature available. @sulkaharo and I will clear the git-spam cluttering

[2019-07-26 07:57] sulkaharo commented on #4798
Sending a PM to @shanselman / @anthonychu / @jansche, will report back. :)

[2019-07-26 11:39] jansche commented on #4798
Thanks everyone!

Re: Testing
Is there a standard testing procedure or anybody who could outline what testing involves? I'd love to support the project by testing Azure deployment, so this issue could be covered by me if one person is enough. I do have one Azure and two Heroku deployments in my responsibility (call me fortunate) and in production use. I guess basic qualification for the job is giv

[2019-07-26 13:13] sulkaharo commented on #4797
@efidoman does this happen for all users, or just some? Can you get the request URL sent to Nightscout? Looks like the `date` utility works differently across different operating systems, so it's really hard to tell exactly what the dates are that are being sent.

At least what might be going on is the issued ISO date has to be properly URL encoded as it contains a plus sign, which is a reserved c

[2019-07-26 15:13] amazaheri commented on #4798
@shanselman let me know how can I assist and I am all in.

[2019-07-26 17:18] bewest commented on #4797
Also be aware you may need to use `curl -g` to turn "globbing" off.  Syntax like `{...}` and `[...]` get turned into glob patterns in curl by default.  https://ec.haxx.se/cmdline-globbing.html.  We use a similar syntax (compatible with [php's `parse_str`](https://www.php.net/manual/en/function.parse-str.php), ) to build up the query json object to pass to mongo's query interface.

[2019-07-26 17:41] sulkaharo commented on #4797
Lol @bewest yes and getting the globbing to work for the latest release on a new library that's still maintained and didn't have years old dependencies with terrible security issues was interesting :D

[2019-07-26 18:05] sulkaharo commented on #4797
@efidoman can you try https://github.com/nightscout/cgm-remote-monitor/pull/4806 if that changes the API behavior for you

[2019-07-26 20:08] unsoluble opened #4807 "DISPLAY_UNITS should support "mmol/L""
`DISPLAY_UNITS` needs to allow for "mmol/L" as well as "mmol" — way too many support problems stemming from this, and zero downside to accommodating.

Haven't had a chance to look into where code changes would need to happen, just dropping this here as a placeholder.

[2019-07-27 07:49] PieterGit commented on #4798
@jansche currently testing procedure is successful deployment, initial startup and basic operation (pump and CGM data are shown). As I understand it currently Nightscout won't deploy on Azure at all. Further tests are e.g. if the reports work as expected. If we have somebody that is able to deploy 0.12.x on Azure, we must see if there are problems in day to day operation. I don't think we will hit

[2019-07-27 08:50] sulkaharo commented on #4807
Merged to dev. Also normalizing wrong casing on mg/dl

[2019-07-27 08:50] #4807 closed

[2019-07-27 12:49] jansche commented on #4798
This I can do. Also on a regular and before release cycle. Count me in.

Current 0.12.3 NS deploys to Azure without problems, but only tested on paid tier. Free tier to be tested early next week. Operation is error-free, reports work as expected. So for now, it's a green light. With the paid-tier vs. free-tier issue.

[2019-07-27 12:50] jansche commented on #4798
And yes, I have it running in a 24/7 production environment (myself).

[2019-07-27 14:05] sulkaharo commented on #4761
I still don't understand what this ticket is about. Can you please clearly describe if this is a bug (something used to work and now doesn't) or a feature request (something that hasn't existed but you'd like to see), along with a clear description of what you expected to happen

[2019-07-27 14:12] sulkaharo commented on #4798
@jansche Yup dev is expected to work using a paid tier in Azure but reports indicate it fails when using the free tier due to CPU resource constraints.

[2019-07-27 14:53] sulkaharo commented on #4797
Now running #4806 in production, works with our OpenAPS 0.6.3 install (but not using Logger).

[2019-07-30 22:11] danpowell88 opened #4835 "Older browser support broken in 0.12.3"
Trying to run NS on an older ipad with safari 9 and it will not get past the loading screen.

I dont think I can easily get the log for what is causing the error but I'm guessing its probably something that just needs to be polyfilled.

Trying to find an emulator online I can run it through to simulate, I know theres been other issues like this with verison upgrades and the consensus was to try an

[2019-07-30 22:20] danpowell88 commented on #4835
Just confirmed it actually doesnt even appear to work in IE  11

![image](https://user-images.githubusercontent.com/1100397/62169602-f84a4400-b36b-11e9-9eea-978d2bc9a8ad.png)

Seems to be pointing towards this code
[code]

and the client.js one

[code]

[2019-07-30 22:34] danpowell88 commented on #4835
Confirmed still an issue in 0.12.3

[2019-07-31 06:26] unsoluble commented on #4835
The minimum supported browsers are listed in the [Readme](https://github.com/nightscout/cgm-remote-monitor#minimum-browser-requirements-for-viewing-the-site).

[2019-07-31 06:29] unsoluble commented on #4762
Fixed in 0.12.3.

[2019-07-31 06:54] sulkaharo commented on #4835
Both of those lines only contain Javascript that's supported by IE 11, so no clear reason why those would break. That $ reference error is also double strange, as that code hasn't changed in the release and worked on both browsers in the 0.11

[2019-07-31 16:25] francescaneri commented on #4761
I thought it should work as reported in this issue. Override mode plugin #4587

[2019-08-02 02:36] jaylagorio opened #4843 "Windows build support broken in 0.12.5 (since it broke in 0.12.3)"
After a `git pull` from an 0.12.2 directory or a `git clone` in a new empty directory, `npm install` fails to build Nightscout at the `heapdump` dependency. This worked as recently as last week with 0.12.2. Command line and output:

[code]

[2019-08-02 14:01] martinachtman commented on #4843
I've encountered the same behavior with _docker build_ and fixed it by adding build packages **python, make** and **g++** to node:10-alpine:
`$ cat Dockerfile
FROM node:10-alpine

MAINTAINER Nightscout Contributors

RUN mkdir -p /opt/app && \
    apk add --no-cache --virtual build-dependencies \
    python \
    make \
    g++
ADD . /opt/app
WORKDIR /opt/app
RUN chown -R node:node /opt/app
USER no

[2019-08-02 15:09] jaylagorio commented on #4843
I've added MinGW, which includes *make* and *g++*, to the environment which already contained Python. The error persists.

[2019-08-04 12:28] #4762 closed

[2019-08-04 21:48] m-a-v opened #4852 "Dockerfile does not build with 0.12.3"
To be able to build the Dockerfile with 0.12.3 Python and build tools need to be added.

Here is a possible solution:
https://github.com/nightscout/cgm-remote-monitor/issues/4843#issuecomment-517712085

See also here:
https://github.com/martinachtman/cgm-remote-monitor/commit/81418a2f039ce9b139ef00b4db9c81f9ce4a3c12?_pjax=%23js-repo-pjax-container

With Docker version 17.05 (release date 2017-05-0

[2019-08-05 07:07] charlenewoollard commented on #4852
How can I stop from getting these emails

Sent from my iPhone

[2019-08-06 16:54] Nightfoxy opened #4859 "Unable to submit Temporary Target Cancel - requests valid top and bottom range values"
**Describe the bug**
I try to set a Temporary Target Cancel action in the care portal, but when I submit, I am prompted to "Please enter a valid value for both top and bottom target to save a Temporary Target" and the submission is not completed. For the Temporary Target Cancel, there are no top and bottom value fields nor should there be.

**To Reproduce**
Steps to reproduce the behavior:
1. Go t

[2019-08-06 18:16] unsoluble commented on #4859
Is looking like this was probably an unintended side-effect of #4812.

[2019-08-07 00:38] m-a-v commented on #4852
https://github.com/m-a-v/cgm-remote-monitor/commit/12e362740f1ce21322a5f3bcc94a1fda132bb0d0 fixes this issue (multi-stage builds is not needed since everything can be done with a sinlge RUN command).

I still have to test it before I will make a PR.

@PieterGit I am not familiar with npm. Is there a way to delete unneeded data? The base image is approximately 81 MB. After the npm commands the imag

[2019-08-12 13:28] oleg-post opened #4893 "blind widget of Nightscout X"
**Describe the bug**
I have Nightscout X installed on Apple iPhone (SE, 6 and 8+). Everywhere the widget  Nightscout Glucose is a blind, i.e. no figures are seen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Your setup information**
- The version of Nightscout (e.g. 0.12.3)
- What type of CGM, and how do you get your data there? (e.g. Spike)
- iPhone
![IMG_0409]

[2019-08-12 15:43] unsoluble commented on #4893
Nightscout X is a third-party wrapper app — best to try to get in touch with its developer (@DaniFernandez95 on Twitter).

[2019-08-12 17:27] iybjc opened #4896 "How does the Alexa API accept requests?"
I am working on a custom Alexa skill, and part of it is a Python 2.7 Lambda function that sends a request to a user defined endpoint. I've been looking for a while, and I can't figure out how exactly the Alexa Skills Kit actually goes about sending a request to the heroku website in order to grab something like NSStatus. I have Alexa enabled for my instance;
![alexa](https://user-images.githubuser

[2019-08-13 00:07] unsoluble commented on #4896
Just in case: You listed your URL with `http` here — `https` is required for connections as of 0.11 (or somewhere around there).

[2019-08-13 17:36] iybjc commented on #4896
I actually tried HTTPS, and got a 400 error instead, I'm assuming that's not much better, plus when I manually navigate to https://(mydomain).herokuapp.com/api/v1/alexa, it says `Cannot GET /api/v1/alexa` , but stuff like status.json works etc

[2019-08-13 19:21] leftyg commented on #4753
Question, do I have to run two NS instances to get this workaround implemented? One for minimed-connect-to-nightscout and the other for cgm-remote-monitor?

[2019-08-14 01:06] unsoluble commented on #4753
You’ll need to wait for this fix to be merged (or for a fix coming from another angle), and then update your NS site. Forking the mmconnect repo isn’t going to get you anywhere.

[2019-08-14 11:59] bartsluimer commented on #4835
Would it be possible to only make the color clock overview open for older browsers? Have got an IOS 9 ipad ready to display the values next to our bed.

[2019-08-14 12:04] unsoluble commented on #4835
No, but you can deploy an older version of NS to a second site for use on unsupported devices. Full guide [here](http://www.nightscout.info/wiki/welcome/how-to-deploy-an-older-version-of-nightscout).

[2019-08-14 21:08] timmy354321 opened #4898 "Request for Eversense integration to Nightscout"
As a prevoius long-time user of nightscout with dexcom, I would love to see my eversense data in nightscout again. Are there any plans to make an eversense-nightscout bridge? Are there any methods of getting my data into nightscout using an iPhone? Thank you.

[2019-08-15 17:03] iybjc commented on #4896
Confirmed with several other people who use Nightscout, going to https://(mydomain).herokuapp.com/api/v1/alexa, says `Cannot GET /api/v1/alexa` , but stuff like status.json works. Tried re-deploying the latest commit of the Nightscout repo, same issue.

[2019-08-16 02:25] unsoluble commented on #4898
Can be done via [this](https://github.com/BernhardRo/Esel).

[2019-08-16 02:44] timmy354321 commented on #4898
I am using iOS. I believe the esel/xdrip route is android only.

[2019-08-16 02:47] unsoluble commented on #4898
You’re out of luck then; this is the only option currently.

[2019-08-16 17:35] ryanchen26 opened #4899 "Request Heartrate eventType option in Careportal"
I'm the developer of the Fitbit Sentinel clockfaces for monitoring CGM data: ([https://gallery.fitbit.com/details/5f75448f-413d-4ece-a53d-b969c6afea7c]).

I made this clockface for tracking my 2 type-1 sons. Currently I have an option in Sentinel One (the kid's version of the Sentinel clockfaces) to post heartrate values to nightscout through careportal at a user defined interval if over a user de

[2019-08-17 01:05] ryanchen26 commented on #4899
I think I'll just use the exercise event and put the HR in the notes.

[2019-08-17 05:11] sulkaharo commented on #4899
Hi! This is basically what the /activity API is for, only we never finished the implementation. I would not use Careportal for this. How are you planning to use the data?

[2019-08-17 06:52] ryanchen26 commented on #4899
I would use the data to just look at the relationship between exercise intensity and blood glucose levels (in combination with IOB, and COB, time since last bolus, etc.). If there are clear patterns perhaps that information can be used to develop better dosing/snack/meal strategies before, during, after a particular exercise activity.

[2019-08-17 22:56] ps2 opened #4901 "Fixed offset timezones"
**Is your feature request related to a problem? Please describe.**
When Loop uploads fixed offset timezones, like "GMT-0500" they don't show up in the timezone picker for the profile editor. The schedule rates themselves seem to be displaying properly in the main screen, so it seems like there is some level of support for them.  Fixed offset timezones are important for Loop, as they are more repre

[2019-08-18 06:48] sulkaharo commented on #4901
I'm not sure I follow what the desired end goal is here? Where do you see the profile time zone being used? Is Loop reading it in? Is some data being displayed wrong somewhere?

Nightscout's current date implementation works so that when data is sent to the REST API, the API expects the dates to use the ISO-8601 format. The date is then normalized to UTC in the database for the purpose of REST que

[2019-08-20 09:36] PieterGit opened #4903 "Inconsistent CGM pill state and warning with xdrip-js module"
**Describe the bug**
Nightscout shows inconsistent CGM state to user. It has a warning/alarm (yellow): "Sensor warmup" and a CGM pill status text "Failed start" (orange). This is with xdripjs Lookout. The sensor was started, but gave a 0x16 error (failed start) so it wasn't warming up.

**To Reproduce**
Happens after a CGM Dexcom G6 `0x16` error. The sensor was started with `lookout back-start 123

[2019-08-20 10:01] PieterGit commented on #4903
@jpcunningh Did a quick code search. I think this is caused somewhere near https://github.com/nightscout/cgm-remote-monitor/blob/48c0f59088f42ff767b401390f8aa857a1376ca1/lib/plugins/xdrip-js.js#L315
But perhaps it's some default Nightscout behaviour based on notifications/alarms on `WARN` level.

I don't understand why the CGM Pill text update  `sbx.pluginBase.updatePillText` won't update/cancle t

[2019-08-20 12:08] jpcunningh commented on #4903
@PieterGit, the orange `Sensor: Sensor Failed Start` is not tied to the alarm.  It is an Announcement that Nightscout clears after some amount of time.

Lookout both sends the Announcement when the status changes and sends the device status record the CGM Pill uses to display the status.  If the CGM status changes within the time before the Announcement ages out of the NS display, it could be out

[2019-08-21 02:50] iybjc opened #4906 "Alexa API Internal Server Error"
**Describe the bug**
Internal server error when sending NSStatus POST request to `https://(mydomain).herokuapp.com/api/v1/alexa`

**To Reproduce**
Steps to reproduce the behavior:
1. Use Fiddler or some other Web Debugger to debug responses etc.
2. Go to where you can manually send a request (in Fiddler it is Composer)
3. Send a POST Request with HTTP(S)1.1 to `https://(mydomain).herokuapp.com/api

[2019-08-21 03:52] ps2 commented on #4901
The profile timezone should be shown in the profile editor, and it isn't for fixed offset timezones.

[2019-08-21 03:55] ps2 commented on #4901
I also realized that the console log was filling with error related to the fixed offset timezones:
<img width="413" alt="211_-8_→" src="https://user-images.githubusercontent.com/14649/63401551-4cf64300-c39d-11e9-96a4-5011bbeb76d9.png">
Based on those errors, I patched Loop to upload fixed offset timezones with identifiers like `ETC/GMT+6` instead of "GMT-0600" (https://github.com/ps2/rileylink_ios

[2019-08-21 08:22] guydavies commented on #2973
Wow...  I just came across this issue too.  I understand how to work around it but I was trying to work out how to make autotune web use token based auth.  I have a token for autotune that has admin rights (so that it can look at the profiles) but when you go into the main page with the autotune token, that token isn't maintained when you go into the Profiles editor.  It's the bare URL/profiles/ w

[2019-08-21 10:54] efidoman commented on #4903
I just experienced this same issue with Logger while testing out a CGM status text update to show tx-expired if tx age > 90 days. I'll look at the Logger logs to see if it is Logger that is putting it out of sync or NS processing. I'm not sure which it is at this time.

[2019-08-21 10:54] efidoman commented on #4903
![cgm-pill-status-takes-time-to-show-latest](https://user-images.githubusercontent.com/26698840/63426327-87350400-c3e0-11e9-8dff-3f30d5bedf1f.png)

[2019-08-21 10:55] efidoman commented on #4903
About 5 minutes later, they got in sync. It could be logic in both Lookout/Logger that causes this. Checking now.

[2019-08-21 10:57] efidoman commented on #4903
Yes, I think it is Logger with the issue ... It processes the announcements if last state is different than this state. See the 5 minute lag ...
08/21 06:42:44 saveLastState, state=Needs Calibration-tx-expired
08/21 06:47:39 readLastState: lastState=Needs Calibration-tx-expired
08/21 06:47:42 process_announcements: state=Needs Calibration lastState=Needs Calibration-tx-expired status=OK lastStatus

[2019-08-21 20:04] bogdangorescu opened #4908 "No IOB from Careportal for Medtronic Enlite CGM"
**Describe the bug**
When using mmconnect for a Medtronic Enlite sensor, the NS site assumes that I'm also using a Medtronic pump and display 0.00 in IOB pill, instead of the real IOB. When I hover the IOB pill, it pops a modal with a text like "Source> MM Connect, Device> connect://guardian", after which it displays the text "Careportal IOB” followed by the correct IOB value.

**To Reproduce**
Ta

[2019-08-21 23:01] efidoman commented on #4903
I checked the Logger code and the announcement post along with the cgm pill post are side-by-side in the Logger loop. I can't find a reason in Logger for the 5 minute delay.

[2019-08-22 17:10] BPorath908 opened #4913 "Nightscout stopped communicating with dexcom"
Having issues getting Nightscout up and running? Instead of creating an issue here, please use one of the existing support channels for Nightscout.

The main support channel is on Facebook: please join the CGM In The Cloud Facebook group (https://www.facebook.com/groups/cgminthecloud) and start a post there.

**Suggestions to include in your post when you are asking for help:**
1. Include what you

[2019-08-22 17:41] #4913 closed

[2019-08-22 21:35] PieterGit commented on #4798
Postponing this issue to a Nightscout 0.13 release.
@jansche @amazaheri @shanselman @Pogman can you give an update?
- Will Azure support for free tiers return?
- Does current 0.12.3 or dev branch work on Azure without issue on a paid tier?
- Please also make sure recent Node without security issues is available on Azure.

[2019-08-22 21:38] PieterGit commented on #4797
@efidoman Can you give an status update on this issue?

Does https://github.com/nightscout/cgm-remote-monitor/pull/4806 (merged with 0.12.3? ) fix this issue?

[2019-08-22 21:39] PieterGit commented on #4797
@efidoman @sulkaharo Please let me know if this issue is fixed with 0.12.3 or not. This issue is still open, but the 0.12.3 release is out of the door.

[2019-08-23 13:58] PieterGit commented on #4753
@leftyg @unsoluble @LynneRB
Implemented a fix for this by Integration of minimed-connect-to-nightscout v1.3.1 into Nightscout.
I can't test this myself. Please help test this PR: https://github.com/nightscout/cgm-remote-monitor/pull/4915 and report your findings there.

[2019-08-23 14:19] PieterGit commented on #4903
@jpcunningh @efidoman thanks for your updates. I postpone this to the 0.13.0 release and I hope somebody has some time to figure this out in that time frame (that might even be me 😄  ). If somebody knows if this is a Lookout or Nightscout issue, and is able to fix this, please help contribute to fix this issue.

[2019-08-23 14:36] PieterGit commented on #3337
Postponing to Nightscout 0.13 because we only implemented a bit for this PR.
We should either work on it, or remove the activity storage feature from Nightscout if there is no interest in doing usefull stuff with int.

@jamorham Do you known if there xdrip plus uses activity data or that it's only able of storing it in Nightscout?

[2019-08-23 14:38] PieterGit commented on #4899
@ryanchen26 Can you have a look at the `activity` API implementation and see if you can make that work with Fitbit Sentinel clockfaces? See e.g. https://github.com/nightscout/cgm-remote-monitor/issues/3337 and https://github.com/nightscout/cgm-remote-monitor/blob/master/lib/server/activity.js

As far as I know only xdrip+ android app has limited support for uploading activity data.
Given the high

[2019-08-23 15:20] jansche commented on #4798
Im running 0.12.3 without issues on a paid tier in Azure. Only thing to mention is that I don't get the option to show color prediction lines in the menu. It shows up in my other (Heroku-powered) install. So I guess this is related to the Azure base?

[2019-08-23 16:35] szymjaw commented on #4753
I test with success. Both US with login data from @LynneRB and my, EU.

[2019-08-23 20:36] Pogman commented on #4798
I don't actively use Azure but if there are any recent changes that have a chance to make it work there I can try it out again.

[2019-08-24 16:55] PieterGit commented on #4753
fixed with https://github.com/nightscout/cgm-remote-monitor/pull/4915 . Closing this issue

[2019-08-24 16:55] #4753 closed

[2019-08-24 21:31] francescaneri commented on #4761
solved with the latest versions of loop v.1.10.1 thanks @ps2 @Kdisimone

[2019-08-24 21:31] #4761 closed

[2019-08-25 07:29] ryanchen26 commented on #4899
I'm not familair with the activity API for nightscout. I look forward to reading about it. In the meantime I'll just do my thing. Good luck.

[2019-08-25 07:29] #4899 closed

[2019-08-26 16:34] MilosKozak opened #4929 "ProfileEditor bug. timeAsSeconds not updated"
while changing time, profile `timeAsSeconds` parameter is not updated

for example change "03:00" to "04:00" updates `time` properly but `timeAsSeconds` is the old one in final json

[2019-08-30 21:23] nathanscrivener opened #4949 "update readme"
In the readme, can we please update it under the section relating to BASE_URL. There should be a warning to users that if they set up auth roles, and need to set BASE_URL for API callbacks, they need to set this to include a token that has access.

[2019-08-30 23:17] unsoluble commented on #4949
Would be great if you could do a quick PR off `dev` for this; if the wording looks solid it should be a quick merge.

[2019-09-06 17:20] fromorbonia commented on #4798
I do actively use Azure, but it has taken me 12 months just to get back to a NightScout bug I think I might have fixed! I also find it hard to help with deployment issues beyond versioning.
I only spotted this thread today :-(.
Can we setup a NightScout Azure Gitter thread, which I can look at and see if I can start to help.
I also want to setup some basic automated functional tests with Katalon S

[2019-09-07 05:15] marionbarker opened #4971 "Loop Basal Rate Actual Delivery vs Nightscout Day to Day Report"
EDITED: Anything in {} should be disregarded.  Please see my later post (9/7/2019). I did not delete anything.  Just added newline{ and }newline around incorrect assumptions.

Please include the following information with your bug report:

Is this a new bug with the latest release, have you seen this earlier?
The reported basal values in Day-to-Day Report differ significantly for Omnipod Loop from

[2019-09-07 13:29] bartsluimer commented on #4971
<img width="999" alt="Schermafbeelding 2019-09-07 om 15 28 13" src="https://user-images.githubusercontent.com/25899216/64475530-3bc27a00-d184-11e9-8eaa-8f7684abf791.png">
<img width="1347" alt="Schermafbeelding 2019-09-07 om 15 28 40" src="https://user-images.githubusercontent.com/25899216/64475531-3bc27a00-d184-11e9-86ff-71e8457d2e9c.png">

[2019-09-07 14:44] marionbarker commented on #4971
Update.  I redid my spreadsheet where I try to reproduce the NS reported basal total from day-to-day report.  This time I changed the reported 4 or 9 minute duration to 5 or 10, etc, and I was able to reproduce the NS number fairly well.  I don't have time to post spreadsheet - still needs some clean up and explanation added. And I'm also planning to add the actual quantized basal delivery from AH

[2019-09-07 15:42] ps2 commented on #4971
The current dev version of Loop is now uploading an `amount` field on `Temp Basal` records.  If set, it will reflect the actual amount of insulin delivered to the best of Loop's knowledge, using pulse timing of specific pumps. At the moment, this will only be set for omnipod, I believe. Eventually records from Medtronic pumps will include this field.

[2019-09-07 15:43] ps2 commented on #4971
Also, the records will initially be uploaded w/o this field, as we don't have the final delivery amount until the dose is ended. A later update will set the value, if we have it.

[2019-09-08 18:33] ps2 commented on #4971
Ok, dev is updated so that Medtronic is also including a populated `amount` field on uploaded temp basals. This amount reflects total delivery, *not* relative to basal schedule.

[2019-09-08 18:45] bartsluimer commented on #4971
Is it best to keep loopworkspace or normal loop dev?

[2019-09-08 18:50] ps2 commented on #4971
Either should work. But for future reference, that kind of question is probably best for Zulip. Comments on this ticket should be saved for discussion around how to fix this issue.

[2019-09-10 12:02] bartsluimer commented on #4971
Still there is a big difference between Tidepool en Nightscout. Running latest dev of Loop.

![Schermafbeelding 2019-09-10 om 14 01 24](https://user-images.githubusercontent.com/25899216/64612212-8be34b80-d3d3-11e9-8a40-d4f71dd251c9.png)
![Schermafbeelding 2019-09-10 om 14 01 31](https://user-images.githubusercontent.com/25899216/64612213-8c7be200-d3d3-11e9-9c30-ebacb61f3e15.png)

[2019-09-10 13:55] ps2 commented on #4971
I looked into the code for this a bit.  Unfortunately, there are several untrue assumptions in the current daytoday.js math.  The algorithm, for each day, samples the current basal rate every 5 minutes of the day, then does rate based math to calculate positive and negative rates, then adds them together with scheduled basal.

To accurately reflect how much insulin was delivered as basal and temp

[2019-09-10 18:59] zehnBE opened #4979 "[feature request] Reports: a Week To Week Page, but not with BG values, but with Basal-Line"
**Is your feature request related to a problem? Please describe.**
no, not related to a Problem.

**Describe the solution you'd like**
The Week To Week Report shows the Days BG-Lines from a Week overlappt.
And this also for the Basal-Line, that you can see how much differents it was.

**Describe alternatives you've considered**
I think the most problemly part is the graph, that you not overlap the

[2019-09-14 04:45] naromero77 opened #4982 "Suspend shows schedule basal rate instead of zero insulin period"
**Describe the bug**
This occurs with Loop dev while using the omnipod pump. When a suspend is initiated, the schedule basal rate is still shown. It should be shown as a zero insulin period.

**To Reproduce**
Change a pod or do a suspend in Loop.

**Expected behavior**
NS should be consistent with Loop and show suspends as zero insulin periods.

**Screenshots**
Screen shots provided by Marion Bark

[2019-09-14 11:09] marionbarker commented on #4971
Adding one example of "new" after Sept 9, 2019 dev update and "old" versions for the TempBasal format - example is for Omnipod. Note that both Medtronic and Omnipod were updated.  The NS day-to-day report basal total discrepancy is much more obvious for Omnipod because of the basal pulse timing.

Summary of change:

- "duration" is no longer integer minutes
- "amount" is added

### new TempBasal
{

[2019-09-16 07:37] Kywalh opened #4987 "Add A1c graph in the NS report"
The overall idea behind this feature request is to be able to visualize in the report section the evolution of the A1c in time.
I assume that a rolling window of 3 months is what we need but I assume it can be configured as for all the others reports.
My personal interest is to see how the close loop helped in reducing the A1c.

Thank you

[2019-09-16 22:44] fromorbonia commented on #4798
@jansche - I'm trying to get the free service tier running on 0.12.3, but appears to be failing on lack of node-gyp support (which I think is wrong version available of the build tools available on Kudu). As opposed to a problem with CPU.
Have I just missed the CPU error in the logs, or is there a fix for node-gyp build issue? Thanks

[2019-09-17 07:10] jansche commented on #4798
@fromorbonia same here. Node-gyp was the problem according to logs. I had to switch to Linux platform on Azure, which is only free the first 30 days.

Sent from mobile, please excuse tone.

[2019-09-17 09:42] fromorbonia commented on #4798
@jansche thanks for the confirmation, i will try some other options around msbuild. Seems bizarre the kudu doesn’t have the build tools preloaded somewhere

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-18 15:17] CoreISP commented on #2973
Yep, similar issue here. It not being persistent is a problem, especially as they can't enter their token in to the authentication window either as that only accepts the API_SECRET. So you have to explain to them to modify the reports url and add ?token=<theirtoken>. This doesn't make much sense to me at all.

I'd much rather see the API_SECRET being used for linking your device (eg: Spike, xDrip,

[2019-09-18 22:04] fromorbonia opened #4991 "The DayToDay Report only uses the last basal profile, not the actual profiles"
**Describe the bug**
Where multiple basal profiles that apply over the period I want to report on - only one  basal profile is applied, and it is always the latest one

**To Reproduce**
Steps to reproduce the behaviour (in this example I am looking at one basal profile per day, starting on a Monday):
- Use Profile Editor to create a basal pattern with a valid from date time of Monday midnight, e.g

[2019-09-18 22:06] fromorbonia commented on #4991
@jjaone - finally got around to do some proper testing on this.

[2019-09-19 06:14] Nightfoxy opened #4993 "Temporary Target Top and Bottom validation problem"
**Describe the bug**
Setting a temporary target with a Top value 100 or above and a Bottom value of 99 or below results in an error that says "The low target must be lower than the high target and high target must be higher than the low target." and the temporary target cannot be submitted.

If I enter the bottom value with a "0" in front like "080" and a top value over 100, then the error message

[2019-09-19 07:31] unsoluble commented on #4993
What plugin is this from? It's not one of the core careportal events.

[2019-09-19 07:53] sulkaharo commented on #4993
Yup OpenAPS users get to enter temporary target events. That error is really strange, which browser is that? The error indicates a simple check between the numbers is failing (is 130 < 90 / is 90 > 130).

[2019-09-19 07:54] unsoluble commented on #4993
Yeah I'm staring at the validation code in `careportal.js` here, can't see anything that would cause this comparison to fail. And the zero-padding success just makes it weirder.

[2019-09-19 21:39] thecubic opened #5002 "HTTP Basic authentication"
**Is your feature request related to a problem? Please describe.**
Default-exposure of the Nightscout base URL shows a live-updated datastream of the associated human being.  By configuration, that human / caretaker should be able to lock down the website such that any visitor must pass basic pre-shared authorization before any app page will load.

My personal problem is I had created a inside-jok

[2019-09-19 22:26] unsoluble commented on #5002
Does the AUTH_DEFAULT_ROLES var not solve this for you?

https://github.com/nightscout/cgm-remote-monitor#featureslabs

[2019-09-20 02:40] StevieMac70 commented on #4798
I will help with Azure testing as well....  :)  Let me know how I can help.

[2019-09-20 02:44] thecubic commented on #5002
It does, I was unaware, thanks.  IMHO the default should be `denied`, since any first-time setup is going to require the API secret anyway

[2019-09-20 02:44] #5002 closed

[2019-09-20 05:07] Nightfoxy commented on #4993
Yes, OpenAPS. Current version of Chrome for windows. Happens on Android and multiple comptuers.
I was hoping it would be fixed in this release, but I guess no one noticed? I have to use at least a 30 point spread to mostly get around the IOB calc issue in Loop. Strange it hasn't been mentioned before.

[2019-09-20 05:11] Nightfoxy commented on #4993
I know some changes were made to the Temporary Target options in 0.12.3 to try and enforce the Top being higher than the Bottom. It ended up breaking the Temporary Target Cancel event and this issue, as far as I can tell.

[2019-09-22 11:42] PJHNS opened #5014 "Cross on "Color" clock view is not clickable"
In 0.12.4, on the "Color" clock view page, the cross in the top right of the page isn't clickable (whereas the same crosses on the other clock view pages are clickable). On all three clock view pages the space immediately above the cross is clickable, so on the "Color" clock view page I need to use that area to close the page.

[2019-09-22 22:22] unsoluble commented on #5014
Yep, known CSS bug. Those close buttons are primarily useful on mobile (where navigation isn't as obvious), and the targets work properly there. Something wonky in the desktop rendering of the click target, haven't had a chance to dig into it yet. If you've got any ideas, love to hear 'em.

[2019-09-22 23:51] unsoluble commented on #5014
Fixed in #5018 (with a z-index on the close button).

[2019-09-24 16:03] aviau opened #5023 "forward data to Tidepool"
It would be great if nightscout could forward data to Tidepool.

I personally use nightscout in bridge mode with the official dexcom app and I don't have xdrip+ installed on my phone.

I'd would love for nightscout to forward my data to tidepool.

[2019-09-24 19:20] unsoluble commented on #5023
Certainly possible as a plugin, just needs someone to write it.

You're familiar with the Tidepool mobile app, yeah? It'll do background uploading of your Dexcom data.

[2019-09-24 20:10] aviau commented on #5023
Not on Android, and I would still prefer a nightscout plugin as it would save battery usage on my phone.

[2019-09-24 20:38] unsoluble commented on #5023
Still? Yeesh, that's rough. Guess it's likely the lack of a standardized OS-level health DB.
If you're up for some coding here, that'd be awesome. I think a lot of folks would use this.

[2019-09-25 11:35] haspden opened #5025 "Reports Pages +24hours when viewed from non GMT timezone"
When viewed from a different time zone data appears +24 hours in the reports section.

Whilst it shows correctly in the database, uploads correctly etc, the data pulls to xDrip aaps etc correctly however

Viewed from Spain the data appears on 26/09/19 in the graph not 25/09/19 +24 hours

Viewed from the UK the data appears today in 25/09/19 correctly.

This appears in all 0.12.3 and 0.12.4 sites I

[2019-09-26 10:43] robinsondan87 opened #5027 "Treatment Report Filtering"
**Describe the bug**
When using the Nightscout reporting Treatments page the "Notes contain" & "Event Type" filters make no difference in the returned events.

**To Reproduce**
Steps to reproduce the behavior:
1. To go Reports
2. Select Treatments
3. Tick "Event Type" and Select Pump Site Change for example
4. Press Show
5. When report is rendered it still shows all the output

**Expected behavior

[2019-09-28 14:57] norbicz opened #5032 "Guardian Connect, Heroku: Error 400 with Carelink"
**Describe the bug**
On Friday Nightscout page stopped receiving data but Carelink page works itself.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Dev branch to Heroku and setup app with provided instructions for Guardian Connect CGM

**Expected behavior**
Page works and data are displayed

**Your setup information**
- Nightscout Dev branch
- Guardian Connect, Heroku app
- All brow

[2019-09-28 22:15] unsoluble commented on #5032
Fixed in the mmconnect plugin; NS patch coming soon.

[2019-09-29 09:43] norbicz commented on #5032
Hi,
Thank you for fast reaction :)
Could you let me know when I can update webpage?

Best Regards

[2019-09-29 12:46] ireneusz-ptak opened #5034 "Extra info (delta and last measurement time) on clock view."
The issue I'm trying to solve is that NS views are too complicated (graph) or too simple (clock views) for people that take care of our kids at school/kindergarten.

Two fields I'm currently missing are the delta and last measurement time (despite the stale status).

I fixed the problem by adding 2 parameters to the clock view URL (showDelta and showLastTime) so the features could be disabled for

[2019-09-29 18:04] jwedding commented on #5023
I think we (Nightscout Foundation) would actually pay for this....getting data into Tidepool could actually pay the Nightscout Foundation back as part of their grant, so....

[2019-09-29 18:12] jwedding commented on #4154
Add me as a +1. The High Alarm toggle in NS doesn't work. Hasn't for a very long time, if ever.

[2019-09-29 18:15] unsoluble commented on #4154
This continues to be strange. Whenever I’m troubleshooting someone else’s site and they’re high, the high alarm will always go off in my browser. Can’t figure out what’s causing it to fail for seemingly everyone else.

[2019-09-29 18:36] sulkaharo commented on #4154
Yup it’d be great if you can post all your settings except for the api secret and mongo URL exactly as they are and describe exactly what the wrong behavior is. What makes debugging this really hard is “alarms don’t work” seems to mean about 20 different things and it’s very hard to tell what’s going on exactly, especially since I’m unable to reproduce issues.

[2019-09-30 06:19] unsoluble commented on #5034
If you could also include user parameters for this so that those elements would default to off but be enabled with config vars, I'd back the PR. The current design of the color clock in particular was determined through extensive preference collection from NS users; the vast majority wanted it to only display the value and arrow, so that's what it's got.

Ultimately I'd love to see a fully modular

[2019-09-30 06:22] unsoluble commented on #5032
This _should_ be fixed now with a redeploy of your existing codebase. If it isn't fixed by that, you can PR your own fork with a change to line 90 in `package.json` — set it to:

`"minimed-connect-to-nightscout": "https://github.com/szymjaw/minimed-connect-to-nightscout.git#dev-v.1.3.2",`

[2019-09-30 07:49] norbicz commented on #5032
It works, I can see data on the webpage now.
I have edited package.json in my fork because Dev branch still has old package.json.

I will close this issue when the fix will be available on Dev with only fork action required.

Thank you

[2019-09-30 10:13] meenanader commented on #4896
Interestingly, When I call /api/v1/alexa I get the same output, but when I set that into Alexa dev url, everything works fine.
I can get the result fine from the dev test on the laptop, but can't get my device to recognize the skill on the echo device or the Alexa mobile app.

[2019-09-30 11:02] pleinolijf commented on #5032
I can also confirm the working fix after the `package.json` edit. Many thanks @unsoluble !

[2019-10-05 18:32] iybjc commented on #4896
@unsoluble semi unrelated but I don't think it is, I can do a normal `requests.get` call with no https and it works perfectly fine.

[2019-10-06 07:22] meenanader commented on #4896
It simply works fine.
Just dont try to call the api url from browser or postman as that will not work.
Just use the url in Alexa app directly.
I have also changed my own code to make it accept more keywords and also to round the result to 2 decimal places as for example cob can be said as 30.757755457755 which is annoying.

[2019-10-07 20:57] Veronika0619 commented on #5032
sorry doesnt work for me even after update (the line 90) :( dont you know what might be an issue? thank you.

[2019-10-07 20:59] unsoluble commented on #5032
@Veronika0619 Try just updating your NS to 0.12.5; fix is included in that now.

[2019-10-07 21:07] Veronika0619 commented on #5032
Unfortunately Im using  Release 0.12.5 but still getting the same error "MiniMed Connect error: Error: Bad response from CareLink: {"statusCode":400" :((

[2019-10-07 21:08] unsoluble commented on #5032
Have you _deployed_ the new release?

[2019-10-07 21:12] Veronika0619 commented on #5032
well I´m not sure wheter I´m doing everything all right, but I just deleted cgm-remote-monitor repository and than forked it with the newest version..e.g. when I select http://nightscout.github.io/pages/update-fork/ there is a message no update abailable :(

[2019-10-07 21:16] unsoluble commented on #5032
Well that's a pretty nuclear option, but okay. :)

Still need to be clear whether or not you've actually deployed that fresh code to a Heroku app.

[2019-10-07 21:21] Veronika0619 commented on #5032
all right I´m going to check out again

[2019-10-07 21:23] unsoluble commented on #5032
If you actually deleted your fork and then created a new one, you'll need to make a new connection to the new fork in your Deploy section in Heroku.

If you end up deploying a brand new app, you'll need to make sure to delete the previous app, so that you don't accidentally blow through your free dyno hours each month.

[2019-10-07 21:46] Veronika0619 commented on #5032
Thanks a lot for your help!! its working .) I just didnt make a new connection in Heroku.. thanks again .)

[2019-10-07 21:51] unsoluble commented on #5032
Excellent!

[2019-10-09 09:57] wepliny commented on #4659
Authentication failed. {status: 200, message: "UNAUTHORIZED"}
hashauth.js:137 ƒ verifyAuthentication(next) {
    hashauth.authenticated = false;
    $.ajax({
      method: 'GET'
      , url: '/api/v1/verifyauth?t=' + Date.now() //cache buster
      , headers: client.headers…

[2019-10-09 10:01] wepliny commented on #4659
(eval $(cat my.env | sed 's/^/export /') && PORT=1337 node server.js)
this is my startup code

CUSTOMCONNSTR_mongo=mongodb://admin:123456@127.0.0.1:27017/admin
CUSTOMCONNSTR_mongo_collection=entries
MONGO_PROFILE_COLLECTION=profile
API_SECRET=LONGAPISECRETSTRING
HOSTNAME=127.0.0.1
ENABLE=careportal%20basal%20bwp%20iob%20cob%20cage%20sage%20iage
SHOW_PLUGINS="rawbg-on careportal upbat iob profile c

[2019-10-09 14:20] unsoluble commented on #4659
@wepliny That's not a crashed app, that's an actual authentication failure.

[2019-10-09 15:25] wepliny commented on #4659
Where is the setting API_SECRET?

[2019-10-09 15:27] wepliny commented on #4659
my url http://cgm.u-x.cn
please help me

[2019-10-09 15:36] unsoluble commented on #4659
`API_SECRET` is a config variable, normally set through the Heroku interface. If you're hosting your own site, can't really help with the details.

[2019-10-09 15:41] wepliny commented on #4659
My CGM use centos config , How to config the API_SECRET,or please recommend me see configuration method, I can't login my NC system, you can access (http://cgm.u-x.cn), I have carried out the command

(eval $(cat my.env | sed 's/^/export /') && PORT=1337 node server.js)

[2019-10-09 15:43] unsoluble commented on #4659
This isn't really a support forum. Try over in [Gitter](https://gitter.im/nightscout/cgm-remote-monitor) or [Discord](https://discordapp.com/invite/zg7CvCQ).

[2019-10-09 15:46] wepliny commented on #4659
Thank you very much, to learn from you

[2019-10-10 10:50] sandyavery opened #5069 "Bolus correction marker"
Would like to add the ability to add a marker when a Bolus correction is made, would be a useful piece of information to have, perhaps a coloured dot on the graph with actual time and amounts given on another screen?

[2019-10-10 11:33] sulkaharo commented on #5069
Sounds like the Careportal feature which we already have. Have you enabled the careportal?

[2019-10-10 11:57] sandyavery commented on #5069
I have no idea, what is it and where do I look?

[2019-10-10 17:57] unsoluble commented on #5069
Add `careportal` to your `ENABLE` string, then check it off under "Show Plugins" in the main menu of your NS site.

[2019-10-11 19:18] robwild commented on #4896
Having the same issue as above https://github.com/nightscout/cgm-remote-monitor/issues/4896#issuecomment-521717593, running 0.12.4 on an Heroku instance, followed all the config instructions on https://github.com/nightscout/cgm-remote-monitor/blob/master/docs/plugins/alexa-plugin.md, XXX..herokuapp.com/api/v1/status.json works fine and shows that alexa is in the enable state, any help would be muc