[2017-07-13 19:49] Chewwy420 commented on #2674
Updated my DEV site to 6.11.1 and after 7 hours been working fine so far...

[2017-07-14 03:29] chsnell commented on #2674
There are 3 files that I found that reference the 6.10.0 version in the dev branch:
.nvmrc
Dockerfile.example
package.json

package.json is the obvious one that needs an update, but the other two should be updated to stay in sync as well, most likely.

[2017-07-14 04:50] sulkaharo commented on #2674
I just pushed #2681, which updates dev to use the patched Node 6.11.1

[2017-07-14 19:22] Breeze773 commented on #2674
Thanks @sulkaharo and everyone else.  Deploying the updated branch as I type this.

[2017-07-14 19:24] #2674 closed

[2017-07-14 19:41] Breeze773 commented on #2674
This may be a side issue, but the timestamp on my version is concerning.  It has a date in April.
`
0.10.0-dev-20170423`
Though my heroku build (deploy) log clearly shows an update happening.
` Installing binaries
       engines.node (package.json):  6.11.1`

This feels like possibly a cosmetic thing, but wanted to make folks aware.

[2017-07-15 16:50] Brogydog commented on #2665
Same issue here

[2017-07-20 17:29] ELUTE commented on #2658
Sorry to clarify, the basal is not updating correctly here /api/v2/properties/basal?pretty=true

[2017-07-22 09:04] whooze commented on #2645
Make sure you got your mongo-string correct in azure/heroku.

The message says something about double colon... I would take an extra look at that

[2017-07-22 09:08] whooze opened #2702 "Error when adding 17th profile"
Helped a user today that was unable to save a new profile

Runs Nightscout 0.9.2 on heroku.

The message in the GUI was just "Error"

The message in the developer console was this
![image](https://user-images.githubusercontent.com/4024639/28489889-f2bfb04a-6ecd-11e7-9170-c5ab2c009c3f.png)

Removed a couple of old profiles and tried to save the new one and it worked

[2017-07-27 06:56] padshiy8angel opened #2709 "Azure deploy Error: Cannot find module 'user-home'"
Stack:

[code]

[2017-07-28 03:54] Deweyoxberg opened #2711 "Feature Request: Bolus Wizard Rounding to 0.05 units versus 0.01"
As of 0.9.0-beta3 the Bolus Wizard calculates rounding to the nearest 0.01 units; can this be changed to nearest 0.05 units instead?

[2017-08-03 17:03] elenavilla opened #2725 "Loop: Temporal basals stopped working"
Hi, I had trouble with one sensor, called Dexcom, and deleted and reinstalled the dexcom app. Previously, I had updated my phone's os. Now, I can command boluses from the Loop app, and I can see the BG levels, but I have the grey circle, and the app doesn't recommend or use any temporal basal.
Below is my Riley Recent History. Thanks so much!
Found 67 events since 2017-08-02 16:36:58 +0000
Event:

[2017-08-06 00:44] Pogman commented on #2711
This should be extended to all rounding as an option in the user web settings.

For users of Medtronic pumps the rounding is 0.005. If I use the Temp Basal and set it to -80% it will produce a different value then what is used by the pump due to rounding.

PUMP_ROUNDING (<value>) or just a general ROUNDING (<value>) where <value> is something like 0.01 or 0.005 etc would be ideal.

[2017-08-13 23:28] Breeze773 commented on #2645
Hi @rahulsamboo2
Just in case you haven't been able to sort this out yet.  The mongo string can be a bit long and hard to read.

`mongodb://[app-user]:[app-password]@[mongodb-host-identifier]:39095/[some-other-non-obvious-string]`
If the error is right in that you have a problem in the host identifier, check before and after `[mongodb-host-identifier]` in this example, between the `@` sign and the

[2017-08-14 15:21] sigmonsays commented on #2536
nightscout is running my system out of ram as well. I have had it running for a couple weeks now and memory usage is 300-400MB. Node version v0.10.25. After restart memory shot right back up to 300MB. Is this expected?

How is a weeks worth of data points total 300MB ?

[2017-08-21 08:59] Mackwe opened #2748 "Feature request: Visualize Open APS enactments"
We are unfortunately unable to have the Open APS system on a stable connection between all the devices at all times. We would love if someone could visualize when OAPS has been able to loop (has BG data and has been able to adjust the pump rate). Example: If OAPS has sent status "BG data too old", "not enacted" or any other error code, a red line could occur in the basal field. If pump loop comple

[2017-08-22 01:30] WanaGo opened #2751 "clock.html showing NaN after BT Glucose meter reading in xDrip+"
Hi.
I have noticed that in xDrip+ when you have set up a BT Glucose meter, you do a finger prick and the reading goes into XDrip+ fine, but if you have any NS /Clock.html open, the display shows 'NaN' in place of the current reading. It comes right the next reading from Dex though.
Why it goes to Not a Number, I dont know.
The normal Nightscout readout/graph, is fine, no problems with that.

[2017-08-23 08:12] diabetesdt1 opened #2757 "Feature request: to add Photos from Meal on Notice/Carbs treatment."
When you can add a photo from the meal on carbs/notice treatment, would be nice.

[2017-08-23 18:57] bdr1177 opened #2758 "Treatment filtering not working"
Filtering the treatments by either "Notes contain" or "Event type" does not work.

[2017-08-25 18:59] scottchr opened #2764 "Feature request: Add option to select between Dexcom or Medtronic trend arrows."
Add option to select select whether Medtronic trend arrows (single, double, or triple up/down) or Dexcom trend arrows (slanty, single, or double up/down) are displayed on a Nightscout page.

[2017-08-25 19:35] trpnblies7 opened #2765 "Decrease the mouse hover area around treatments and/or allow treatments to be toggled on/off"
The mouse over hover area around treatments is too big at the moment, and I'm unable to see what my BG readings are if they're right near a treatment. Rather than hovering over a reading and seeing the value, I instead see the treatment. Decreasing the hover area so it's only the size of the treatment icon would help with this. Additionally, adding an ability to toggle treatments on or off would a

[2017-08-25 21:11] winni67 opened #2766 "Add sum of daily basalrate to Profile Editor and Profiles Report"
My doctor often asked me for this value, the sum of my daily basalrate. I missed this sum in the Profile Editor and the Profiles Report. For me, it's a checksum if my basalrate programming is ok.
Thanks in advance.

[2017-08-29 19:18] dbeasy commented on #637
I was reading through the issues list, can we close this one, it's basically fixed with the link to the Reports (then you have to wait for the green tabs, then pick "Treatments" tab, then click on "newest on top" (I fixed that default in my branch) and then click on the "show" button). The other old issue, about date AND TIME, was fixed long ago -- I do remember a lot of late nights, early on, mak

[2017-08-29 20:20] dbeasy commented on #289
This can probably be closed. I think the reports tab in Nightscout does cover what I could find of the Chromadex ( https://chrome.google.com/webstore/detail/nightscoutinfo-cgm-utilit/ffjaahelelfakhdpphligimoibajjlhl Chrome Uploader ) screen shots. There are daily and hourly average stats etc now in Nightscout's reporting tabs.

[2017-08-31 02:03] amuladore opened #2779 "i am not getting high alarms only low alarms"

[2017-09-06 07:13] dbeasy commented on #323
I noticed the careportal/treatment screen lags a lot more on Android, even my newer phones with newer Chrome and traced it back to a big lag when switching form fields. When the keyboard shows/hides it hangs a few seconds. Android OS has a bug/feature that resizes the screen space when the keyboard appears, Chrome triggers the .resize event and our whole chart redraws all those dots. I am testing

[2017-09-11 20:00] #2645 closed

[2017-09-11 20:01] sulkaharo commented on #2656
This should be fixed in dev. (remember to use Node 8.4)

[2017-09-11 20:01] #2656 closed

[2017-09-11 20:01] sulkaharo commented on #2631
Please PR in standard logos

[2017-09-11 20:01] #2631 closed

[2017-09-11 20:04] #1681 closed

[2017-09-13 05:08] PieterGit commented on #1681
Fixed units test, upgrade to Node 8.4.0

[2017-09-18 19:54] ELUTE commented on #2779
Do you have BWP turned on? What are your thresholds set at?

[2017-09-23 02:00] Kdisimone opened #2814 "Cannot GET /report/index.html"
Just deployed habanero on my site, and reports is coming back with this message:

Cannot GET /report/index.html

but just before that appears, a small scoll box appears and disappears so quickly that the only thing I can read is Welcome to HONEY!

[2017-09-23 02:12] Kdisimone commented on #2814
actually, all links under settings are responding the same...profile editor and admin

[2017-09-23 02:18] Kdisimone commented on #2814
refreshed and reloaded site.  fixed.  all good here.  thanks@

[2017-09-23 02:18] #2814 closed

[2017-09-24 06:45] libxmike opened #2831 "0.10 wont display openAPS basal rate"
there is issue with 0.10, wont display openAPS basal rate, just the one in profile.

[2017-09-24 11:39] Empyyy opened #2833 "Heroku Application error"
Hello! I've successfully deployed nightscout on heroku many times. But since last week I'm getting "Application error" page when I'm opening monitoring.
Here is the logs:
2017-09-24T11:30:49.619153+00:00 heroku[web.1]: Error R10 (Boot timeout) -> Web process failed to bind to $PORT within 60 seconds of launch
2017-09-24T11:30:49.619153+00:00 heroku[web.1]: Stopping process with SIGKILL
2017-09-24T

[2017-09-24 11:41] sulkaharo commented on #2833
Which version do you have deployed? Can you update to the latest release made a couple days ago to see if that fixes things.

[2017-09-24 12:11] Empyyy commented on #2833
Yes, it solved my problem! Thank you very much!
I've used december 2016 version.

[2017-09-25 06:19] hahaxj opened #2846 "How to deploy for China Azure webapp"
I have change the web.config as following, but it does not work:
`          <conditions>
            <add input="{HTTP_HOST}" pattern=".+\.chinacloudsites\.cn$" />
            <add input="{HTTPS}" pattern="Off"/>
            <add input="{REQUEST_METHOD}" pattern="^get$|^head$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
        </rule>`

https://t

[2017-09-25 11:33] davidmlb opened #2847 "DCA icons"
Hi, I updated the Ns to last version, as I thought everything was ok because at the end I achieved the purple icon saying the merge is complete. but I can't see the icons in nightspot.

Loop Versión 1.4
Nightscout
version 0.10.0-dev-20170423

[2017-09-26 13:44] sulkaharo commented on #2846
I suspect there's nobody in the team who knows how to help with this. Please post instructions if you find out

[2017-09-26 13:44] #2833 closed

[2017-09-26 13:44] #2831 closed

[2017-09-26 13:47] sulkaharo commented on #2847
Can you post a screenshot with an annotation on what icons are missing? Thanks

[2017-09-26 14:10] davidmlb commented on #2847
@sulkaharo ,yes here I put the carrot icon
![dca](https://user-images.githubusercontent.com/28386261/30864805-0e08939a-a2d5-11e7-9632-603b4098be03.png)

[2017-09-26 14:12] davidmlb commented on #2847
or here I put pasta and Apple
![dca1](https://user-images.githubusercontent.com/28386261/30864943-76489a54-a2d5-11e7-8f9a-aba44c8c7bbc.png)

[2017-09-27 13:29] silvalized opened #2859 "Cannot merge pull request"
I'm trying to update Github and it is telling me I'm not authorized.  It's saying that merging is blocked and review required.  Can someone help me with this?

[2017-09-28 15:19] bdr1177 opened #2864 "Distribution report miscalculates percentages when filtered by hour"
When filtered by hours, the distribution report miscalculates the percentages of readings that correspond to low, normal, and high.  Specifically, the percentage calculation uses the total unfiltered number of daily readings as the denominator in the calculation even when the readings have been filtered.

You can see this in the two images attached below.  In the one labeled "All Hours Selected" 9

[2017-09-28 16:31] itsakmakidou opened #2865 "MongoDB authentication process has changed."
MongoDB authentication has changed. How to update Nightscout?

[2017-09-28 16:34] sulkaharo commented on #2865
Not sure what you mean? Nightscout hasn't change anything and you don't need to touch Mongo to update the site, just follow instructions here: http://www.nightscout.info/wiki/welcome/how-to-update-to-latest-cgm-remote-monitor-aka-cookie

[2017-09-28 16:35] itsakmakidou commented on #2865
If you try to make a new account, you will see that now there is MongoAtlas Cloud with API authentication, No user/password authentication. No mongo-string

[2017-09-28 16:38] sulkaharo commented on #2865
That's the wrong Mongo hosting company. :) All Mongo versions do support the same authentication methods, but if you want the one we have instructions for, check https://mlab.com/

[2017-09-28 16:47] sulkaharo commented on #2864
Good catch!

[2017-09-28 16:58] sulkaharo commented on #2864
This is now fixed in dev branch, do you have the possibility of testing the fix?

[2017-09-28 16:59] bdr1177 commented on #2864
Yes, I'll try to get the dev branch and test this evening.

[2017-09-28 17:18] itsakmakidou commented on #2865
You are right.. Sorry... And thank you.

[2017-09-28 17:19] #2865 closed

[2017-09-28 17:37] bdr1177 commented on #2864
Yes, I just tested and the fix worked.  Thanks for fixing it so quickly.

[2017-09-28 20:35] sulkaharo commented on #2658
#2867 should fix this

[2017-09-29 04:08] JELCRAWFORD opened #2869 "In Profile report - ISF not reporting partial values"
The profile report in NS reporting features in newest version is not reporting decimal values for ISF.  i.e. our pump entered ISF if 4.5, but the report indicates 4

[2017-10-01 18:52] jaylagorio commented on #2765
Adding on to this one, reducing the hover area around treatments would be very helpful especially when using a phone or tablet.

[2017-10-02 09:12] ShaggydogUK opened #2878 "No "from" titles when entering BG on bolus calculator"
![untitled-1](https://user-images.githubusercontent.com/30231246/31070926-1f37c490-a75a-11e7-9add-a529b9a04bfa.jpg)

this!

[2017-10-03 19:05] dhermanns opened #2885 "Alexa Skill: The remote endpoint could not be called, or the response it returned was invalid."
Hi!

I tried to setup the alexa skill as documented here:
https://github.com/nightscout/cgm-remote-monitor/blob/master/lib/plugins/alexa-plugin.md

I'm using V0.92 of the remote monitor.

In the logs I can see:
[code]
and
[code]

Is there a way to check that the plugin is working fine?
I created the skill and amazon just says:

[code]

when entering the utterance ```How am I doing```.
When I try t

[2017-10-04 20:54] Kdisimone opened #2890 "Feature Request: Include pumpRSSI in Loop pill"
The Loop's devicestatus uploader includes a pumpRSSI value.  Would be FANTASTIC to include this in the Loop pill display.  Let's users recognize when pump comms may be weak and they need to move RL closer.  Thanks @sulkaharo

<img width="1244" alt="rssi" src="https://user-images.githubusercontent.com/12402160/31199119-459f79f4-a90b-11e7-8402-4e7d3e3d2907.png">

![loop-mmtune](https://user-images.g

[2017-10-04 21:00] Kdisimone commented on #2859
Looks like you did get your merge performed.  Can you close this issue if it has been resolved?  If it hasn't been, then maybe add more info?

[2017-10-09 16:36] Heiner1 commented on #2119
Same  problem for me; http://www.nightscout.info/wiki/welcome/website-features/0-9-features/authentication-roles  Amy wrote there:  readable: read-only access; no ability to make CarePortal/treatment entries. This user CAN see reports and profile information.
That's wrong! How to manage to transfer the token to another site?

[2017-10-09 21:26] kimnjeru opened #2906 "Azure QuotaExceeded with latest update"
My Azure websites has been stopped due to exceeding the quota allocated to the Pay As you Go subscription.  I have the free tier.
Is anyone else experiencing this?  I updated to the most recent update yesterday.
Help!

[2017-10-10 04:57] tynbendad opened #2909 "Protect user from editing OpenAPS pump bolus treatments"
If you edit carbs on a treatment that came directly from the pump bolus wizard from OpenAPS, it will cause OpenAPS to see it as a new carb entry and can cause it to dose for the combined edited+original carbs.

Nightscout can protect users from this by warning when someone wants to edit an entry that came from a pump thru openaps, e.g., with "Entered By" starting with "openaps:".

I don't know if

[2017-10-13 20:56] jwedding opened #2916 "iOS 11 Temp Basal Entry Forces Numeric Keyboard"
With only numeric keyboard, there is no option to manually log a negative temp basal.

[2017-10-13 21:32] kmudd22 commented on #2916
I believe this has been logged elsewhere

[2017-10-13 21:34] ELUTE commented on #2916
I believe this has been logged elsewhere. I can't seem to find the issue about it though.

[2017-10-14 05:38] sulkaharo commented on #2916
This is fixed in the next patch release. I’ll probably release it today or tomorrow.

[2017-10-14 11:39] sulkaharo commented on #2909
Is this a Nightscout or OpenAPS feature? If we implement entry locking, I'd prefer that to use a generic locking mechanism and not be OpenAPS specific. Alternatively, we could have logic in OpenAPS to detect the entry has been edited (given the downloaded event will also have the OpenAPS tagging / same timestamp as the event OpenAPS already has locally).

[2017-10-14 11:43] sulkaharo commented on #2906
Was this during deployment or just hosting? I recommend you transfer the hosting of your site to Heroku.com; their setup is significantly simpler than Azure and their free tier has much more capacity than on Azure. See the Deploy to Heroku button on our GitHub front page, then just copy the settings from Azure and it should work (no need to re-deploy mLab) https://github.com/nightscout/cgm-remote-

[2017-10-14 11:54] sulkaharo commented on #2869
Strange, this is working for me as expected. Is it possible your data / computer has a conflict between separators used (point vs comma)?

[2017-10-14 15:44] JELCRAWFORD commented on #2869
I get the same output regardless of device (iPhone, iMac). I can have @jmcrawford look on his device(s) - non apple. Otherwise how would I know/investigate about a conflict between separators?

[2017-10-15 07:23] sulkaharo commented on #2890
@Kdisimone This might work in the latest DEV, can you test pls?

[2017-10-15 07:23] sulkaharo commented on #2890
https://github.com/nightscout/cgm-remote-monitor/commit/3ab41ced000b6cde7933ae1e8e6127d276b5e063

[2017-10-15 07:29] sulkaharo commented on #2885
@tanja3981 halp? I don't have an Alexa

[2017-10-15 07:30] #2859 closed

[2017-10-15 10:23] MilosKozak commented on #2847
Post treatments from reports please

[2017-10-15 10:29] ELUTE commented on #2847
@davidmlb you need to update to the latest version of Nightscout.

[2017-10-15 14:13] MilosKozak commented on #2766
daily sum of basals is diplayed when you turn on Insulin distribution checkbox

[2017-10-15 15:17] JELCRAWFORD commented on #2869
hm..  I was messing around with this this morning and changing from a decimal to a full digit to a decimal digit I can't reproduce the problem now - is working fine.  Will close.

[2017-10-15 15:17] #2869 closed

[2017-10-15 16:49] sulkaharo commented on #186
Hi! In process of cleaning up the project Github and closing old issues. If you still care about the this issue, please install the latest version of Nightscout (as of right now, the Habanero release) and report based on how the software has changed compared to what Nightscout was compared to the point in time when you created the ticket. Thank you for caring about Nightscout to the point of havin

[2017-10-15 16:49] #186 closed

[2017-10-15 16:50] sulkaharo commented on #175
Hi! In process of cleaning up the project Github and closing old issues. If you still care about the this issue, please install the latest version of Nightscout (as of right now, the Habanero release) and report based on how the software has changed compared to what Nightscout was compared to the point in time when you created the ticket. Thank you for caring about Nightscout to the point of havin

[2017-10-15 16:50] #175 closed

[2017-10-15 16:51] sulkaharo commented on #140
Hi! In process of cleaning up the project Github and closing old issues. If you still care about the this issue, please install the latest version of Nightscout (as of right now, the Habanero release) and report based on how the software has changed compared to what Nightscout was compared to the point in time when you created the ticket. Thank you for caring about Nightscout to the point of havin

[2017-10-15 16:51] #140 closed

[2017-10-15 16:52] sulkaharo commented on #301
Hi! In process of cleaning up the project Github and closing old issues. If you still care about the this issue, please install the latest version of Nightscout (as of right now, the Habanero release) and report based on how the software has changed compared to what Nightscout was compared to the point in time when you created the ticket. Thank you for caring about Nightscout to the point of havin

[2017-10-15 16:52] #301 closed

[2017-10-15 16:52] sulkaharo commented on #289
Hi! In process of cleaning up the project Github and closing old issues. If you still care about the this issue, please install the latest version of Nightscout (as of right now, the Habanero release) and report based on how the software has changed compared to what Nightscout was compared to the point in time when you created the ticket. Thank you for caring about Nightscout to the point of havin

[2017-10-15 16:52] #289 closed

[2017-10-15 16:53] #317 closed

[2017-10-15 16:53] #318 closed

[2017-10-15 16:53] sulkaharo commented on #323
Hi! In process of cleaning up the project Github and closing old issues. If you still care about the this issue, please install the latest version of Nightscout (as of right now, the Habanero release) and report based on how the software has changed compared to what Nightscout was compared to the point in time when you created the ticket. Thank you for caring about Nightscout to the point of havin

[2017-10-15 16:53] #323 closed

[2017-10-15 16:54] sulkaharo commented on #502
Hi! In process of cleaning up the project Github and closing old issues. If you still care about the this issue, please install the latest version of Nightscout (as of right now, the Habanero release) and report based on how the software has changed compared to what Nightscout was compared to the point in time when you created the ticket. Thank you for caring about Nightscout to the point of havin

[2017-10-15 16:54] #502 closed

[2017-10-15 16:54] sulkaharo commented on #666
Hi! In process of cleaning up the project Github and closing old issues. If you still care about the this issue, please install the latest version of Nightscout (as of right now, the Habanero release) and report based on how the software has changed compared to what Nightscout was compared to the point in time when you created the ticket. Thank you for caring about Nightscout to the point of havin

[2017-10-15 16:54] #666 closed

[2017-10-15 16:56] sulkaharo commented on #721
Hi! In process of cleaning up the project Github and closing old issues. If you still care about the this issue, please install the latest version of Nightscout (as of right now, the Habanero release) and report based on how the software has changed compared to what Nightscout was compared to the point in time when you created the ticket. Thank you for caring about Nightscout to the point of havin

[2017-10-15 16:56] #721 closed

[2017-10-15 16:57] sulkaharo commented on #690
Hi! In process of cleaning up the project Github and closing old issues. If you still care about the this issue, please install the latest version of Nightscout (as of right now, the Habanero release) and report based on how the software has changed compared to what Nightscout was compared to the point in time when you created the ticket. Thank you for caring about Nightscout to the point of havin

[2017-10-15 16:57] #690 closed

[2017-10-15 16:57] #691 closed

[2017-10-15 16:58] sulkaharo commented on #722
Hi! In process of cleaning up the project Github and closing old issues. If you still care about the this issue, please install the latest version of Nightscout (as of right now, the Habanero release) and report based on how the software has changed compared to what Nightscout was compared to the point in time when you created the ticket. Thank you for caring about Nightscout to the point of havin

[2017-10-15 16:58] #722 closed

[2017-10-15 16:58] #753 closed

[2017-10-15 16:58] #648 closed

[2017-10-15 16:59] #630 closed

[2017-10-15 19:09] ELUTE commented on #2658
Resolved with #2868

[2017-10-15 19:09] #2658 closed

[2017-10-15 19:28] Kdisimone commented on #2890
Nope...sorry, didn't work.  I deployed the updated dev and no rssi displaying.  i waited a couple loop cycles and refreshed just in case...

[2017-10-15 19:29] sulkaharo commented on #2890
Doh. Can you post the JSON source of one of the packets above?

[2017-10-15 19:31] sulkaharo commented on #2890
Alternatively, if we can get me an access URL to a Mongo instance with the records, that'd make it easer to get this done; not having actual data makes this pretty hard. :(

[2017-10-15 19:32] Kdisimone commented on #2890
[code]

Mongo access coming too...

[2017-10-15 19:42] Kdisimone commented on #2890
Ok...so I'm figuring out the access URL, but in the meantime I sent you a message on Gitter with user/pwd you can use to access db directly.

[2017-10-16 02:56] christopher-fredregill opened #2923 "profileeditor.test.js brittle in CI"
Noticing the following test failure on a few builds:
[code]

Seems like this should be fixed.

[2017-10-16 07:17] winni67 commented on #2766
Where can I find this setting? I use NightScout version 0.10.1-dev-20170923.

[2017-10-16 16:43] StuArnold commented on #722
Hi Think this was resolved when multiple profiles was introduced. Love Nightscout and thanks for all you do
Stuart

[2017-10-16 16:55] StuArnold commented on #175
Hi Thanks again. Adding TBR is now incorporated so agree this issue is resolved.
Think there are two related issues;
1. Inclusion of TBR into IOB calculation.
2. Need to catch up with Autotune because the last time I tried it (4 months ago) I struggled because we use %age TBR fields and it required absolute values - not sure my brain is able to work out +60% of 0.85 at 2 am in the morning

I was j

[2017-10-16 19:13] tanja3981 commented on #2885
@dhermanns Did you try the skill in amazons developer portal or did you get that response with an amazon echo?
I tried with current master version and it seems to be working fine.  On what version did you experience that problem?

[2017-10-16 20:14] tanja3981 commented on #2665
Did you configure section "Custom slot types" on page "Interaction model"?
![image](https://user-images.githubusercontent.com/7403966/31633032-507a1fe2-b2bf-11e7-8240-d09393822e62.png)

[2017-10-16 20:49] dhermanns commented on #2885
Hi Tanja!

I tried V0.92 of the remote monitor. And I tried the feature using the
amazon developer portal.
Tanja <notifications@github.com> schrieb am Mo. 16. Okt. 2017 um 21:14:

[2017-10-16 22:42] tanja3981 commented on #2885
Could you pm me your URL so that I can check whether it's an alexa skill configuration program or due to cgm-remote-monitor?
@dhermanns

[2017-10-17 05:36] itsn0tm3 opened #2929 "Azure not accepting the most recent changes"
Getting this error when trying to build on Azure:
(Have already put the Node string to point to 8.5.0, and tried building both Dev and Master, and both do not work)
[code]

[2017-10-17 05:39] itsn0tm3 commented on #2929
Also when trying to redeploy I get this "Failed to redeploy deployment. Heuristics indicate WebApiClient request timed out. "

[2017-10-17 05:49] itsn0tm3 commented on #2929
Didn't realize there was a URI with the above message and it says `{"error":{"code":"AuthenticationFailed","message":"Authentication failed. The 'Authorization' header is missing."}}`

[2017-10-17 15:03] barryhelsden commented on #2929
I'm having the same issue. Happy to provide logs if it helps.

[2017-10-17 15:45] sulkaharo commented on #2929
This sounds like you’ve found an Azure bug that even some Microsoft employees are bumping into. Ping @shanselman. The only known fix is to delete the github connection from your Azure account and reconnect & deploy. Alternatively I recommend looking at Heroku for the hosting, which is much nicer to use and has none of these bugs.

[2017-10-17 15:49] barryhelsden commented on #2929
Update - working for me now, I followed the troubleshooting part 2 steps here:

http://www.nightscout.info/wiki/welcome/how-to-update-to-latest-cgm-remote-monitor-aka-cookie/update-my-fork-troubleshooting-part-2

Reset WEBSITE_NODE_DEFAULT_VERSION to 8.5.0, redeployed and its now working for me.

[2017-10-17 16:28] MilosKozak commented on #2929
This helps if automatic deploy fail:
go to https://YOURSITE.scm.azurewebsites.net/DebugConsole
[code]

[2017-10-17 17:57] itsn0tm3 commented on #2929
If I do those steps, will it make my current deployment stop running?  Or can I safely do those and then try to redeploy the newer version?

[2017-10-17 18:59] dhermanns commented on #2885
Hi Tanja,

I send you the URI to my Test-Installation using Gitter. It's based on my Raspberry PI version using V0.92 of the cgm-remote-monitor:
https://hub.docker.com/r/dhermanns/rpi-nightscout/

[2017-10-17 21:43] alimhassam commented on #2766
You can see the insulin distribution box in the report I  believe. I also  added the requested feature a pull request 2921 https://github.com/nightscout/cgm-remote-monitor/pull/2921

[2017-10-18 02:41] itsn0tm3 commented on #2929
Moved over to Heroku to solve this.

Closing.

[2017-10-18 02:41] #2929 closed

[2017-10-18 17:32] bdr1177 opened #2948 "Feature request: Allow filtering of treatments by event type and note contains"
Currently, the "notes contain" and "event type" fields on the treatment report only filter by day, but do not filter to specific treatments.  This feature request is to add functionality to the treatment report to allow the treatments themselves to be filtered by "notes contain" and "event type."

This would allow, for example, someone to filter the treatments to display only "pump site changes" o

[2017-10-18 17:53] bdr1177 commented on #2758
Closing because this is now covered by the feature request in Issue #2948 .

[2017-10-18 17:53] #2758 closed

[2017-10-18 18:29] tanja3981 commented on #2885
As already sent in gitter: I think the alexa feature is missing in any branches of your fork. Please update your code to a more recent version. Alexa was introduced with version 0.9.1-dev-20161023 but I suggest to use the recent version!

[2017-10-18 20:03] dhermanns commented on #2885
I don't have a fork. My runtime Idee the 0.92 release and I can See in the logs that the Alexa plugin is at least active.

So you have any simple Uri to Check that it is working?

[2017-10-18 20:15] tanja3981 commented on #2885
Your fork is https://github.com/dhermanns/cgm-remote-monitor, isn't it?
The URL is ~/api/v1/alexa. I tried that on the URL you sent me and it is not available.

[2017-10-20 15:20] miguelkennedy opened #2961 "Feature Request: Ability to use different kinds of insulin simultaneously"
It would be awesome if we could use different kind of insulins in NS. For instance, I use a rapid insulin (Humalog) and also use a regular one (Humulin-R). Both have different duration of insulin activity (DIA).

If I'm going to eat a very low carb meal with low GI or a meal of only protein and fat I use regular insulin, if I eat a moderate or high carb meal I use rapid. Sometimes I even use both

[2017-10-20 15:31] miguelkennedy opened #2962 "Fix for AUTH_DEFAULT_ROLES"
When setting AUTH_DEFAULT_ROLES to "denied" or "status-only" watchfaces for pebble (and I assume for other smartwatches as well) can't read data from NS. Apps for pebble like Careportal or PinIt can't add treatments to NS.

It would be perfect if we had an option for AUTH_DEFAULT_ROLES that allows read and write access to the treatments API (both v1 and v2) but still blocks users from seeing the N

[2017-10-21 15:29] dhermanns commented on #2885
It looks like I should switch to the latest V0.10.1. But my old docker container setup in the Raspberry rpi-nightscout has problems during Installation.

Does someome now whether therefore is a recent Container for the latest Version already out there?

[2017-10-21 18:48] #2923 closed

[2017-10-21 23:47] PieterGit opened #2971 "Profile tests cause Moment Timezone has no data for Coordinated Universal Time. See http://momentjs.com/timezone/docs/#/data-loading/."
Minor issue...

Browsing through the Travis test log I noticed
[code]

Example build: https://travis-ci.org/nightscout/cgm-remote-monitor/builds/290974849?utm_source=github_status&utm_medium=notification

According to https://stackoverflow.com/questions/33258908/angular-moment-moment-timezone-has-no-data-for-america-new-york this might be caused by "Time zone data should only be loaded once, and t

[2017-10-22 00:04] PieterGit commented on #2962
This is not a Nightscout issue, but a pebble app issue (e.g. urchin). Those apps should support tokenbased authentication, so it's possible to use a token with exactly the right permissions. Allowing the treatments to be changed and allowing reading stuff through the API does not comply with `AUTH_DEFAULT_ROLES ` set to `denied`.

[2017-10-22 00:07] PieterGit commented on #2962
If you're using openaps you might want to use pancreabble. I'm working on making that work with openaps out of the box, see https://github.com/openaps/oref0/pull/570 .

[2017-10-22 12:15] TecMunky opened #2973 "Tokens are not persistent"
When I create an access token to give to another person (or doctor) - the link is only good for viewing the real time data.  When pulling down the menu and selecting "Reports" I get a request to enter the API Secret.  This is OK for someone who is just following and has no need to review reports.  But for my care team I need to send them a link that allows them to view reports.  Right now I edit t

[2017-10-22 13:12] sulkaharo commented on #2973
Hi! The tokens should persist so not sure what the issue is. Do you have access on the computer to see if there's an issue with the browser on persisting it? (I've seen machines in clinical & school settings that force-wipe all persisted information in browsers, so wonder if it's one of these.)

[2017-10-22 13:28] TecMunky commented on #2973
I don't think you understood the issue. If you try to go to the reports
page the access token is not used, and the site will ask you for the API
Secret.  I don't give tree API Secret to anyone.

On Oct 22, 2017 08:13, "Sulka Haro" <notifications@github.com> wrote:

[2017-10-22 19:12] sulkaharo commented on #2973
Ah right, so you'd like a feature whereby loading a page on your nightscout with an authentication token would behave the same as if the token was entered by the user into the UI, so the token is persisted without entering it; is this correct?

[2017-10-22 20:12] TecMunky commented on #2973
Yes. Actually I can figure it out. But I've had to help a couple people. I
think it would be useful.

On Oct 22, 2017 14:12, "Sulka Haro" <notifications@github.com> wrote:

[2017-10-23 23:44] cjo20 opened #2977 "OpenAPS pill displays Bolus IOB as Bolus Snooze"
https://github.com/nightscout/cgm-remote-monitor/blob/0c4ce208dcff778b2f9bb0cb815d37cf531d77a1/lib/plugins/openaps.js#L319

Not sure this is the correct behaviour; Bolus IOB and Bolus Snooze are two different things. It's useful to know what the Bolus IOB is and it should be displayed is available, but it should be labelled as such.

[2017-10-24 01:08] cjo20 commented on #2977
Already fixed by Scott in the `rendering` branch.

[2017-10-24 01:08] #2977 closed

[2017-10-26 16:23] ebarendt commented on #2536
This is so much better with 0.10.1. Thanks!

[2017-10-27 15:10] ebarendt commented on #2536
Just kidding. 700MB+ and going strong.

[2017-10-29 22:14] tanja3981 commented on #2961
If I understand this feature request correctly, it's basically about being able to enter a custom DIA for some treatments, isn't it?

[2017-10-29 22:22] miguelkennedy commented on #2961
A bit more than that, being able to add various kinds of insulins with their correspondent DIA in NS profile and in treatments the user has the option to select which insulin to use... It would also be great to be able to use 2 or more insulins at the same time in the same meal... For instance: in the bolus screen of care portal a user might choose to bolus xIU of insulin A and yIU of insulin B in

[2017-10-29 22:24] tanja3981 commented on #2961
Okay sorry, then that's much more what I intended to do. ;-)

[2017-10-29 23:15] alimhassam commented on #2948
Would be nice to be able to select multiple event types in the search, so we could request a report with all insulin treatments, snack bolus, correction bolus, meal bolus for example, but not other treatment types.

[2017-11-02 05:07] itsn0tm3 commented on #2929
So, Heroku went down so I had to move back to Azure while Heroku was down.  Looked into fixing the deployment and made one change that seems to have made the difference.  To the very right of the setting I have a checkbox option called "Slot Setting" which was previously unchecked for all of my settings and I've never had to use it.  I went ahead and checked the box and then saved it.  Went ahead

[2017-11-03 11:56] joelm335 opened #3015 "NS logging data overwhelming Papertrail / limits"
My Papertrail limit (10 MB/day) is being overwhelmed by routine log items (>80 MB/day).  I have raised the problem with Papertrail help and have installed filters.   However support at Papertrail suggest that I raise the issue with you to see if you can refine the logging.  See pasted copy of their email below and screenshot of logs
Hi Joel,
That sure is a talkative app. I wonder if it wouldn't be

[2017-11-04 18:44] MJLewis30 opened #3020 "Nighscout plus or minus differences."
I am running NS 10.0.1 Xdrip + android/G4. Lately we have been seeing the BG number change. For instance it changed from 64 to 70 but showed plus 0 then about 2 minutes later it showed plus 6. We have been using this for a few years and this just started a few months ago. I just recently changed to NS 10.0.1 and Xdrip + hoping that would fix it. It did not. I have talked to Kate F and she suggeste

[2017-11-05 18:45] dhermanns commented on #2885
I managed to update my nightscout docker image for the Raspberry PI to V0.10.1:
https://hub.docker.com/r/dhermanns/rpi-nightscout/

A documentation how to install the cgm remote monitor using a Pi and docker can be found here:
https://github.com/dhermanns/rpi-nightscout

Maybe this is useful for others. Alexa is working with this version like a charm! Thanks for this!
I have an Idea how to improve

[2017-11-05 18:45] #2885 closed

[2017-11-05 18:54] dhermanns opened #3022 "Default Intent for the alexa skill?"
I'm on V0.10.1. When I open the alexa skill with the utterance

"open nightscout"

I don't get a response. If asking

"ask nightscout how am i doing"

I get the NSStatus response. Wouldn't it be nice to have the nsstatus as the welcome response?

[2017-11-05 19:39] tanja3981 opened #3023 "Feature Request: Possibilty to enter custom DIA in careportal"
Sometimes I use a different insulin with a different DIA than in my profile stored, e.g. when using a pen in an emergency or for special food.
I want to be able to enter a custom DIA in the careportal.
The custom DIA will be stored in the treatment.
IOB calculation should be calculated with the DIA in the profile, except when a custom DIA exists for a treatment.

[2017-11-06 16:32] JoseeT1Bionique commented on #2765
I also experience the same issue. Would appreciate the improuvement. Thank you.

[2017-11-06 16:43] JoseeT1Bionique opened #3024 "Need bigger font in PILL"
Hi,

Would it be possible that the PILL opens in a bigger format, hence use bigger typo?
I use web and android phone, the phone pill is especially hard to read sometimes.

Thank you for all done and all coming :)

[2017-11-06 16:58] mhaeberli opened #3025 "BG meter datapoint sometimes appears at radically wrong Y-location"
BG meter datapoint sometimes at radically wrong Y-location. (BG Meter linked to Medtronic 723 pump).
For example, points that were around 232 or 251 showed up at y locations corresponding to 400 - just barely visible at the top of the screen. (but when floated over with the mouse, showed 'correct' 232 or 251.)
![cgm1](https://user-images.githubusercontent.com/556854/32454184-4f9ce720-c2d3-11e7-9a2

[2017-11-06 19:35] alimhassam commented on #2765
Would it be good to also increase the BG reading area? I'm having trouble to show toolip on mobile.

[2017-11-10 21:13] philipgo opened #3042 "Nightscout wrongly identifies treatments as future treatments in certain time zones"
Under "Admin Tools" Nightscout always lists the last treatments as future treatments for users in certain time zones. These treatments are no future treatments, everything is fine with them. but listing them as future treatments leads to confusion since real future treatments can be the cause of many problems.

The treatments listed in this screenshot are all correct and not future treatments, the

[2017-11-11 11:20] PieterGit commented on #2906
@kimnjeru can you give an update on this issue?

[2017-11-11 11:22] PieterGit commented on #2709
@padshiy8angel did you also try this with the Nightscout 0.10.x release?

[2017-11-11 11:23] padshiy8angel commented on #2709
YesОтправлено из мобильной Яндекс.Почты: http://m.ya.ru/ymail11.11.2017, 14:22, "PieterGit" <notifications@github.com>:@padshiy8angel did you also try this with the Nightscout 0.10.x release?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-11-11 11:25] PieterGit commented on #3015
@joelm335 did you limit access to your Nightscout site, or is it a public `readable` site? We should weed a bit on logging and log less information in some cases, to stay within papertraill limits on common usage.

[2017-11-11 11:27] PieterGit commented on #2846
@hahaxj  the site gives a DNS_PROBE_FINISHED_NXDOMAIN for me and I'm using Heroku, so can't help you with chinacloudsites. Can you give an update?

[2017-11-11 11:47] joelm335 commented on #3015
@PieterGit   There is no restriction on access. It is readable by anyone who knows the URL. If someone wants to help weed the logging that would be great. Another user has reported the same exact problem on the AndroidAPS Users group on Facebook

[2017-11-11 17:26] kimnjeru commented on #2906
Hi. I switched to Heroku and no more problems so far.

[2017-11-19 13:31] oschumac commented on #2906
Hi, i switched to heroku too, but now i got the message that i need to upgrade. Cause i have used 80% of 1000 hour free dyno hours. Since 3 years i use Nightscout and i never had to have upgrade to a paid account. Has someone a solution for that ?

[2017-11-20 07:26] osodebailar opened #3059 "Update to latest dev 0.10.2 on heroku failed"
Update on latest dev failed with following log entry:

-----> Node.js app detected
-----> Creating runtime environment

       NPM_CONFIG_LOGLEVEL=error
       NPM_CONFIG_PRODUCTION=true
       NODE_VERBOSE=false
       NODE_ENV=production
       NODE_MODULES_CACHE=true
-----> Installing binaries
       engines.node (package.json):  8.9.1
       engines.npm (package.json):   unspecified (use defau

[2017-11-20 18:47] mhaeberli opened #3062 "Pump Alarms should lead to Pushover Notifications"
See also Issue #2463 .

Noted a pump alarm in Nightscout this AM; later it was cleared.

-ideally, there would at least be the option to generate a pushover from this.

-in addition, ideally, would like to know _what_ alarm was triggered and reported, if at all possible.

[2017-11-20 23:28] amspoke commented on #2885
HI,

I have reviewed my fork on github (amspoke) and i can see the alexa plugin directory, and even i can see it on Azure deployment, but still getting the message:

Cannot GET /api/v1/alexa

And after two days i don't know what to doy, any clue? do i need to activate any thing? Thanks for your support.

Best regards,

[2017-11-21 05:12] dhermanns commented on #2885
Did you set the environment variable:

ENABLE: alexa

?

[2017-11-21 07:01] amspoke commented on #2885
El El mar, 21 nov 2017 a las 6:13, dhermanns <notifications@github.com>
escribió:

Yes!

Thanks

[2017-11-27 18:51] ramjar opened #3076 "Missing files with a new installation."
Hi guys,

Got some issues with NS installation. I did a clone (master branch) and when I try to start the NS for the first time after the installation (npm install) I get follow error:
Error: ENOENT: no such file or directory, open '/root/cgm-remote-monitor/tmp/cacheBusterToken'

So I did
`$ mkdir tmp ; node bin/generateCacheBuster.js > tmp/cacheBusterToken
`
`$ env $(cat my.env) PORT=1334 node ./

[2017-11-27 19:28] sulkaharo commented on #3076
Sounds like you’re using sudo to run npm? Npm de-escalates it’s privileges from root when run as root, which causes file permissioning issues. Chown the install directory to the web user and re-run npm as that user & it should work.

Sulka

Sent from my iPhone

[2017-11-27 19:51] ramjar commented on #3076
Thank you @sulkaharo. Been trying to figure this out for 2 days now. =)
Worked great!

[2017-11-27 19:51] #3076 closed

[2017-11-30 11:08] endafarrell opened #3095 "Up"
The http://nightscout.github.io/pages/update-fork/ page as of 2017-11-30 allows me to enter my GitHub username, but does not allow me to specify a branch.

The instructions on https://github.com/nightscout/cgm-remote-monitor/wiki/Deploy-a-test-branch#update-your-copy-of-dev refer to being able to specify branches. This is confusing.

I have an up-to-date master of NS deployed on Heroku, and I woul

[2017-12-02 14:13] cfaagaard opened #3107 "Can not upgrade to Habanero Red (0.10.2) on Azure."
There is no node.js version 8.9.1 on azure app service. And then I can not upgrade.
I have version 8.9.0 on my azure app service. Se below:
{"nodejs":[{"version":"0.10.40","npm":"1.4.28"},{"version":"0.10.5","npm":"1.2.18"},{"version":"0.12.6","npm":"2.11.2"},{"version":"0.6.20","npm":"1.1.37"},{"version":"0.8.28","npm":"1.2.30"},{"version":"4.8.4","npm":"2.15.11"},{"version":"6.10.0","npm":"3.10.

[2017-12-02 14:55] bordeb commented on #3107
Same issue here. Constant error in Azure when trying to sync, although when I visit the site it displays version 0.10.2-release-20171201
Log error from Azure > Deployment options > Sync:
_Node.js versions available on the platform are: 0.6.20, 0.8.2, 0.8.19, 0.8.26, 0.8.27, 0.8.28, 0.10.5, 0.10.18, 0.10.21, 0.10.24, 0.10.26, 0.10.28, 0.10.29, 0.10.31, 0.10.32, 0.10.40, 0.12.0, 0.12.2, 0.12.3, 0.12

[2017-12-02 19:00] christerjensen commented on #3107
It is resolved now - try again.

[2017-12-02 21:00] ELUTE opened #3111 "Feature Request mmol for pushover bg check and eventual predicted eventual bg"
Would it be possible to set everything to mmol when DISPLAY_UNITS is set to mmol? Like pushover BG checks and predicted glucose in the Loop pill etc?
![screen shot 2017-12-02 at 3 55 00 pm](https://user-images.githubusercontent.com/7684327/33519663-706c37de-d779-11e7-86a3-69e58af494af.png)

[2017-12-02 21:13] stavlor commented on #3111
I believe the text here is coming directly from the data provided to devicestatus api so likely any change would need to be made on the Loop side but not certain of that.

[2017-12-02 21:31] ELUTE commented on #3111
SGV etc come in in mg/dL the conversion happens in NS.

[2017-12-02 21:36] sulkaharo commented on #3111
Nightscout used mg/dl as the internal data format to make sure all the math works. Plugins need to conver to the display units as needed, looks like Loop plugin is missing a line to do that

[2017-12-03 09:40] bordeb commented on #3107
TNX very much! I can confirm, successful update on Azure after merging/"updating" my github repo today. Nevertheless, I still see the same version info (0.10.2-release-20171201) on Nightscout portal as it was yesterday prior to this latest "bugfix" changes.

[2017-12-03 10:26] cfaagaard commented on #3107
hmmmm..... I am not there yet.... Now I get this error:
Command: bash deploy.sh
Handling node.js deployment.
KuduSync.NET from: 'D:\home\site\repository' to: 'D:\home\site\wwwroot'
Copying file: 'scm-commit-id.json'
Using start-up script server.js from package.json.
Node.js versions available on the platform are: 0.6.20, 0.8.2, 0.8.19, 0.8.26, 0.8.27, 0.8.28, 0.10.5, 0.10.18, 0.10.21, 0.10.24, 0.1

[2017-12-03 10:43] bordeb opened #3118 "Raw BG display problem - inconsistent data and Linear Y axis problems"
Brief _**background info**_ about my setup:
Dexcom sensor/transmitter > Parakeet > google app engine > xDrip+ > Nightscout (on Azure) with Raw Data display enabled. One note: we have multiple azure Nightscouts portals for redundancy, so I reconfirmed my problems on v10.1 as well as v10.2. We are personally using mmol/L (we are in EU) but I will still report here in mg/dl for better understanding.

[2017-12-03 12:25] bordeb commented on #3107
Maybe just try one, two, three... more times to manually push the Sync button in Azure Deployment Section.
It sounds as a joke, I understand, but I am really not joking at all. :-) From my short experience (couple of months), many times after successful pull/merge/update of your personal github repo, unfortunately it takes several times to manually Sync until success (no errors) in Azure. I have n

[2017-12-03 12:59] cfaagaard commented on #3107
ok. I will give it a try. (or 10 tries :-) )

[2017-12-03 13:13] sulkaharo commented on #3107
Looks like you’ve hit a known Azure bug. To fix, you need to disconnect Github link from your Azure account and re-link, then deploy the site again. (Or at least this did work in previous cases.)

[2017-12-03 13:16] cfaagaard commented on #3107
ok. thanks. I will try this.

[2017-12-03 15:28] cfaagaard commented on #3107
Tried everything.... nothing worked...... then suddenly everything worked..... hmmmmmm..
I can confirm that it is now possible to upgrade Habanero Red (0.10.2) on Azure after the fix. (the problems later was totally Azure related)

[2017-12-03 22:51] dm61 commented on #3111
I've just updated the Loop plugin to display min-max and eventual predicted bg in units matching the user NS preference, see https://github.com/nightscout/cgm-remote-monitor/pull/3114

[2017-12-04 02:27] ELUTE commented on #3111
![img_5604](https://user-images.githubusercontent.com/7684327/33533666-a83a6670-d870-11e7-8466-9f745e1a4e6a.PNG)

Also the pushover notification?

[2017-12-04 02:28] ELUTE commented on #3111
ty @dm61 !

[2017-12-04 04:40] dm61 commented on #3111
@ELUTE my guess is that the particular pushover is created when Contour Next Link meter sends bg to the pump, Loop reads the pump, and then uploads that bg value to NS? If so, I think the problem might be related to the fact that Loop is transmitting that Meter BG value as a treatment, which might then be lost in translation in the `treatmentnotify.js` plugin, specifically this line:
https://githu

[2017-12-04 19:02] ELUTE commented on #3111
ok will try this ty

[2017-12-05 02:41] ELUTE commented on #3111
It didn't seem to work for me. I realize now that treatments are logged in reports in mg/dL as well

[2017-12-05 03:11] dm61 commented on #3111
Thanks for checking. I guess you may have already checked this: look at a Loop treatment (`ns-site/api/v1/treatments.json`) with `BG Check` as `eventType`. If the treatment is in mg/dL and does not contain the original meter unit, then it is impossible to fix this in Nightscout. This would then be a Loop issue.

[2017-12-05 03:32] ELUTE commented on #3111
{"_id":"5a25fa4536940ca0a433fcd2","glucose":221,"enteredBy":"loop://Sydney's iPhone","glucoseType":"Meter","eventType":"BG Check","created_at":"2017-12-05T01:44:45Z","units":"mg/dL","timestamp":"2017-12-05T01:44:45Z","carbs":null,"insulin":null}

So Loop issue? OpenAPS also uploads in mg/dL

[2017-12-05 03:56] dm61 commented on #3111
I think  NS reports simply treatments as entered, which is why that sbx.scaleEntry attempt failed.  It should still be possible to fix this in NS by checking the user's preference and overriding the units provided with the treatment - I'll take another look at that. On a different note, I am not sure why Loop (or OpenAPS) are converting the meter BG values to mg/dL before sending them to NS.

[2017-12-05 04:16] dm61 commented on #3111
@ELUTE,  in that same location in `treatmentnotify.js` as attempted earlier, you may try inserting the following line:

`var displayBG = sbx.settings.units === 'mmol' ?
            sbx.roundBGToDisplayFormat(sbx.scaleMgdl(lastTreatment.glucose)) : lastTreatment.glucose;`

followed by replacing `lastTreatment.glucose` with the new variable `displayBG` in the next line:

`return (lastTreatment.gluco

[2017-12-05 07:32] tepidjuice commented on #3107
I had exactly @cfaagaard 's problem. Should this go in the docs somewhere?

[2017-12-05 07:45] sulkaharo commented on #3118
Right - we should have filtering for obviously wrong values, but I'll check. @jamorham it might be worth filtering out data such as mentioned here (RAW BG > 1000) in  xDrip as well.

[2017-12-05 07:49] sulkaharo commented on #3111
@dm61 Nightscout uses mg/dl as the internal data format for everything so it assumes the data is in mg/dl. This is largely due to the CGM systems actually doing the same and reporting the data in mg/dl even for mmol users, so the original decision was to use the same format as the devices and convert if needed. If the patch above works, wanna PR that in?

[2017-12-05 07:49] sulkaharo commented on #3107
@tepidjuice I think the support team is more inclined to start pushing users to Heroku, which has none of these issues in the first place...

[2017-12-05 13:03] ELUTE commented on #3111
@dm61 tried it this morning and for some reason it causes my ns site to load asking for API_SECRET which it tells me is incorrect when entered. Bizarre

[2017-12-05 14:29] dm61 commented on #3111
@ELUTE just one more try, wrap the scaling statement in an `if` statement:

`if(lastTreatment.glucose) {
           var displayBG = sbx.settings.units === 'mmol' ?
           sbx.roundBGToDisplayFormat(sbx.scaleMgdl(lastTreatment.glucose)) : lastTreatment.glucose;
}`

If this does not work, then I am not really sure what's going on - will work on the pushover issue at a later time, or someone else

[2017-12-05 17:45] bordeb commented on #3118
@sulkaharo thank you very much on your responsive support and fast reply. I really appreciate your efforts!!
I have read about how to interpret and understand raw data in nightscout but still can not figure it out how nightscout calculates this, especially loking into my database mlab data. My example, excerpt from the mlab and corresponding raw value displayed in nightscout that is extremely high

[2017-12-05 17:59] bordeb commented on #3107
@sulkaharo thank you on such a valuable insider info! I have not achieved successful implementation at first on heroku couple of months ago so I have left that aside and just used azure, but knowing your info now I am going to retry to accomplish it also on heroku.
@cfaagaard thank you on mentioning me in your thanks sentence, but all the credits go to @nightscout team and  @sulkaharo for their as

[2017-12-06 20:58] Lufo95 opened #3143 "All buckets are empty"
Nightscout website works but BG not showing.
Getting console output 'All buckets are empty'.

![f1c2a1f547196ae2519740bbe4737119](https://user-images.githubusercontent.com/12578230/33685016-8ab708ee-dad0-11e7-958c-579f5fd744e3.png)

[2017-12-07 05:45] liuxuhan opened #3145 "We are using Guardian Connect Medtronic. Is is possible to use nightscount to get data from their cloud"
Hi
We are using Guardian Connect Medtronic. We want to use the data in our own app.
I know nightscount is working with MiniMed.
Is is possible to use nightscount to get data from cloud of Guardian Connect Medtronic.

Or anyone is using this device now?

Thanks

[2017-12-09 14:25] Cagier commented on #3107
I'm still getting this error repeatedly, despite multiple synchs.  The repo is up to date and the node.js setting is 8.9.0

`Command: bash deploy.sh
Handling node.js deployment.
KuduSync.NET from: 'D:\home\site\repository' to: 'D:\home\site\wwwroot'
Copying file: 'scm-commit-id.json'
Using start-up script server.js from package.json.
Node.js versions available on the platform are: 0.6.20, 0.8.2, 0

[2017-12-10 00:42] helenday commented on #3107
I disconnected from github as advised above and then resynched.  I got different errors after the first run and then reverted to the errors above with subsequent synchs.  Possibly the log from the first deployment attempt may shed some more light on the issue...

Command: bash deploy.sh
Handling node.js deployment.
KuduSync.NET from: 'D:\home\site\repository' to: 'D:\home\site\wwwroot'
Copying fil

[2017-12-12 10:37] joelm335 commented on #3015
The problem seems to have been down to Pushover.  After problems with the latest update of NS I was advised to I delete all of the variables related to Pushover.  This also seems to have solved the Papertrail logging issue .

[2017-12-14 16:27] cascer1 opened #3168 "Temporary target asks for values in mg/dL even when set to display in mmol/L"
I've experienced this issue since starting to use Nightscout late October of this year.

I am currently running version 0.10.2-release-20171109

**actual behaviour**:

1. Visit nightscout
2. Set display units to mmol/L if not already set this way
3. Open window to create a new temporary target
4. Observe target values display in mg/dL

**expected behaviour**:

The range input should be in mmol/L w

[2017-12-14 20:27] awaxa commented on #3168
In case it's worth noting, this is not precisely `0.10.2-release-20171109` after...
https://github.com/nightscout/cgm-remote-monitor/compare/awaxa:hours...cascer1:d46d06a2  via  https://github.com/cascer1/cgm-remote-monitor/pull/2
I certainly enjoy my crazy testing branch, do not recommend and can not support it, etc.  This is a quick rebase ... for one of my friends who'll soon also wear our NFHa

[2017-12-21 23:40] winni67 opened #3188 "NightScout treatments with the timestamp "Invalid Date" on iPad"
Hello,

after the AndroidAPS  update on Sunday (17.12.2017) I have NightScout treatments with the timestamp "Invalid Date". The last NightScout updates before where on 08.12.2017 and some days after the AAPS update on 19.12.2017. NightScout and AAPS are on the developer branch.

Perhaps this issue is independent from the AAPS update, but this day (17.12.2017) is the first day, with the timestamp "

[2017-12-23 09:13] winni67 commented on #3188
Hi, there is a Bug-Fix for AndroidAPS. Please look at https://github.com/MilosKozak/AndroidAPS/commit/6b23ba10bd49a59ceb29a97b8307293cc8951246
This fixed it for me. Thanks to Milos.

[2017-12-23 09:14] #3188 closed

[2017-12-25 20:48] alfiearthur commented on #2906
We have just had a failure to deploy on Azure with exactly the same message as  oschumak above. It also says; Merge brance 'dev' GitHub Failed.
Any advice welcomed.

[2017-12-26 00:13] abcooke0 commented on #2906
Having the same issue failing to deploy:

Command: bash deploy.sh
Handling node.js deployment.
KuduSync.NET from: 'D:\home\site\repository' to: 'D:\home\site\wwwroot'
Copying file: 'scm-commit-id.json'
Using start-up script server.js from package.json.
Node.js versions available on the platform are: 0.6.20, 0.8.2, 0.8.19, 0.8.26, 0.8.27, 0.8.28, 0.10.5, 0.10.18, 0.10.21, 0.10.24, 0.10.26, 0.10.28,

[2017-12-26 01:17] alfiearthur commented on #2906
I've just set the whole system up on Heroku and it worked first time. Can't use my existing Azure account, though, sadly. We have T1D 13 year old. We're using Freestyle Libre with Blucon and a 3d printed holder from thingiverse. We were bluetoothing through the bedroom wall, but we're now using nightscout for the first time. Great Christmas present. Thanks to all developers that made this happen.

[2017-12-26 23:03] AdrianLxM opened #3194 "Time delta in stats"
In the code that replaces single jumpy values by the interpolated ones, there are two time-deltas calculated to exclude a reading from being smoothed:
[code]
https://github.com/nightscout/cgm-remote-monitor/blob/dev/lib/report_plugins/glucosedistribution.js#L196

From how I understand the code, it sould not compare to `nextEntry` in both cases, but actually to `prevEntry` representing the time sin

[2017-12-27 22:11] codacy-bot opened #3197 "'newprofiledata' is assigned a value but never used. (no-unused-vars)"
Found a potential bug?

### [Codacy](https://www.codacy.com/app/Nightscout/cgm-remote-monitor/commit?cid=160663365) detected an issue:
#### Message: `'newprofiledata' is assigned a value but never used. (no-unused-vars)`

#### Occurred on:
+ **Commit**:  eb4726d9812b448da1ae59366f5d9f351c956ae3
+ **File**:    [lib/profilefunctions.js](https://github.com/nightscout/cgm-remote-monitor/blob/eb4726d98

[2018-01-02 23:54] fromorbonia opened #3220 "Profile editor - target BG not used?"
It appears that setting the Profile Editor  target BG values are not being applied to the alarms. Is this due to not being implemented?
I was expecting some code to load up the client settings.threshold, but can only find that being set based on server settings. Have I completely missed this in the app / code? Is this something I could look to add code wise?

Please include the following informati

[2018-01-04 21:41] fromorbonia opened #3230 "Azure - re-deploy NPM failing"
Hi,
I was trying out some code changes on my repository (aftering merging with the latest). That resulted in a successful deployment on Azure to 0.10.2.
I then changed on file, and Azure tried to redeploy, but kept on getting stuck on a permission / scan error (error below). Tried a whole number of things with no succcess.
I then updated packages.json to also accept the latest NPM of 5.6.0, and it

[2018-01-04 21:46] sulkaharo commented on #3230
5.6.0 was release after the latest public release and has the fix for a bug with the earlier npm releases. Sounds like need to update master soon.

[2018-01-04 22:09] PieterGit commented on #3230
Note that https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V8.md#8.9.4 also includes npm 5.6.0 now.

[2018-01-05 05:28] bfaloona opened #3232 "Site displays incorrectly and strange characters prepend valid HTTP XHR responses"
Problem:
Nightscout site unusable. Data displayed incorrectly.

Behavior:
With no items in the entries collection, I see corrupt characters prefix valid looking responses to nightscout XHR requests. For example:
`ÿ40ÿ42["clients",1]`
Once our uploader issue was resolved and entries were populated in mLab, the site displays and behaves normally. The odd characters still appear in the HTTP respon

[2018-01-06 08:28] lilagw opened #3238 "Deployment of nightscout fails in Azure"
Hello, I've been running an older version of NightScout and tried to upgrade to the latest. It fails on deployment. I've tried all the troubleshooting suggestions and nothing works. Please help!

Here is the Activity Log of the deploy:
Command: bash deploy.sh
Handling node.js deployment.
KuduSync.NET from: 'D:\home\site\repository' to: 'D:\home\site\wwwroot'
Deleting file: 'hostingstart.html'
Copy

[2018-01-06 12:01] sulkaharo commented on #3238
Can you try to deploy the dev branch to see if it works?

[2018-01-06 12:03] sulkaharo commented on #3220
The alarms use the targets from the environment settings in Azure/Heroku. Should improve the documentation to indicate this more clearly. See https://github.com/nightscout/cgm-remote-monitor#alarms

[2018-01-06 12:12] lilagw commented on #3238
Actually, I tried the deployment again and it works now. It had been trying to deploy 'Merge branch 'dev', but it wasn't working in the middle of the night. Perhaps it was a timing issue?

[2018-01-06 12:33] #3238 closed

[2018-01-07 12:30] MilosKozak opened #3242 "Do not generate OpenAPS offline alarm when BG is not available"

[2018-01-08 01:42] unsoluble commented on #3143
Did you sort this out? Whatever your data source is — a Dexcom bridge, or an xDrip uploader, or something — isn't sending data to the Nightscout site (the site itself is working fine, from all appearances).

[2018-01-08 01:53] GlennCoco commented on #3168
Just came across this, I am having the same trouble and wondering if there is a fix for this? @awaxa @cascer1

[2018-01-08 11:01] Lufo95 commented on #3143
Hi! Yes I was able to fix this. The NodeJS plugin connects to the carelink.com website, which is carelink.eu for European people. I fixed this manually.

[2018-01-08 11:01] #3143 closed

[2018-01-09 11:00] Woobagcgm commented on #2906
Same problem here after i've updated my cgm-remote-monitor to Azure, using the Nightscout update function
(http://www.nightscout.info/wiki/welcome/how-to-update-to-latest-cgm-remote-monitor-aka-cookie)

I've deleted the node line in package.json. I've found this in an old issue. But didn't work for me.
(https://github.com/nightscout/cgm-remote-monitor/issues/1412)

My log:

Command: bash deploy.sh

[2018-01-09 11:09] sulkaharo commented on #2906
The Azure deploy fail cause is unknown. People have been able to fix it by just retrying again; some users have fixed it by first disconnecting their Github account from Azure and then re-connecting & deploying. FWIW I'm personally hosting NS in Heroku and never see these issues.

[2018-01-11 10:16] dansuk opened #3248 "Feature request: Pushover "in range" notification"
Could a feature be added to the pushover support that will alert when a blood glucose level that is out of range comes back in range? For example, if the low range is: 4 and the high range is: 8, could Nightscout provide a notification when less that 4 if the glucose reaches 4 or above, or when above 8 would notify when the glucose becomes 8 or less.

The purpose of this feature is to allow a user

[2018-01-13 17:55] fromorbonia commented on #3220
Hi,
I didn't phrase my post as clearly as intended! It seemed that a logical thing to occur, when you set the target BG values and times on the profile, is that would then change the alarm points. The documentation did not imply that - so not a problem with the documenation.
I suppose the phrase "some settings can be overridden per client" is slightly open, and I thought I might as well look at th

[2018-01-17 15:07] ELUTE commented on #3168
all targets and treatments are in mg/dL unfortunately and always have been. +1 on wishing this could be resolved

[2018-01-17 17:19] cascer1 commented on #3168
@GlennCoco I haven't had a chance to look at this yet, I'm unfamiliar with the existing code so it might take a while if I were the one to fix this.

[2018-01-21 19:15] mdomox opened #3268 "Wrong IOB Calculation for MDI users"
ΙΟΒ does not calculate correct value when changing treatment profiles with different insulin age value. This occurs in every browser and platform.

1. Create a treatment profile with insulage age 6 hours (profile Humulin)
2. Create a treatment profile with insulin age 2 hours (profile Novorapid)
3. Use profile Humulin. Insert bolus value
4. After 2 hours change profile to Profile Novorapid.
5. Nig

[2018-01-24 16:52] hummelstrand opened #3275 "AR_CONE_FACTOR "0" not respected unless ENABLE includes "ar2""
Using 0.10.2-release-20171201 I see that AR_CONE_FACTOR set to "0" still shows the default ("2"). If I set ENABLE to includes "ar2" var, it works and just one line is shown.
![image](https://user-images.githubusercontent.com/2979793/35345248-6d1b7290-012f-11e8-8cf3-70ddb728e13a.png)

[2018-01-27 12:59] seittenj opened #3289 "Temporary basal rate shown incorrectly after suspend/normal state"
Please include the following information with your bug report:

Is this a new bug with the latest release, have you seen this earlier?
- Occures with latest release 0.10.2 and haven't seen it before. I updated also uploader (indra 0.6.0). I'm not sure is this happening because of uploader or nightscout itself.

Which device / browser version was used to reproduce the bug?
-I have been using Androi

[2018-02-01 15:36] tomasboudr opened #3316 "OpenAPS pill stops updating (reads unknown) despite it working. Can be fixed by deleting all treatments and devicestatus entries from mongoDB"
Please include the following information with your bug report:

Is this a new bug with the latest release, have you seen this earlier?
_This is present in 0.10.1-release-20171016 and I have seen it before in previous versions._

Which device / browser version was used to reproduce the bug?
_This bug is present in Chrome and Safari_

Does this happen every time you launch Nightscout, or sometimes?

[2018-02-01 15:40] tomasboudr commented on #3316
I assume this issue is due to bad data or a threshold I am passing. Here is my MongoDB entry count screen in case that helps:
![image](https://user-images.githubusercontent.com/156123/35687189-0f147a76-073c-11e8-99ad-2cc80654c17c.png)

[2018-02-01 22:54] atjt001 opened #3317 "Feature request Other Correction in Bolus calc"
Hi
Is it possible to increase the default range from the "bolus calc" wizard to plus or minus 3 units of insulin, currently the max is limited to minus1 and plus 1, we need to be able to take account of exercise when using the bolus calc wizard. I think the code I need to change is

// Corrections

    record.othercorrection = parseFloat($('#bc_othercorrection').val());

Thank you, and sorry if I

[2018-02-06 19:46] tanja3981 opened #3331 "IOB calculation fails when "basal" plugin is enabled but no profile exists"
Bug on current "0.10.2-release-20171201" but probably longer.
Found when using alexa skill on a site where no profile was set (and not wanted).
Workaround is possible by disabling "basal" plugin, but as most people have enabled this by default we should fix it nevetheless.

2018-02-06T19:03:43.888242+00:00 app[web.1]: Incoming request from Alexa
2018-02-06T19:03:43.888463+00:00 app[web.1]: Receive

[2018-02-06 19:52] tanja3981 commented on #3331
Pull request created:
https://github.com/nightscout/cgm-remote-monitor/pull/3332

[2018-02-09 09:46] PieterGit opened #3337 "Feature: activity tracking in Nightscout"
Design decisions for integration of actvity tracking within Nightscout and APS'es:

@sulkaharo started the branch https://github.com/nightscout/cgm-remote-monitor/tree/wip/activitydata to make it possible for Nightscout to store activty data.

Discussion is: https://gitter.im/openaps/oref0?at=5a7ac3a97dcd63481f2aebba

I would like to use this issue for discussing this new feature.

[2018-02-09 11:16] PieterGit commented on #3337
My thoughts on minimal viable product and the responsibilities of ActivityUploader, Nightscout and the APS:

Minimal viable product:

ActivityUploader uploads one or more activity_records to Nightscout
[code]

I'll see if I can create an uploader in the xdrip / Pebble app somehow (note Pebble and Android programming is both new for me).

Based on some profile setting Nightscout will create temp ta

[2018-02-09 15:19] PieterGit commented on #3337
Also digged up some research (need to look more closely):
- http://dcareusa.com/UserFiles/189File5326.pdf (Type 1 Diabetes and Vigorous Exercise:
Applications of Exercise Physiology to  Patient Management)
- https://media.wix.com/ugd/776db1_eb6d16b8f2bb43028b83e5e0efcddbec.pdf (Exercise management in type 1 diabetes: a consensus statement) .

[2018-02-09 17:45] scottleibrand commented on #3337
I agree with the automatic temp target approach, but I don’t know if that should be done inside Nightscout. Downloading the activity data to the OpenAPS rig and doing the artificial temp targets locally seems to me like it would make more sense, so we can keep the auto-targeting logic together with the exercise mode logic. Thoughts?

[2018-02-09 18:21] jamorham commented on #3337
I have an uploader for this in xDrip but the format I have used so far is to reproduce the database records that xDrip stores, so like bpm vs timestamp.

[2018-02-09 19:13] PieterGit commented on #3337
@scottleibrand : I thought about this as well. I think there can be more than one activity devices, e.g. phone (GPS, Android wear, etc.), watches (e.g. Pebble) and API's from actvitytrackers (e.g. FitBit, Amazfit).  So for most usecases online access will be available.  When in house a Pebble or watch is much better for getting activity information than a mobile phone that's just lying on one plac

[2018-02-09 22:47] jamorham commented on #3337
Similar topic also worth thinking about. I have been interested in some time about like geographical based targets. With my family I have observed that lows can often occur at certain locations, for example swimming pool, supermarket etc.  Altering the target higher at these locations could help perhaps.  Somewhere some kind of geofencing or recording of the location so that machine learning can b

[2018-02-12 09:44] waltsteinchen opened #3353 "Deployment to Azure fails"
Hi, trying to deploy to Azure results in an error:
The resource operation completed with terminal provisioning state 'Failed'. at stage setting up source control.

Looking into Azure what happened I get the following:

Updating iisnode.yml at D:\home\site\wwwroot\iisnode.yml
npm WARN invalid config scripts-prepend-node-path="--production"
npm WARN deprecated node-uuid@1.4.8: Use uuid module instea

[2018-02-13 15:06] sulkaharo commented on #3337
Uploader requirements note: for kid users, a smart watch paired to the kid's phone might actually be used by a caretaker, so being able to select which data sources are uploaded and what are ignored would be extremely useful.

[2018-02-13 23:52] PieterGit commented on #3337
Thanks to @jamorham [commit](https://github.com/NightscoutFoundation/xDrip/commit/8d09da531748a519313cb3cffb578620279a8795) the Android xdrip app is now able to upload activity data (steps, heartrate and activity according to the Android phone (in vehicle, walking, cycling, still, etc) and upload it to Nightscout. You'll need to enable [Engineering mode](https://github.com/NightscoutFoundation/xDr

[2018-02-14 00:08] scottleibrand commented on #3337
You seem to be assuming the people's normal resting target is < 90 mg/dL?  I think 100 is probably more common (and certainly safer).  I would raise all of the activity targets to the values you have listed for > 30 minutes, since you can't know when the activity starts how long it will last.  The "in vehicle" one presumably does not involve any physical exertion, so I would leave that one at 120

[2018-02-14 00:26] scottleibrand commented on #3337
Ok, I'm fine with either 15m or 30m.  In my experience BG is usually falling by the time the activity is complete (and certainly by 15-30m later), so it's going to end up zero temping regardless of your temp target at that point, and it doesn't really matter exactly when you endit.

[2018-02-14 10:34] jamorham commented on #3337
@PieterGit I don't understand what the NSClient component was for in your above tests?

[2018-02-14 23:01] PieterGit commented on #3337
@jamorham: I don't use xdrip directly for CGM data. I'm using the xdrip app because it's much better for connecting to the pebble, and it can gives some extra alerts (and can upload activity data from the phone and pebble to Nightscout!). In my config BG is from Dexcom G4 connected to oref0 (edison) rig, that uploads bg+pump treatments to Nightscout. xdrip get's bg's from xDrip+ Sync Follower and

[2018-02-18 12:30] Jwit25 commented on #2665
Need to click on Save after the adding the custom slot details.

[2018-02-20 17:57] dougboss opened #3383 "add SSL cert info to Alexa plugin instructions"
The alexa plugin instructions need to be updated to reflect the new SSL requirements for Alexa
By alexa skill has been working for months and today when I attempted to update it to add more features now that Im looping, the wizard requires information on  SSL

With 3 choices
Does Heruko support SSL ?
EDIT - Based on testing it looks like "My development endpoint is a sub-domain of a domain that ha

[2018-02-20 22:44] PieterGit commented on #3107
@Cagier: did you recently checked if current master still won't deploy on Azure?

[2018-02-20 23:14] Kdisimone commented on #486
The ability to turn off the AR2 forecast is included in most recent NS version.  This could be closed

[2018-02-20 23:15] Kdisimone commented on #637
This issue could be closed.  The treatments can be edited on the Reports section, Treatments tab

[2018-02-20 23:20] Kdisimone commented on #923
This issue appears to be resolved now.  I regularly am able to see treatments when BGs are not displayed.

[2018-02-20 23:26] Kdisimone commented on #1818
I believe this issue can be closed, unless updated with additional information.  EU accounts are supported through BRIDGE_SERVER set to EU.

[2018-02-20 23:38] Kdisimone commented on #2725
this issue can be closed.  is a Loop-related issue, not NS.

[2018-02-20 23:41] Kdisimone commented on #2550
This appears to be working fine now.  I've had COB pill on in both OpenAPS and Loop use, for over 8 months or so now, and the issue has not reappeared.  I think this can be closed.

[2018-02-20 23:43] Kdisimone commented on #2530
usually this is resolved by a refresh.  Has your issue continued?  Or can this issue be closed?

[2018-02-20 23:45] Kdisimone commented on #2459
can this issue be closed now?  Just checking in....

[2018-02-20 23:47] Kdisimone commented on #1843
can this issue be closed?  have you resolved the problem?

[2018-02-20 23:56] Kdisimone commented on #1915
I can confirm this has been fixed.  Issue can be closed.
<img width="1149" alt="screen shot 2018-02-20 at 3 56 22 pm" src="https://user-images.githubusercontent.com/12402160/36455791-a58b6f5e-1656-11e8-96bd-23ac9866761b.png">

[2018-02-21 00:01] Kdisimone commented on #3024
@JoseeT1Bionique you can customize your font size using the values in this page.

https://github.com/nightscout/cgm-remote-monitor/blob/master/static/css/main.css

for further detail about how to do that...you can also watch this video that shows a similar example using custom font color changes in that file.  https://youtu.be/fHIe16COGhE

I'd recommend closing this issue since it isn't really for

[2018-02-21 00:02] Kdisimone commented on #2847
Issue can be closed.  Original poster needed to update to latest ns version.  support provided in Looped group.

[2018-02-21 00:04] Kdisimone commented on #2779
@amuladore have you resolved your issue?

Can we close this issue?

[2018-02-21 00:05] Kdisimone commented on #2766
The requested feature is already incorporated, issue can be closed.

[2018-02-21 00:08] Kdisimone commented on #2864
This issue appears to be resolved and could be closed.

[2018-02-21 00:09] amuladore commented on #2779
Yes thank you

Outlook<https://aka.ms/qtex0l> for iOS
________________________________
From: katie disimone <notifications@github.com>
Sent: Tuesday, February 20, 2018 4:04:16 PM
To: nightscout/cgm-remote-monitor
Cc: amuladore; Mention
Subject: Re: [nightscout/cgm-remote-monitor] i am not getting high alarms only low alarms (#2779)

@amuladore<https://github.com/amuladore> have you resolved your i

[2018-02-21 00:23] tynbendad commented on #1915
It looks like you have alarms on, or does it go yellow now even with alarms off?

[2018-02-21 00:24] Kdisimone commented on #1915
I’ll test. One sec

[2018-02-21 00:41] Kdisimone commented on #1915
You’re just looking for it to strike through, right?  Regardless of alarm setting?

[2018-02-21 00:42] tynbendad commented on #1915
Yes at a minimum, color change is ok but sound off if alarm is off...

[2018-02-21 01:17] Kdisimone commented on #1915
If that's what you'd want...You can add it back with this apparently:

https://github.com/Kdisimone/cgm-remote-monitor/commit/311672b0f0a99677d115db86e1e3af98b16ef730

[2018-02-21 01:18] tynbendad commented on #1915
Yes, that looks good - is it the same with all the alarm check boxes off? Thx

[2018-02-21 01:23] tynbendad commented on #1915
Ok thanks, will try it sometime.

[2018-02-21 01:30] Kdisimone commented on #1915
Seems to work when all the alarm settings are off as well, yes

[2018-02-21 06:52] #486 closed

[2018-02-21 06:53] #637 closed

[2018-02-21 06:53] #923 closed

[2018-02-21 06:54] #991 closed

[2018-02-21 06:55] PieterGit commented on #991
Issue seems resolved. Closing this issue.

[2018-02-21 06:57] PieterGit commented on #1818
Fixed, duplicate of https://github.com/nightscout/cgm-remote-monitor/issues/1471
@berpj Please report back if this issue has been fixed for you. Closing this issue for now. If you have problems, please create a new issue and link it to this one.

[2018-02-21 06:57] #1818 closed

[2018-02-21 07:01] davidmlb commented on #2847
yes. solved

[2018-02-21 07:01] #2847 closed

[2018-02-21 07:08] PieterGit commented on #2550
Closing issue. If the issue still exists, please open another issue and link it to this one.

[2018-02-21 07:11] PieterGit commented on #1915
Closing issue per @Kdisimone comment.
@tynbendad : please report back if this issue is fixed for you or not.

[2018-02-21 07:11] #1915 closed

[2018-02-21 07:14] PieterGit commented on #3024
@JoseeT1Bionique : can you give a followup on @Kdisimone comment. There have been some changes to the CSS since november 2017 so I don't know if this issue is still relevant for you.
Closing this issue for now. Feel free to reopen it, if you have more specific details / screenshots about what you want to improve.

[2018-02-21 07:14] #3024 closed

[2018-02-21 07:15] #2766 closed

[2018-02-21 07:16] PieterGit commented on #2864
@bdr1177 can you report if this issue has been fixed for you. I'm closing it for now. Feel free to reopen or create a new issue if this issue persists.

[2018-02-21 07:16] #2864 closed

[2018-02-21 07:17] PieterGit commented on #2779
Issue resolved according to the reporter. Closing issue.

[2018-02-21 07:17] #2779 closed

[2018-02-21 07:27] PieterGit commented on #3059
@osodebailar can you confirm is this issue has been fixed for you. I have no problems deploying dev to Heroku.

[2018-02-21 13:08] tomasboudr commented on #2530
Yes that fixes it, but it’s still an issue.

On Tue, Feb 20, 2018 at 6:43 PM katie disimone <notifications@github.com>
wrote:

[2018-02-21 17:57] Kdisimone commented on #387
@scottleibrand this issue can be closed now, correct?  the AR2 forecast can be shown regardless of whether there were recent treatments now....

[2018-02-21 18:01] Kdisimone commented on #428
I believe this issue can be close, correct? @scottleibrand

the most recent deployments I've seen do not show the dropdown menus for rawBG unless rawbg is on the ENABLE line.

[2018-02-21 18:08] Kdisimone commented on #1182
I believe this issue has been resolved?  Can someone update their status who has posted here?

[2018-02-21 18:24] Kdisimone commented on #1174
@oamyoamy can this issue be closed?

[2018-02-21 18:36] Kdisimone commented on #1099
@JosiahNS can this issue be closed now?  did you check your time on the devices?

[2018-02-21 18:58] Kdisimone commented on #1120
Looks like this issue can be closed.  The change appears to have been made to help with bolus clarification.
<img width="623" alt="screen shot 2018-02-21 at 10 57 50 am" src="https://user-images.githubusercontent.com/12402160/36499464-2999ea2e-16f6-11e8-88c5-bad4435d11ba.png">

[2018-02-21 19:08] Kdisimone commented on #3059
deploying fine for me...

[2018-02-21 19:27] Kdisimone commented on #1867
@mhaeberli when you say "very stale", how old do you mean?  My experience has been that if there is still data in the last 24-48 hours, that time selection still appears.  Since the display is only max 24 hours for the top chart, and 48 hours for bottom chart...this wouldn't appear to be an issue so long as you still have data within the last 48 hours.  You can use the bottom chart to scroll back

[2018-02-21 19:28] Kdisimone commented on #1867
(@mhaeberli and if this issue has resolved for you, can you close this issue?  i realize this is quite dated now)

[2018-02-21 19:28] Kdisimone commented on #1911
@analogmonster has this issue resolved for you?  If so, can you please close the issue.  thanks

[2018-02-21 19:31] Kdisimone commented on #1723
@rdobb is this issue resolved?  can this be closed?

[2018-02-21 19:32] rdobb commented on #1723
Sure, I am not sure any more, I went back to production build…

Thank you,
Ryan Dobb

[cid:image001.jpg@01CDFB12.48AA8410]   [cid:image002.jpg@01CDFB12.48AA8410]
• Email: rdobb@nquest.com<mailto:rdobb@nquest.com>
• Office: 410-823-6767

From: katie disimone [mailto:notifications@github.com]
Sent: Wednesday, February 21, 2018 2:31 PM
To: nightscout/cgm-remote-monitor <cgm-remote-monitor@noreply.git

[2018-02-21 19:34] Kdisimone commented on #1723
thanks...do you mind closing it?

[2018-02-21 19:35] #1723 closed

[2018-02-21 19:35] Kdisimone commented on #3230
@fromorbonia just checking in...has your issue been resolved?  If so, can you please close this comment.  Thanks

[2018-02-21 19:40] Kdisimone commented on #3020
@MJLewis30 Has your issue resolved now?  Just checking in.  If it has resolved, can you please close this issue?  If it has not, please provide an update with the current issue.  thanks.

[2018-02-21 19:45] Kdisimone commented on #2906
This issue looks like it can be closed.  If anyone has a lingering issue with their deployment, please chime in?

[2018-02-21 19:46] JoseeT1Bionique commented on #3024
Hello,

Thank you for the info, I will look into it. Closing it is fine.

Have a great day.

Josée

[2018-02-21 19:55] Kdisimone commented on #3145
Yes, you can use the following link below to setup a system to pull your CGM data from your Guardian Connect into a Nightscout site.

https://github.com/pazaan/600SeriesAndroidUploader/wiki

If this answers your question, can you confirm by closing this issue?  Thanks.  If it doesn't answer your question, let me know what else you are looking for.  Any questions about setup of that system can be a

[2018-02-21 20:24] scottleibrand commented on #387
Sure.  Also, it's 3 years old, and we'd all forgotten about it.  ;-)

[2018-02-21 20:24] #387 closed

[2018-02-21 20:25] #428 closed

[2018-02-21 23:04] PieterGit commented on #1120
@oamyoamy thanks for reporting. I think this issue has been fixed (see @Kdisimone screenshot above). If not, please reopen the issue, or recreate another issue and link it to this one. I'm closing this issue.

[2018-02-21 23:04] #1120 closed

[2018-02-23 00:39] Mendanbar commented on #1867
I believe the request is still valid, but I'm unable to test at the moment.  The use case where it failed for us was as follows:
1. We ran out of Dexcom sensors, and had to wait several (at least 3, if memory serves) days to get new ones
2. in the mean time, we wanted to manually enter BG values using the care portal menu (plus button) in the nightscout website itself so we at least had a log of r

[2018-02-23 02:00] Kdisimone commented on #1867
@Mendanbar Your comment is actually along similar lines as the discussion thread in this comment https://github.com/nightscout/cgm-remote-monitor/issues/1532

if you read the end message by @sulkaharo, the presence of CGM data via the entries collection (not just through treatments collection in careportal) is essential to the NS structure.  I think this issue could be tracked under that issue and

[2018-02-23 02:07] mhaeberli commented on #1867
Katie,
I concur, from a description standpoint.
I'm happy to let this one close out.
It _would_ be nice to be able to render even if no recent CGM entries and,
say zero or a few carelink entries.
But...
Hope all is well!
Best,
Martin

On Thu, Feb 22, 2018 at 6:00 PM, katie disimone <notifications@github.com>
wrote:

[2018-02-23 18:12] Kdisimone opened #3389 "Basal Pill checks for devicestatus Temp Basal to display first"
Can the Basal Pill operate similar to the cob and iob pills do now...where it checks to see if there is a devicestatus value first, before going to treatments?

the basal pill seems to take a long time to display the currently enacted temp basal on looping systems, and perhaps if it pulled the enacted values from devicestatus that would be quicker than looking for treatments?

[2018-02-24 23:33] norwayone11 opened #3393 "error deploy to azure:"
Please include the following information with your bug report:

Is this a new bug with the latest release, have you seen this earlier?

Which device / browser version was used to reproduce the bug?

Does this happen every time you launch Nightscout, or sometimes?

Steps how to reproduce (if you can’t reproduce the issue, please don’t report the issue / if we can't reproduce the bug, we can't fix)

[2018-02-24 23:44] norwayone11 commented on #3393
Hello,
I'm trying to deply to azure

 and it gives me an error, I can not continue to the next steps, it does not let me contact that service.  The error message it gives is:

"an error occurred while sending a request"
could your help me? thanks
[error_deploy_to_azure.pdf](https://github.com/nightscout/cgm-remote-monitor/files/1755450/error_deploy_to_azure.pdf)

[2018-02-25 08:29] PieterGit opened #3394 "Restore mongo 2.4 support (for RPI deployment)"
@jamorham reports on [Gitter discussion](https://gitter.im/nightscout/public?at=5a90054953c1dbb743684780 ) that Raspberry PI deployment does not work with current `dev` and that
0.10.2-release-20171201 works with rpi mongo 2.4.

This regression is probably caused by @sulkaharo , perhaps in this [commit](https://github.com/nightscout/cgm-remote-monitor/commit/0658cb6f80ba0d11630c855c94d2b8fefadfb51

[2018-02-25 22:16] norwayone11 commented on #3393
thanks PieterGit I´ll see and tray

[2018-02-26 02:12] #2725 closed

[2018-02-26 12:49] #1911 closed

[2018-02-26 19:18] PieterGit commented on #1867
Closing this, and keeping https://github.com/nightscout/cgm-remote-monitor/issues/1532 open.

[2018-02-26 19:18] #1867 closed

[2018-02-26 19:20] PieterGit commented on #2906
Closing issue. Feel free to reopen or create a new issue if there is more information and the problem is persisting.

[2018-02-26 19:20] #2906 closed

[2018-02-26 19:22] PieterGit commented on #3145
@liuxuhan please let us know if the comment of @Kdisimone is useful for you. I'm closing this issue for now. Feel free to reopen if you have additional questions.

[2018-02-26 19:28] PieterGit commented on #3020
@MJLewis30 : can you give an update? Does this problem persist with Habanero Red (0.10.2)?
We are closing issues that are not updated.  If you have questions feel free to reopen or ask support at
https://gitter.im/nightscout/public

[2018-02-26 19:28] #3020 closed

[2018-02-26 19:31] PieterGit commented on #3230
Next 0.10.3 release will include nodejs 8.9.x (8.9.4 or later). That will include npm 5.6.0 (or later).
@fromorbonia : can you confirm that the `dev` branch works for you?

[2018-02-26 19:36] PieterGit commented on #1099
@JosiahNS
We are closing issues that are not updated. There has not been much activity with this issue in the last 2 years.
I'm closing this issue for now.
If you have questions feel free to reopen or ask support at
https://gitter.im/nightscout/public

[2018-02-26 19:36] #1099 closed

[2018-02-26 19:41] PieterGit commented on #1174
We are closing issues that are not updated. There has not been much activity with this issue in the last 2 years.
I'm closing this issue for now. If you have questions feel free to reopen or ask support at
https://gitter.im/nightscout/public
Please let use know if this issue still persist in the latest release of Nightscout.

[2018-02-26 19:41] #1174 closed

[2018-02-26 19:45] PieterGit commented on #1182
@hanawait @joeyede @stavlor  We are closing issues that are not updated. There has not been much activity with this issue in the last 2 years.
I'm closing this issue for now. If you have questions feel free to reopen or ask support at
https://gitter.im/nightscout/public
Please let use know if this issue still persist in the latest release of Nightscout.

Azure hosting seems to give several problem

[2018-02-26 19:45] #1182 closed

[2018-02-26 19:59] PieterGit commented on #1412
@LLLIEFA You commented on an issue that was closed for quite some time. The issue was not reopened.

We are closing issues that are not updated. There has not been much activity with this issue in the last 2 years. If you have questions feel free to create a new issue about Azure hosting and
reference this issue if it's relevant. You can also ask support at https://gitter.im/nightscout/public

Azu

[2018-02-26 20:02] PieterGit commented on #2530
@tomasboudr Yes, I've seen this as well. If you can try to find more information about when this occurs please share this. I'm setting this for the 0.11.0 release, because this issue will probably not be fixed in the next weeks.

[2018-02-26 20:04] #2550 closed

[2018-02-26 20:13] PieterGit commented on #1843
@rgilbert03 @nevincoskunazr
Please let use know if this issue still persist in the latest release of Nightscout.
Azure hosting seems to give several problems. You can also try to use Heroku instead.
I'm closing this issue for now. If you have questions feel free to reopen or ask support at
https://gitter.im/nightscout/public

[2018-02-26 20:13] #1843 closed

[2018-02-26 20:17] PieterGit commented on #2459
@amazaheri This issue has not been updated for a year.
Please let use know if this issue still persist in the latest release of Nightscout.
I'm closing this issue for now. If you have questions feel free to reopen or ask support at
https://gitter.im/nightscout/public

[2018-02-26 20:17] #2459 closed

[2018-02-26 20:33] PieterGit commented on #3383
@dougboss : Of course I'll be gentle. I have set this for the 0.11.0 milestone, because we are clearing the open issues to make sure we fix the issues needed for the next 0.10.3 release.

I think your refering to this page: https://github.com/nightscout/cgm-remote-monitor/blob/dev/lib/plugins/alexa-plugin.md
If you know what needs to be changed you can try to do it yourself. See
http://openaps.rea

[2018-02-26 20:38] PieterGit commented on #3337
I set the milestone for the next release. I first want to clean out the open PR's and open issues. so that Nightscout 0.10.3 can be released. If somebody fixes this feature in the next weeks, I'm happy to include it in the 0.10.3 release 😄

[2018-02-26 20:50] PieterGit commented on #3268
@mdomox Some questions to get the issue clear:
- Am I right that you're not using an APS system (openaps/oref0/loop/AndroidAPS) and only use Nightscout for viewing your viewing your CGM.
- What pump do you use, and do you sync your pump with Nightscout, or only add manual treatments in Nightscout

Most people use IOB calculation from the APS. Nightscout IOB and BWP use simpler algorithms than thos

[2018-02-26 20:57] PieterGit commented on #3289
@seittenj I don't know a indra uploader, but I do know the 0.6.0 version of oref0.
I know @jpcunningh created an enhancement to account for pump suspends, see
https://github.com/openaps/oref0/pull/879

@jpcunningh: can you confirm that your oref0 PR fixes this issue. If so, this Nightscout issue can be closed and upgrading to oref 0.6.1 (when available) will fix this.

[2018-02-26 21:01] dougboss commented on #3383
Its working - I just needed to select the subdomain ssl choice ... Github still scares/confuses me a little but Ill attempt to edit ... its the least I can do to try to help the system that has been so helpful to me

[2018-02-26 21:03] PieterGit commented on #3383
@dougboss good to hear that you solved your issue. please help other to solve it by improving the docs. The people on the gitter will help you with your first PR if you get stuck.

[2018-02-26 21:29] dougboss commented on #3383
Just completed my first PR ... THANKS ...

[2018-02-26 21:54] PieterGit commented on #3383
@dougboss : I merged https://github.com/nightscout/cgm-remote-monitor/pull/3401
 and will be released with 0.10.3 version of the docs.

You see how easy it is to contribute! Feel free to do more contributions.

[2018-02-26 21:54] #3383 closed

[2018-02-27 01:52] jpcunningh commented on #3289
The OpenAPS update the account for pump suspends doesn't change the basal
line on NS. The update only affects the IOB calculation, so it would not
affect this issue.

From one perspective, it increased the amount of times when the basal line
doesn't reflect reality. However, NS shows the grey pump suspend and
unsuspend events, so making NS show the basal going to zero during suspends
hasn't bubble

[2018-02-27 14:14] seittenj commented on #3289
I have still seen this happening( ns showing wrong basal rate after pump suspend ), but it can be "fixed" also by reloading the ns webpage.

[2018-02-27 14:21] seittenj commented on #3289
This is the uploader sw(v. 0.6.1) I was referring to(uploader used with 640g) :
https://github.com/pazaan/600SeriesAndroidUploader/releases

[2018-02-27 20:26] fromorbonia commented on #3230
Just mergeded the dev code and Azure successfully re-deployed site.  :-)
Thanks very much

[2018-02-27 20:26] #3230 closed

[2018-02-27 20:47] mdomox commented on #3268
@PieterGit Thank you much for your response. I use Nightscout for viewing CMG data (Freestlye Libre), manually inserting carbs and insulin doses. Not using a pump, but I find the bolus calculator very helpful.I also use it to view IOB, COB ,share date to the doctor and remotely monitor my kid's glucose levels  (fyi, till recently I was also using the GoogleHome - API.AI integration which was broke

[2018-02-27 20:49] MilosKozak commented on #3268
AndroidAPS and virtual pump

[2018-02-27 21:11] mdomox commented on #3268
@MilosKozak , AndroidAPS has to be installed on the same smartphone as xDrip/Glimp?

[2018-03-02 20:44] brentdur opened #3410 "Believe thresholds in settings.js should use profile data?"
It seems odd that there is the ability to set thresholds for different times in the profile data but that the chart and alarms don't make use of this information?

[2018-03-05 20:17] Kdisimone commented on #2890
Resolved. Work has already been incorporated

[2018-03-05 20:17] #2890 closed

[2018-03-09 13:24] Pogman commented on #3289
@seittenj the pump pill status info is created in the uploader and sent as status text to NS. You may have an issue related to the uploader as the pump pill should always be a snapshot of the pump status separate to what NS shows or calcs. Can you open an issue for that there?

There is a refresh/lag issue in NS with basals even when the data is there and correct ie. a browser refresh will show it

[2018-03-10 16:10] miletine opened #3433 "Deploy to Azure failed"
Please include the following information with your bug report:
Is this a new bug with the latest release, have you seen this earlier?

I performed the auto update of the fork to merge all to bring myself up to the latest version.
Which device / browser version was used to reproduce the bug?
The azure portal

Does this happen every time you launch Nightscout, or sometimes?

Site is down.  Won't sta

[2018-03-10 16:30] miletine commented on #3433
I just noticed that this is very similar to the much earlier hosting-azure issue.  I don't know how to add the label.

[2018-03-10 17:04] #3433 closed

[2018-03-11 19:18] dougboss commented on #3383
I dont know if its now duplicated or if I just missed the text in Step 6

But it looks like the edit I suggested just duplicated the content in step 6

" Select the appropriate certificate type. For heroku this is typically "My development endpoint is a sub-domain of a domain that has a wildcard certificate from a certificate authority"

I dont recall that being there but if  it was then my edit i

[2018-03-15 02:24] YYCMichael commented on #2711
Any news on this request?

Tried these local edits in /lib/client/boluscalc.js :

Line 460: record.insulin = roundTo(total, 0.05);  >>> to 0.1
and
Line 304: $('#bc_rouding').text(record.roundingcorrection.toFixed(2));
Line 305: $('#bc_insulintotal').text(record.insulin.toFixed(2));
to
$('#bc_rouding').text(record.roundingcorrection.toFixed(1));
$('#bc_insulintotal').text(record.insulin.toFixed(1))

[2018-03-15 17:39] rkresha opened #3447 "Feature Request: Temp Target based on calendar entries"
Just throwing the idea out there.

Would be nice if you could tap into the various web calendars to drive temp targets based on calendar entries.

Scenario: I get my haircut ever Nth day of the month and I have a calendar entry for it. I notice that I always go low because of the additional physical activity so instead of having to temp target manually, to be able to configure the temp target base

[2018-03-20 18:13] balshor opened #3456 "Merging updates for Azure deploy"
I have a couple of minor fixes that I made to get Azure deployment working for me again:

https://github.com/nightscout/cgm-remote-monitor/compare/master...balshor:master

In particular:
  * swapped the `--scripts-prepend-node-path` and `--production` arguments on `npm install` to avoid `npm WARN invalid config scripts-prepend-node-path="--production"`
  * added a dependency on `"graceful-fs": "4.

[2018-03-23 12:22] tanja3981 opened #3462 "Server restart on treatment upload with invalid id."
See discussion on facebook
https://www.facebook.com/groups/cgminthecloud/permalink/1561852763935974/

Reproducable on version 0.10.3-dev with any browser (firefox, chrome tested)

[2018-03-23 18:37] tanja3981 commented on #3462
Stacktrace:
2018-03-23T12:42:49.661845+00:00 app[web.1]: [32mWS: [0mdbUpdate client ID:  VPiJSwzLKdNwvIMZAAAA  data:  { collection: 'treatments',
2018-03-23T12:42:49.661857+00:00 app[web.1]:   _id: '1521758941450',
2018-03-23T12:42:49.661860+00:00 app[web.1]:   data:
2018-03-23T12:42:49.661863+00:00 app[web.1]:    { eventType: 'Profile Switch',
2018-03-23T12:42:49.661865+00:00 app[web.1]:      d

[2018-03-23 20:25] tanja3981 commented on #3462
Created pull request which will fix it.
Tested with my current AndroidAPS setting where the faulty profile switch was still in the upload queue.

[2018-03-24 03:22] mpangburn opened #3468 "[API] Treatments with invalid IDs can be uploaded successfully"
I'm working on a Swift wrapper around the Nightscout API and have encountered a bug with some odd consequences: a treatment can be uploaded with an invalid ID. However, upon querying the API to modify/delete by this ID, the API will return an error response, so the invalid treatment is effectively untouchable.

I haven't tested uploading an entry/profile record/device status/etc. with an invalid I

[2018-03-25 13:46] Pogman opened #3469 "Profile editor times incorrect after daylight savings time change"
version 0.10.2-release-20171201

Clocks went forward +1 hour at 1am on 25/3/2018

Opened profile editor at 2pm.

The profile shows blank times and the drop down time selection jumps between the +1 hour time change.

Expected behaviour is not to use TZ or daylight savings for time selections within profiles.

![ns-0 10 2-bug-profile-1](https://user-images.githubusercontent.com/7413594/37875706-051d

[2018-03-25 14:40] Pogman opened #3470 "Admin tool shows future treatments after daylight savings time change"
version 0.10.2-release-20171201

Clocks went forward +1 hour at 1am on 25/3/2018

Opened Admin tool at 3:30pm.

The database is showing items as in the future to be removed.

![ns-0 10 2-bug-admin-1](https://user-images.githubusercontent.com/7413594/37876335-c11ad768-3042-11e8-8e3a-da06d94e87a4.JPG)
![ns-0 10 2-bug-admin-2](https://user-images.githubusercontent.com/7413594/37876336-c1359fe4-3042-1

[2018-03-25 19:56] triplem commented on #3469
I do have the same issue. The total per day is not calculated as well. The whole profile cannot be edited anymore. No additional profile can be added nor deleted.

[2018-03-25 21:06] tanja3981 commented on #3469
Stacktrace from dev console:
TypeError: time is null[Weitere Informationen]
profileeditor.js:628:9
toMinutesFromMidnight
http://tanjascgms.herokuapp.com/profile/js/profileeditor.js:628:9
timeDiffMinutes
http://tanjascgms.herokuapp.com/profile/js/profileeditor.js:205:20
refreshTotalBasal
http://tanjascgms.herokuapp.com/profile/js/profileeditor.js:219:16
initProfile
http://tanjascgms.herokuapp.com/p

[2018-03-25 21:08] tanja3981 commented on #3468
This issue will be already fixed will pull request
https://github.com/nightscout/cgm-remote-monitor/pull/3464

[2018-03-25 21:57] Pogman opened #3473 "Basal graph and rates incorrect after daylight savings time change"
version 0.10.2-release-20171201

Clocks went forward +1 hour at 1am on 25/3/2018

Main chart basal graph is not showing the correctly scheduled times for basal rate changes. They are shifted out by the +1 hour time change.

Expected behaviour is to not shift by 1 hour.

This may just be an artefact of a day with only 23 hours and tomorrow will see the normal result but it can be disconcerting.

[2018-03-26 05:37] MilosKozak commented on #3469
yes, 2 days every year it doesn't work ;)

[2018-03-26 10:33] andyrozman opened #3474 "Feature request: Add Ketone reading"
Would it be possible to add "Add Ketone reading" in Nightscout. While I don't do the lot of this readings, it would be nice if this information could be there.

[2018-03-31 12:40] arvchristos opened #3482 "Updated mongodb rawbg and sgv entry doesnt get returned using api calls"
Whenever I update a value using mongodb queries, these entries remain unchanged when using the REST API. I sthere any specific call I have to use in order to update entries.json?

[2018-03-31 12:46] arvchristos commented on #3482
My bad, the JSON data was cached until I closed the tab and refreshed.

[2018-03-31 12:46] #3482 closed

[2018-03-31 12:48] gonium opened #3483 "Cannot add new subject"
Hi,

I cannot create new subjects. When I use "Add new Subject", the subjects get created in MongoDB like this:

[code]
The Admin Tools page does not show any subjects -- it says ``Database contains 0 subjects``.

I have set a working ``API_SECRET`` of the syntax 'foo-bar-baz' in my environment. Looking at the code, I would expect to find an ``accessToken`` field in the subject document above, but

[2018-03-31 15:18] sbessolina opened #3486 "Ringtone to the web page"
Is it possible to add a personalized ringtone to the web page?

[2018-03-31 20:31] jimrandomh opened #3487 "Pushover alarms don't respect snooze duration"
When I have a high BG, Nightscout sends a pushover alert, with "urgent" priority, every fifteen minutes. This makes the Pushover alerts channel so noisy that genuinely-urgent alerts like OpenAPS' carbs-required alert are hard to notice. I have set ALARM_HIGH_MINS and ALARM_URGENT_HIGH_MINS to larger numbers, with no effect. Nor does it respect the BG_HIGH setting; the text in the Pushover notifica

[2018-03-31 20:39] jimrandomh commented on #3487
My overall setup is:

    Intel Edison running Jubilinux and OpenAPS 0.6
    Dexcom G4 connected by USB OTG cable to the Edison
    Nightscout running on Heroku, fork https://github.com/jimrandomh/cgm-remote-monitor

Nightscout's config is:

    ALARM_HIGH on
    ALARM_HIGH_MINS 30 60 90
    ALARM_LOW on
    ALARM_TIMEAGO_URGENT on
    ALARM_TIMEAGO_URGENT_MINS 30
    ALARM_TIMEAGO_WARN on
    ALA

[2018-03-31 20:45] jimrandomh opened #3488 "treatmentnotify plugin sends duplicate pushover alerts"
Whenever I enter a bolus through my pump's bolus wizard, or OpenAPS gives me a bolus because it's using SMB, Nightscout sends a pushover notification describing the bolus amount; it looks like

    Correction Bolus
    Insulin: 0.05U
    Entered By: openaps://medtronic/523
    Notes: Normal bolus (solo, no bolus wizard)
    Calculated IOB: 3.004
    Programmed bolus: 0.05
    Percent delivered: 10

[2018-03-31 20:46] jimrandomh commented on #3488
My overall setup is:

    Intel Edison running Jubilinux and OpenAPS 0.6
    Dexcom G4 connected by USB OTG cable to the Edison
    Nightscout running on Heroku, fork https://github.com/jimrandomh/cgm-remote-monitor

Nightscout's config is:

    ALARM_HIGH on
    ALARM_HIGH_MINS 30 60 90
    ALARM_LOW on
    ALARM_TIMEAGO_URGENT on
    ALARM_TIMEAGO_URGENT_MINS 30
    ALARM_TIMEAGO_WARN on
    ALA

[2018-03-31 21:02] jimrandomh commented on #3487
I can't remove Nightscout's ability to send Pushover notifications entirely, because the "not looping" notification works, and I need it. But I don't need high-BG notifications from Nightscout, because my CGM is already providing them, and Nightscout's version is spammy. I've tried changing ALARM_HIGH to "off"; that didn't do anything. I changed BG_TARGET_TOP to a huge number; that changes the eme

[2018-04-01 17:14] sooperlooper opened #3490 "Automatically reset CAGE pill after pressing "Fill Cannula" on pump"
I have a working prototype but it uses a roundabout method that requires IFTTT.  It would be great if someone could port it to Javascript so that everything could be done inside Nightscout instead of IFTTT.

This is how I did it:
First I had to get my NS site to allow OpenAPS treatments to generate notifications. I added treatmentnotify to my enable line in Heroku and I also had to change one part

[2018-04-01 20:50] tynbendad commented on #1532
fyi, I'm running into this also, since my kid takes "cgm breaks".  Have actually been running into it for a long time, but the breaks are more frequent lately.  And, I need nightscout to work well regardless, since I track his pump reservoir/etc with it.  But, without the cgm data, after 48 hours the pump pill (and other pills) disappear.  So, is there a way to fix the pill issue without solving t

[2018-04-01 22:11] arvchristos opened #3492 "Reports using whole dataset"
Is there a way to export reports taking into account all inserted data and not just those called Readings?
Uploading data using Glimp

[2018-04-02 02:07] sooperlooper commented on #3490
I have also made the IAGE and BAGE pill automatically reset using the same method.  After further testing, one thing I did notice is that the IFTTT trigger "ns-event" is not reliable at creating a new row in the spreadsheet each time. I have starting using "ns-info" and having more success

[2018-04-04 18:37] szymjaw commented on #3145
Please go with this tutorial http://nightscout.pl/medtronic/guardian-connect/

[2018-04-04 23:27] jimrandomh opened #3499 "Web page view leaks memory and eventually crashes"
If you leave the web-page view of Nightscout open, memory usage of the tab it's in gradually increases until eventually the tab becomes unresponsive and dies.

The renderer seems to be creating duplicate SVG elements (or alternatively, not deleting old SVG elements) and this is at least part, maybe all of the problem. I am working on a pull request to address it.

[2018-04-05 04:15] jimrandomh commented on #3488
In lib/server/pusnotify.js, there's a function notifyToHash which makes a digest from the message title and text, which is used to determine what's a duplicate. But the "Calculated IOB" field in the text of treatmentnotify's alerts changes slightly every minute, reflecting insulin absorption with changes in the last decimal places; that makes the message text a different string, so it has a differ

[2018-04-05 04:33] jimrandomh commented on #3488
In the Pushover notification, it seems all lines after the "Notes" entry are actually continuations of the multi-line Notes field. The "Calculated IOB" field comes from OpenAPS/oref0's lib/bolus.js, so it looks like OpenAPS may be entering duplicate data.

[2018-04-08 21:12] jaylagorio opened #3504 "Deployment on Windows is broken"
Good evening!

I'm attempting to migrate my existing Windows install, version 0.10.2-release-20171201
head 75e195a0, to a different system. Everything was going well until I encountered the following error when doing ``npm install``:

[code]

It looks like a required dependency on ``fsevents`` was taken since 0.10.2-release-20171201 released and that package doesn't support non-Mac platforms. Is t

[2018-04-09 12:33] sulkaharo commented on #3504
Can you try to add the package using NPM to see if the deploy succeeds? (Run `npm install fsevents` in the folder, then re-deploy.)

[2018-04-09 23:34] jaylagorio commented on #3504
I ran that and this is the output in its entirety (and seems to rail on the fact that this isn't a Mac):

[code]

[2018-04-11 20:52] tim2000s commented on #3470
I've had the same issue and am aware of other users seeing the same thing.

[2018-04-12 18:12] oleksandrg commented on #3353
Hello,
Has the same error

[2018-04-14 00:04] jaylagorio commented on #3504
Any word on what I can do to get around this?

[2018-04-14 10:03] arvchristos commented on #3492
This was a timezone problem. I solved it by changing the timezone attribute of my profile. Data was calculated but on a future date

[2018-04-14 10:03] #3492 closed

[2018-04-17 16:01] arvchristos opened #3511 "Bulk upload JSON objects"
Is there any function in the API that allows bulk uploadinjg of objects using REST request?

[2018-04-17 17:18] aaronjknox opened #3512 "Alexa plug-in tutorial outdated for the updated Alexa development portal."
It appears that the Alexa development site has been changed significantly and the nightscout tutorial for the Alexa plug-in is now outdated.
Alexa Skills Kit Developer Console
https://developer.amazon.com/alexa/console/ask

[2018-04-20 08:58] francescaneri opened #3517 "FoundationDB Compatibility nightscout"
Hi, is there the possibility to integrate this database with nightscout?
Thanks Matteo

https://github.com/apple/foundationdb

[2018-04-20 21:00] mdomox opened #3520 "Bolus Wizard & Food entries"
Since I updated to the current master version, I cannot quickpick or add from database food when using Bolus Wizard. Food editor works fine, though.

This is a new bug. It happens all the time, with all browsers (even mobile).

![screenshot_1](https://user-images.githubusercontent.com/2255012/39073516-b9c34928-44f6-11e8-9704-a4514d9d9966.png)

[2018-04-24 11:27] thomasmenges opened #3525 "bgnow: current blood glucose level is not displayed in NS --> can someone help me ????"
I have installed NS on heroku. The installation to azure leads to errors. Next month I will use the FGM freestyle libre and uses GLIMP to transfer the data to NS.

I am testing this by enter manual BG values in GLIMP. They are correctly transferred to Nightscout.

The BG values are shown on the curve.

However, no current BG value is displayed on the main monitor, but only 3 dashes. What do I have

[2018-04-25 10:10] loettz opened #3527 "rest call on reports comes before entering api secret"
When Nightscout is used on a Computer (f.e. at work) where API secret is NOT stored and you open the Report Site, you get a 401 unauthorized (saw it in dev Tools). When I enter my API secret I still can't open any reports, because I have to do a refresh and get again 401 and have to enter API secret again ..... (vicious cycle) and I just cant get to my reports.

It seems like the API call gets tri

[2018-04-28 10:55] tomasboudr commented on #2536
NS leaks memory for sure. It crashes the NS app on my iPhone 5s and safari iPad Mini, as well as chrome on my Mac regularly. I have to reopen it and can’t just glance at it like I would like to be able to do.

[2018-04-28 18:13] thomasmenges commented on #3525
Can anybody help me to solve the problem:
The problem is caused in bgnow.js  --> all buckets are empty. But that is not true.

![image](https://user-images.githubusercontent.com/37514390/39399575-893e8bd4-4b20-11e8-9abc-7167cb2d719b.png)

![image](https://user-images.githubusercontent.com/37514390/39399577-8f11948e-4b20-11e8-877e-76c6be9df31c.png)

[2018-04-29 15:04] eugman opened #3535 "Azure hosting: npm WARN deprecated node-uuid@1.4.8: Use uuid module instead"
Trying to deploy the latest version to Azure and I get the following error page:

Command: bash deploy.sh
Handling node.js deployment.
KuduSync.NET from: 'D:\home\site\repository' to: 'D:\home\site\wwwroot'
Copying file: 'scm-commit-id.json'
Using start-up script server.js from package.json.
Node.js versions available on the platform are: 0.6.20, 0.8.2, 0.8.19, 0.8.26, 0.8.27, 0.8.28, 0.10.5, 0.10

[2018-04-30 11:44] jleuthen commented on #2885
I just tried to implement Alexa on Nightscout but it doesn't work so far.

I'm using Azure and within the application settings set "ENABLE: alexa"

Afterwards I created the Alexa skill as described, using Tanja's JSON file.

Now I have a question regarding the endpoint URL setting. Is it my Azure website ?

Meaning "https://xxxx.azurewebsites.net/api/v1/alexa" ?

By the way, I updated the fork and

[2018-04-30 13:16] dougboss commented on #2885
I used Heroku and the endpoint was the same that I used for xdrip... I think...
Just remember that Alexa is simply reading the webpage you point it to so make sure the URL works ...

[2018-04-30 13:35] jleuthen commented on #2885
Thanks for your answer, but this hasn't helped me much.

The URL "https://xxxx.azurewebsites.net/api/v1/alexa" is working and Nightscout running.

I have pointed the endpoint URL to this Website, but Alexa still says that the skill isn't reachable/available.

[2018-04-30 14:04] jleuthen commented on #2885
Sorry, I meant "https://xxxx.azurewebsites.net/" is working and Nightscout running.

[2018-04-30 14:51] tanja3981 commented on #3512
Yes, the amazon developer site has changed a lot and the instructions are based on the old layout. However there wasn't yet any volunteering to rewrite the alexa skill instructions. ;-)

[2018-04-30 14:52] #3023 closed

[2018-05-01 03:59] jettechfsr commented on #3512
Im not getting anywhere with this and the alexa development site format tottally lost

[2018-05-01 04:44] aaronjknox commented on #3512
Yes, a rewrite would definitely help. Sorry I can't be of help. I don't know how to set this up since the developer site was revamped.

[2018-05-01 10:47] winni67 commented on #3022
Perhaps a nice feature

[2018-05-01 10:49] winni67 opened #3540 "NS connection problem with AndroidAPS 2.0 RC1"
Please look at

https://github.com/MilosKozak/AndroidAPS/issues/941

[2018-05-01 10:56] winni67 commented on #3512
I have to solve my connection problem with the latest developer version and AndroidAPS. Then I can test tanja3981 pull request and perhaps I can help to rewrite the tutorial. I have uploaded my alexa skill in german and english as a *.json file in the facebook group https://www.facebook.com/groups/nightscoutDE/ With this file, you save the steps 3-5 in the old tutorial.

[2018-05-03 05:34] LongboatAline commented on #3540
this seems to be resolved by https://github.com/MilosKozak/AndroidAPS/commit/8419f8d0e997aeb52322e1a2c43d4d6faab74830, see https://gitter.im/MilosKozak/AndroidAPS?at=5ae9eb685cf0b830044f2f58.
With this change the connection so far has been running stable, and been reestablished quickly and reliably after some forced disruptions that would have unsettled it before.
So I think this can be closed.

[2018-05-05 16:40] jaylagorio commented on #3504
Using ``require-analyzer`` (https://blog.nodejitsu.com/analyze-nodejs-dependencies-like-magic/) does not reveal anything about ``fsevents``. Is the only way to find out who took a dependency on this thing to go to the NPM package page and compare all 1200 packages that depend on it to the several hundred packages in the list above?

[2018-05-05 23:53] Tornado-Tim opened #3550 "Temp Targets in mmol not converted"
Nightscout treats all temp targets as mgdl, some clients are sending mmol units for Temp Targets, and nightscout is ignoring them and still treats as mmol, this can lead to people going very very low quickly if a safety cut off is not in place on the looping client.

This issue and resulting PR enforces mgdl usage if a mmol value is pushed to Nightscout.
This is any value under 20 or sending the t

[2018-05-06 09:10] atjt001 opened #3551 "Application error"
fixed by restarting dynos and update

[2018-05-06 23:42] jaylagorio commented on #3504
Grepped the directory. ``npm-shrinkwrap.js`` shows the culprit to be ``chokidar``:

[code]

The only thing is that later in the file ``fsevents`` is labeled as optional:

[code]

Now knowing where the dependency lies still doesn't help because ``fsevents`` is marked optional anyway. Why isn't it being treated that way during install?

[2018-05-07 10:46] GlennCoco commented on #3447
I use IFTTT with an integration into google calendar to do these types of functions. I admit I don't use it for hair though only exercise.

[2018-05-07 17:51] jllmostert opened #3558 "standardization of reports and adding measures of glucose variability"
I have a few suggestions to improve reporting in NightScout.
1) One-page reports, AGP style. NightScout already has a big chunck of the information that's given by AGP reports, but I would like to discuss to introduce a really good one-page overview like this: http://www.agpreport.org/agp/research It shows basic metrics and some metrics about Glucose Variability.

The main reason to do this, is be

[2018-05-07 19:25] winni67 commented on #3540
Thanks to Milos.

[2018-05-07 19:25] #3540 closed

[2018-05-08 12:51] brutevinch opened #3560 "Loading the client...."
Trying to install and start last master build on debian.
After starting i have logo on black screen "loading the client"
Version 0.9 on the same system is working fine.

[code]

/opt/ns_1(master*) # nodejs --version                                                                                                                  root@cgm
v8.11.1

[code]

[2018-05-11 05:00] mpangburn opened #3567 "[API] Determining the active profile"
The profile record API (api/v1/profile) provides access to all records and includes the default profile. However, in the case that a user has entered a Profile Switch treatment, the default profile may not be the active profile. As far as I can tell, the API does not provide a way to access the active profile; it's not included in /status either.

If I'm missing something here and it is available,

[2018-05-15 07:05] Dave2526 opened #3577 "setup.sh change for python"
Hello,
last week I´ve installed Nightscout on my Raspberry Pi 3 (Latest update & upgrade) and there I found an Issue in the setup.sh file: The Packet "python-software-properties" is now called "software-properties-common".

[2018-05-17 20:38] shortanu commented on #3145
Hello, is there a tutorial for Guardian Connect with Heroku?  I am new to this and don't know how to edit the source files of the app on Heroku...

[2018-05-18 06:11] szymjaw commented on #3145
This is for Azure, but you can do this.
Please deploy your heroku app from my github https://github.com/szymjaw/cgm-remote-monitor

[2018-05-19 06:29] shortanu commented on #2508
solved in #3145

[2018-05-23 08:04] bmammon commented on #3550
I made some workflows for setting temp targets in mmol/L and mg/dL users if you are interested.
https://github.com/ella7/nightscout-workflows/issues/5

[2018-05-23 21:28] sbalmer opened #3599 "Unauthorized glimp when using AUTH_DEFAULT_ROLES"
I've just set up Nightscout 0.9.3 on Heroku. When I set `AUTH_DEFAULT_ROLES=denied` Glimp says "unauthorized" when testing the connection. With `AUTH_DEFAULT_ROLES` unset the connection works.

I've tried adding a subject and entering the access token as "API Secret" in Glimp. Is Glimp just unable to work with tokens? Is there some kind of workaround?

Now I've set the permissions for group `denie

[2018-05-24 19:36] veryfancy commented on #3512
Gonna have a crack at this one, unless someone tells me not to.

[2018-05-24 22:04] Tornado-Tim commented on #3550
Merged into Dev, closing due to that.....

[2018-05-24 22:04] #3550 closed

[2018-05-26 22:33] mpangburn opened #3603 "Treatment edit/delete failures"
Both the reports GUI and the API are very unreliable with respect to treatment edits and deletions.
When going to Reports -> Treatments and using the green pencil to edit or the red x to delete, there is no indication of success, and confirming an edit or delete appears to have no effect.

Similarly, when invoking the API with PUT/DELETE requests, the outcomes are unpredictable. Sometimes an updat

[2018-05-27 23:42] rhdtv2002 opened #3604 "Revert "updatelanguage.js"(#3406)"
In Azure when selecting Deployment Options and syncing GitHub this starts to building and Failed is returned - does anyone know what this is?
I am using GoogleChrome on a Chromebook from Asus.

[2018-05-28 01:20] rhdtv2002 commented on #3604
Please close out. I was able to resolve the issue

[2018-05-30 07:58] typ1-brods opened #3605 "[feature request] Average TDD reporting for last x days"
For regulation of weight / managing basal it is really helpful to have an eye on the average TDD of last x days. NS actually can show each **single** TDD in the day-by-day report, so the data should be available in the database. AAPS also does.

I would love to see the **average** TDD in Distribution tab of NS reports, depending on the chosen period of time. Maybe like this:

`sum of TDD from the

[2018-06-04 15:33] #3462 closed

[2018-06-04 15:33] tanja3981 commented on #3462
Merged with linked PR.

[2018-06-09 00:28] someoneAnyone opened #3623 "alarmTimeagoWarnMins and alarmTimeagoUrgentMins are returning as strings."
Please include the following information with your bug report:

Is this a new bug with the latest release, have you seen this earlier?
Latest release. 0.10.2-release-20171201

Which device / browser version was used to reproduce the bug?
Every browser... this is an API endpoint issue.
/api/v1/status.json

In previous releases, the JSON output of the status endpoint returned `alarmTimeagoWarnMins`

[2018-06-09 08:34] jamorham commented on #3474
xDrip has support for at least one meter that supplies ketone information and is ready to upload that to Nightscout whenever there is support there for it.

[2018-06-14 19:49] veryfancy commented on #3512
PR here: https://github.com/nightscout/cgm-remote-monitor/pull/3632

[2018-06-16 17:54] KevinDenys opened #3634 "[API] Finding between 2 dates only gives the last 10 results"
I am trying to retrieve the data between 2 dates using:
/api/v1/entries?find[dateString][$gte]=2018-06-01&find[dateString][$lte]=2018-06-31
But it only shows the last/first? 10 results.

Am I doing something wrong?

&count fixes it

[2018-06-17 12:28] #3634 closed

[2018-06-18 12:04] fromorbonia opened #3635 "Multiple Profiles, Reporting and Total Basal per day"
Hi,

I want to upload historic pump data, and use the reports page to view how / when temp basal is applied on top of the basal that is running at the time. I want to load up a profile (probably per day) detailing the basal rate changes when they occur - I have code running to do that.

Everything appears to be in place to support this (e.g. date & time passed all the way down in profilefunction.j

[2018-06-18 12:05] fromorbonia commented on #3220
Should have closed this earlier - I was wondering if others were thinking about this as well (obviously not!).

[2018-06-18 12:05] #3220 closed

[2018-06-18 21:14] someoneAnyone commented on #3623
Is anyone supporting this project?

[2018-06-19 14:46] TylerMitchell1 commented on #3604
How were you able to resolve this issue? I am having the same one.

[2018-06-24 20:55] PieterGit commented on #3394
@jamorham: fix with PR 3413 has been merged to dev. Can you please confirm that this solves your issue?

[2018-06-24 20:55] #3394 closed

[2018-06-27 06:51] PieterGit commented on #3604
@rhdtv2002 @TylerMitchell1 can you be more specific about which error you get?
I don't have Azure, so can't help you with that.

[2018-06-27 06:57] PieterGit commented on #3623
@someoneAnyone Yes, we are supporting this project. But we are all volunteers.  Did you try this with the `dev` branch?  You mean this used to work with Habanero Yellow (0.10.1) release?

Could you try to create a PR for Nightscout dev to get this issue fixed? If you need help please let use know, or join https://gitter.im/nightscout/public

[2018-06-27 07:08] PieterGit commented on #3635
@fromorbonia I don't fully understand your feature request. If reporting in `daytoday.js` always uses the current profile instead of the profile of that reported day I would classify that as a bug and not a feature. Feel free to start a PR and we will help you and review it to be able to merge it to a coming release. Start with the `dev` branch, because that will be the next version. If you have q

[2018-06-27 07:10] PieterGit commented on #3604
If this is blocking Azure deployments it needs to be fixed in 0.10.3 release.

[2018-06-27 07:17] PieterGit commented on #3474
@andyrozman @triplem and @jamorham this indeed seems like a good new features. Now all we need is people that start working on implementing it for Nightscout and create a PR. We recently added activity endpoints to Nightscout and I don't mind additional endpoints for proper Ketone support in Nightscout. I don't have Ketone readers so can't help you with the implementation. Any volunteers? If you n

[2018-06-27 17:54] PieterGit commented on #3551
@atjt001 can you give more details? this happened on Heroku? With what version? Was the problem reproducible? Setting this for 0.11 release, but the issue can only be examined if you provide more information.

[2018-06-27 17:57] PieterGit commented on #3535
@eugman thanks for the report.

This warning can be ignored. It's caused by a dependency. Setting this to milestone for the next release (0.11). We should not only fix these warnings, but also make sure that all dependencies are published on npm repository.

[2018-06-27 18:02] PieterGit commented on #3022
@dhermanns and @winni67  Setting this to 0.11.0 milestone. I think we should first make sure basic Alexa works and is properly documented, see e.g. https://github.com/nightscout/cgm-remote-monitor/pull/3632 for Alexa work that is planned for the upcoming 0.10.3 release.

I don't have Alexa so I can't help with this PR/issue.

[2018-06-27 18:42] PieterGit commented on #3504
@jaylagorio `fsevents` and `chokidar` are required for `forever`. This is only used in the Procfile for Heroku and I think it can be removed. I started a PR but that needs more work (help wanted), see
https://github.com/nightscout/cgm-remote-monitor/pull/3641
If you are lucky we can include this in the 0.10.3 release but I'm not sure if it's that easy.

I'm closing this issue, and we should contin

[2018-06-27 18:42] #3504 closed

[2018-06-27 18:47] PieterGit commented on #3560
@brutevinch sorry for not responding earlier. Did you manage to get this issue resolved? We're about to release a 0.10.3 release. Can you try to see if this problem is reproducible with the `dev` branch? If you have questions, please respond or join https://gitter.im/nightscout/public

[2018-06-27 18:49] PieterGit commented on #3567
@sulkaharo can you answer @mpangburn question? Setting this to 0.10.3 milestone to make sure we triage this issue.

[2018-06-27 18:52] PieterGit commented on #3558
@learn2laugh would you like to try to contact these companies? Maybe they are willing to give a free license the open source project Nightscout. I'm affraid they won't but we might give it a try. Settting this to 0.11 milestone, but of course before implemting this we should know about the legal implications.

[2018-06-27 18:55] PieterGit commented on #3599
@sbalmer This isn't a Nightscout issue, but Glimp should support Nightscout token based authentication. Closing this issue. Can you inform the Glimp developers of your feature request?

[2018-06-27 18:55] #3599 closed

[2018-06-27 18:58] PieterGit commented on #3603
Do the problems occur with all major browsers (Chrome, Firefox, Safari). Do you see errosr in the Javascript console somehow.

[2018-06-27 19:03] PieterGit commented on #3605
@typ1-brods setting this as a possible enhancement for the 0.11 release.
Since @sulkaharo likes this idea I assign it to him 😄

[2018-06-27 19:03] fromorbonia commented on #3635
@PieterGit - that is a brilliant summary. I was mixing up the point with questions around what people had intended with the code. It's all too easy to try and 'fix' a problem in the wrong place. Will join jitter.

[2018-06-27 19:28] PieterGit commented on #3635
@fromorbonia Good luck. Please split bugs and enhancements in separate PR's / issues.

[2018-06-27 23:30] jaylagorio commented on #3504
Glad to see you have changes in the queue. Let me pull that branch this weekend and run through my setup steps to see how they work. Thanks!

[2018-06-28 06:55] MilosKozak commented on #3567
agree. include it in status would be helpfull

[2018-06-28 15:37] someoneAnyone commented on #3623
Volunteer, here too. Trying to keep [Nightscouter](https://github.com/someoneAnyone/Nightscouter) working. FYI - I'm looking for [help](https://github.com/someoneAnyone/Nightscouter/issues) too! ;-)

I'm seeing the issue in 0.10.2-release-20171201 but not 0.10.0-release-20170922
I just built  0.10.3-dev-20180624 and thankfully I think it is resolved.

[2018-06-28 15:38] someoneAnyone commented on #3623
This is how I ended up solving it in the client app. https://github.com/someoneAnyone/Nightscouter/commit/c79365f3a0f4854868261df542a5b03df5d59a10

[2018-06-29 05:14] PieterGit commented on #3567
@MilosKozak thanks for having a look. Is this something we can do quickly before the 0.10.3 release? Or should we postpone it to 0.11 release? I don't understand what you and @mpangburn want to do to the profile API, so can't help out on this issue.

[2018-07-02 07:00] 2flea opened #3659 ""Day to day" Report does not show requested days and is stuck in "Rendering""
![image](https://user-images.githubusercontent.com/38214111/42149074-f92077dc-7dd4-11e8-81a6-df116dc98c2b.png)

Since some days I cannot run the "day to day" reports any longer for a date range. It does not show all days requested but stops in "Rendering" status. Screenshot is for last 2 days but this happens also for last week or last 2 weeks. All days except the last or last two are rendered and

[2018-07-02 08:00] tim2000s opened #3660 "Glucose distribution data in Dev is reporting incorrectly."
Running latest Dev branch, the values for  Mean Total Daily Change and Mean Hourly Change are coming back with incorrect values as in the screenshot. This is running in Chrome on both Windows and iOS.
![c0e73801-dec0-4d3c-a52a-3f7fd6f0c711](https://user-images.githubusercontent.com/14833174/42151871-4d4f6498-7dd6-11e8-991c-c20b715db04d.jpeg)

[2018-07-02 10:37] 2flea commented on #3659
Seems to be related with profile switches. I switched on 29.06. and on 01.07. and if one of these days is in the report range this issue occurs.

[2018-07-02 17:40] sulkaharo commented on #3660
This is a bizarre problem, none of the code that does the calculation has changed

[2018-07-04 23:11] norbertgaal opened #3666 "Wrong sort order"
In the dev branch the sort order has changed:

This is the output of /api/v1/entries/sgv.json?count=6 using the **master** branch:

[code]

And this is the output of the same command using the current **dev** branch. As you can see the order of the items have changed. All of the env variables and the mongodb behind it is the same:

[code]

Link to the Gitter conversation with @PieterGit [https://g

[2018-07-05 09:20] dideldum opened #3668 "mLab updates MongoDB from 3.4 to 3.6, all Heroku installations using master branch won't fulfil the requirements"
I received an email from mLab, that from Jul 20th on they will update the MongoDB of the Heroku sandboxes from 3.4 to 3.6.
A requirement for MongoDB 3.6 in node.js is the mongodb driver version >= 3.0
In the Nightscout master branch the driver version is only ^2.2.33, which means, that all people with master branch will not fulfil the requirements for the mLab update soon.
I fear, that the Nightsc

[2018-07-07 13:45] Cloclo51 commented on #3520
Hello,
I have the same problem. Did you find an solution?

[2018-07-07 15:13] PieterGit commented on #3666
Summary of Gitter chat:
- tested with current dev branch (up and including https://github.com/nightscout/cgm-remote-monitor/pull/3661 )
- master works, so it's a regression
- reverting to Jun 9, https://github.com/PieterGit/cgm-remote-monitor/tree/201807_revert3 did not fix the problem

[2018-07-07 16:02] sulkaharo commented on #3666
TESTING: bfce345 from April 3 exhibits the issue, 93968f3 doesn't

[2018-07-08 00:07] PieterGit commented on #3666
Started upgrading sgvdata. Node 8 almost seems ready (1 failing MQTT test), but Node 10 has 3 failing tests all to do with sgv data. See https://github.com/bewest/sgvdata/pull/3 and https://github.com/nightscout/cgm-remote-monitor/pull/3671

Help wanted to solve these nasty issues...

[2018-07-08 04:45] sulkaharo commented on #3666
This diff should contain the answer. I have the exact same code running, where when this diff is applied to npm-shrinkwrap.json, the sorting breaks
[code]

[2018-07-08 11:58] sulkaharo commented on #3666
Fixed in latest dev by #3670

[2018-07-08 11:58] #3666 closed

[2018-07-08 11:59] sulkaharo commented on #3660
Fixed

[2018-07-08 11:59] #3660 closed

[2018-07-08 12:01] sulkaharo commented on #3659
Can you retry with latest test please?

[2018-07-08 14:46] Kitekater commented on #3076
Im not the Linux crack.
Have same Problems.
How must i do this wich the chown command on the npm folder?

[2018-07-08 16:44] sulkaharo commented on #3560
Looks like this was resolved in Gitter, closing

[2018-07-08 16:44] #3560 closed

[2018-07-08 16:46] sulkaharo commented on #3567
Given the AAPS profile switch event support, I have no idea how to fetch the active profile in a simple manner; the code in question looks like it needs refactoring. @MilosKozak ?

[2018-07-08 18:54] 2flea commented on #3659
Tried latest dev branch without success.

<img width="299" alt="screenshot 2018-07-08 20 52 16" src="https://user-images.githubusercontent.com/38214111/42422950-09069674-82f1-11e8-9ee2-2f91df28dad6.png">
<img width="449" alt="screenshot 2018-07-08 20 52 35" src="https://user-images.githubusercontent.com/38214111/42422951-0923c9c4-82f1-11e8-9bc1-a1291334c26f.png">

[2018-07-08 20:16] PieterGit commented on #3604
Closing this issue. Current dev must be deployed with Azure and see if that works.

[2018-07-08 20:16] #3604 closed

[2018-07-08 20:36] PieterGit commented on #3659
@2flea can you tell me which Node version you are using and what kind of hosting (Azure, Heroku, Self hosted, etc.)

[2018-07-08 20:37] PieterGit commented on #3659
Tagging this for 0.10.3 version, but because this will be released soon, this might not make it in time.

[2018-07-08 22:01] PieterGit commented on #3504
I seem to be able to use Nightscout under Windows with https://github.com/nightscout/cgm-remote-monitor/pull/3675
Since I don't use Nightscout under Windows I haven't done a lot of testing, but all testcases pass and I am able to start Nightscout and  open it in a browser without problems

[2018-07-08 23:45] jaylagorio commented on #3504
Confirming that I can deploy and start Nightscout then load it in a browser with #3675!

[2018-07-09 05:38] PieterGit commented on #3623
So it's a regression from 0.10.0-release-20170922 to  0.10.2-release-20171201. The `dev` branch will soon be merged as a new master and a 0.10.3 release.
@someoneAnyone can you confirm that nothing needs to be done in the `dev` branch, for this issue? In that case I close it because it will be fixed in the 0.10.3 release.

[2018-07-09 11:37] 2flea commented on #3659
Heroku hosting:
~/node_modules $ npm version
{ Nightscout: '0.10.2-release-20171201',
  npm: '5.3.0',
  ares: '1.10.1-DEV',
  cldr: '31.0.1',
  http_parser: '2.7.0',
  icu: '59.1',
  modules: '57',
  nghttp2: '1.25.0',
  **node: '8.9.4',**
  openssl: '1.0.2n',
  tz: '2017b',
  unicode: '9.0',
  uv: '1.15.0',
  v8: '6.1.534.50',
  zlib: '1.2.11' }

[2018-07-09 11:48] sulkaharo commented on #3659
If the process gets stuck on Rendering, that should mean the client has successfully loaded all the data and gets stuck on some data issue. Can you open the Javascript console on your browser when you get this, and see if there's errors logged?

[2018-07-09 11:53] 2flea commented on #3659
There is the following error displayed from "profilefunctions.js" line 266

![image](https://user-images.githubusercontent.com/38214111/42448902-1976bb0e-837f-11e8-89f2-70a33901dfe4.png)

On 01.07. I did a profile switch, if I include this day I get the above problem/error, if I exclude it no problem with the displaying.

[2018-07-09 15:04] JoseeT1Bionique opened #3676 "COB pill disappeared from my NS last week"
I have searched... I've read there's been trouble with it a while back, but I've found no solution as of yet.
My COB pill disappeared from my NS last week. See pictures before /after
It is "Enable" in Heroku, as it's been for months. See picture
It is selected IN my NS menu. See picture
I have disable/save, then enable/save & restarted All Dynos twice.
Any idea on how to fix this or trouble shooti

[2018-07-10 03:44] scottleibrand opened #3679 "jquery.tooltips.css changes tooltip font from 14px to 10px"
With commit bd1db6e2b57f830a83c46e88b14eff9d2d3e64e5's switch from jquery.tipsy to jquery.tooltips, we inherited node_modules/jquery.tooltips/css/jquery.tooltips.css, which overrides our tooltips with:
[code]
The font size change in particular is problematic, as it makes the tooltips nearly impossible to read without squinting.  As a workaround, I changed my local copy of node_modules/jquery.toolt

[2018-07-10 04:46] sulkaharo commented on #3679
Woot Scott which tool did you use to find which css file had be 10px definition? Chrome didn’t show the jquery file when I tried to debug this over the weekend

[2018-07-10 06:12] scottleibrand commented on #3679
I saw the 10px override in the Elements tab of Chrome Dev tools, on the right bar under Styles, the second section had the text I pasted above.  I confirmed that was the problem by unchecking the override there, and confirming that changed the font size I was interested in.  I then ended up doing a `grep -r 'opacity: 0.9'` to find out what file that was from.

[2018-07-10 14:06] sulkaharo commented on #3679
Fix pushed to dev

[2018-07-10 14:19] typ1-brods commented on #3605
Maybe you can add average bolus and average basal of last 30 days as well. This information will make it easy to check the basal scheme :-)

[2018-07-10 18:03] PieterGit commented on #3679
Nice catch @scottleibrand @sulkaharo . Sorry for the regression.

[2018-07-10 20:57] PieterGit commented on #3623
@someoneAnyone Closing this issue, as this issue seems resolved in the 0.10.3 release. Please reopen if I'm not right.

[2018-07-10 20:57] #3623 closed

[2018-07-10 21:24] PieterGit opened #3682 "speech plugin is always enabled on dev"
Without adding `speech` to `ENABLE` I get speech messages with current dev.

I think it's caused by these lines:
https://github.com/nightscout/cgm-remote-monitor/blob/43e9301ac29a93aad83c702c61c547e5f85590a3/lib/client/index.js#L600

I think the server settings must be checked whether the `speech` plugin is enabled.

[2018-07-10 21:35] PieterGit commented on #3577
@Dave2526 Could you test https://github.com/nightscout/cgm-remote-monitor/pull/3683
I think that should solve the problem in a better way. If your quick it will be released with 0.10.3, otherwise we need to postpone it.

[2018-07-11 05:40] PieterGit commented on #3520
@Cloclo51 and @mdomox Can you check if this is reproducible with the `dev` branch? We're about to release 0.10.3 release.

[2018-07-11 05:58] Cloclo51 commented on #3520
Hello Pieter

Thank you for your answer. I’m quite new with nightscout. I try to understand how in works…..

I now changed in github from “master” to “dev”. The result is the same. I also started debug. Maybe you see something….

https://i.gyazo.com/dcbd23f067e808c079c218c96833c9d8.png

Thank you for your help….

Regards

Claude

Von: PieterGit [mailto:notifications@github.com]
Gesendet: Mittwoch,

[2018-07-11 06:29] PieterGit commented on #2093
@sulkaharo fixed this with https://github.com/nightscout/cgm-remote-monitor/pull/3670
I can confirm that it works. This will be released with Nightscout 0.10.3 release.

@ELUTE : please give latest `dev` branch a try to help testing this next Nightscout release.

[2018-07-11 06:29] #2093 closed

[2018-07-11 06:31] sulkaharo commented on #2093
Let’s create a separate ticket for configurability

[2018-07-11 21:32] PieterGit commented on #3682
temporary fix added to dev. this will disable the complete plugin until @sulkaharo has had the time to add the proper code to only execute it when the plugin is enabled.

[2018-07-11 21:56] #3679 closed

[2018-07-12 05:32] sulkaharo commented on #3682
Did it speak out even if you checked off the box in the client settings?

[2018-07-12 05:44] Dave2526 commented on #3577
Sorry, but at the moment I can't test it. Perhaps anyone else?

[2018-07-12 06:17] PieterGit commented on #3682
@sulkaharo we didn't add `speech` to the `ENABLE` var and then it would speak it out on page load.
If I selected a Dutch anguage it spoke the English text with a dutch accent.
I could find a check box in the client settings (hamburger menu), even if I enable the `speech` plugin.
Are you sure you committed/pushed all the changes? 😄

[2018-07-12 13:00] thomasmenges opened #3688 "After using Glimp / MiaoMiao all entries in nightscout (MLAB entries are existing) reports aren't shown anymore."
I'm using Freestyle Libre (**Glimp**). The CGM-Information are automatically transfered to nightscout. (MLAB entries are existing).
Since yesterday I'm using **MiaoMiao** to get the CGM-information of freestyle libre automatically every 5 minutes.
Everything is working. Even in Nightscout the is shown correctly.
But if I'm starting any report for today or yesterday no result is  shown. No entries

[2018-07-12 19:25] thomasmenges commented on #3688
The reason, why some values aren't shown is found (I think).
When I'm using GLIMP without connection to MiaoMiao (the CGM Reader for freestyleLibre)  everything is transfered correctly to nightscout.
Do I use Glimp connected to MiaoMiao then the values are transfered to nightscout but these entries seem to be different like the "normal" ones.

But I'm still confused. On the overwiew of NS all valu

[2018-07-12 22:03] PieterGit commented on #3688
@thomasmenges Can you tell me which type of hosting (Azure, Heroku, self which OS), and what MongoDB version /hosting type you use.

Can you please check  if you're not hitting one of these issues:
- http://openaps.readthedocs.io/en/latest/docs/Troubleshooting/Rig-NS-communications-troubleshooting.html
- http://openaps.readthedocs.io/en/latest/docs/Troubleshooting/Rig-NS-communications-troubleshoo

[2018-07-12 22:58] PieterGit commented on #3520
@Cloclo51  or @mdomox
I managed to reproduce this. It seems to be caused by the fact that a `PUT` on
`/api/v1/food/ ` leads to a `500 (Internal Server Error)`. This is caused by `foodSubmit` call.

A server code 500 means there is something in the server log (also called console). In my case:

[code]

Can you indicate which version of Nihgtscout this used to work? I'm labelling this a bug/regressi

[2018-07-13 00:36] Cloclo51 commented on #3520
Hello Pieter

I use version 0.10.2. It ist he first time I use nigtscout so I cannot tell you if it would work with an older version.

When you can explain me how I can change to a lower version I will try to do it.

Regards

Claude

PS: Sorry for my English…..

Von: PieterGit [mailto:notifications@github.com]
Gesendet: Freitag, 13. Juli 2018 00:59
An: nightscout/cgm-remote-monitor
Cc: Cloclo51; M

[2018-07-13 05:11] PieterGit commented on #3520
@mdomox can you tell if you know a Nightscout version in which this worked?

@Cloclo51 i would not recommend installing an older version. I think this bug can be fixed quite soon, but I wasn't able to do it yesterday. Perhaps I can fix it this weekend.

Can you both confirm you see the same stacktrace in your console?

[2018-07-13 05:34] Cloclo51 commented on #3520
Hello Pieter

I see this:

Consol on the main page

Nightscout bundle ready bundle.source.js:34

Application got ready event client.js:9:2

Application appears to be online index.js:60

Authentication passed. hashauth.js:29

status isAuthenticated

Object { apisecret: "", storeapisecret: false, apisecrethash: "APISECRETHASHHERE", authenticated: true, initialized: true, init: init()

, verifyAuthen

[2018-07-13 08:59] thomasmenges commented on #3688
Hi Pieter,
I'm using heroku and mongoDB version 3.4.13.
I have checked the issues (interesting)  but nothing of this solved the problem.
I have now changed to XDrip+ and the problem is solved.
Ok, the problem is triggered by Glimp, but in my opinion if you see the BG curve in NS, the reports of NS should alhough show the entries correctly

[2018-07-13 08:59] thomasmenges commented on #3688
Hi Pieter,
I'm using heroku and mongoDB version 3.4.13.
I have checked the issues (interesting)  but nothing of this solved the problem.
I have now changed to XDrip+ and the problem is solved.
Ok, the problem is triggered by Glimp, but in my opinion if you see the BG curve in NS, the reports of NS should alhough show the entries correctly

[2018-07-13 19:27] PieterGit opened #3691 "Release notes for upcoming 0.10.3 release"
First start at changes from 0.10.2 to 0.10.3 release. Quite a list:

The last Habanero series release Purple (0.10.3) is here!

- New feature: `speech` plugin added.  Speech synthesis plugin. When enabled, speaks out the blood glucose values, IOB and alarms.
- New feature: `xdrip-js` plugin added. Integrated xDrip-js monitoring
- Nightscout now deals with mLab and other Mongo database outages bett

[2018-07-14 08:37] PieterGit commented on #3688
@thomasmenges I agree that if it shows up in the BG curve it should be visible in the reporting. Current Nightscout API does not have a strict validation of records.  Can you compare the xdrip records to the Glimp records and see if you can spot a difference?

I can't help fixing if I cannot reproduce it and have neither xdrip or Glimp.

[2018-07-14 18:08] jaylagorio commented on #3682
Can you also make this observe the `?mute=true` URL parameter so if that's set it doesn't talk?

[2018-07-14 19:44] thomasmenges commented on #3688
Yes I asked the GLIMP community. But an answer is missing.
How can I do the comparison of the GLIMP and Xdrip values?

Not the differences between GLIMP ans Xdrip is interesting but the GLIMP values with and without using MiaoMiao.
I tried to compare the values in MLAB but they seem to be identical ?? Do you have an idee, how I can check the differences ?

[2018-07-15 15:40] CMartin7s5 opened #3699 "Duplicated entries on screen"
Which device / browser version was used to reproduce the bug? Chrome Version 68.0.3440.59 (Build officiel) beta (64 bits)/Personnal computer  and Chrome 67.0.3396.87 on my mobile device (Xiaomi Redmi 4G)

 I am using Dev version of Nighscout, AndroidAPS and the latest version of XDrip. When I enter the carbs in APS calculator (and consequently receive insulin), from time to time, the information a

[2018-07-15 21:07] parapenT1sta commented on #3699
I also have the same "glitch".

[2018-07-15 21:17] jasoncalabrese commented on #3699
if you look at the treatment report do you see the duplicates?  Looks like a double upload

[2018-07-15 21:31] CMartin7s5 commented on #3699
Yes, indeed but how to prevent this please?
![capturetreatmentsns](https://user-images.githubusercontent.com/39925891/42738630-231d3568-8887-11e8-95f9-d5f583fdff1b.JPG)

[2018-07-15 21:33] jasoncalabrese commented on #3699
I think it's something with xDrip and AndroidAPS, may you have both uploading or something like that, check in those gitter channels, probably some setting to prevent this

[2018-07-15 21:35] CMartin7s5 commented on #3699
Thank you @jasoncalabrese

[2018-07-15 21:59] PieterGit commented on #3699
@CMartin7s5 if you can also reproduce it also with the master branch it points at xdrip or AndroidAPS.  Please update this issue if you find more information. I'm not using xdrip and cant reproduce it so can't help fix this issue.

[2018-07-16 04:57] learn2laugh commented on #3558
@pietergit and @jllmostert, I have attempted to make contact with the licensing department from the link on their website. I am awaiting a response. 

On 6/27/2018 2:54:38 PM, PieterGit <notifications@github.com> wrote:
@learn2laugh [https://github.com/learn2laugh] or @jllmostert [https://github.com/jllmostert] would you like to try to contact these companies? Maybe they are willing to give a free

[2018-07-16 19:36] CMartin7s5 commented on #3699
Solution has been given : "you can disable in xDrip under "settings, cloud upload, api-upload, extra options" the Option "treatment upload", then it will works fine again."

[2018-07-16 19:36] #3699 closed

[2018-07-16 22:25] #3682 closed, assigned to sulkaharo

[2018-07-18 09:57] quizzmaster commented on #3659
I'm using version **0.10.3-dev-20180708** getting the following error if a profile switch occured within a requested day:
`TypeError: e is undefined  bundle.js:16:684377`

[2018-07-19 19:01] PieterGit commented on #3512
Closing issue, because https://github.com/nightscout/cgm-remote-monitor/pull/3632 has been merge.
@veryfancy thanks for the doc update

[2018-07-19 19:01] #3512 closed

[2018-07-21 10:39] sulkaharo commented on #3688
Is the entry posted above one of the pieces of data that doesn't show up, or a working one?

[2018-07-21 11:56] thomasmenges commented on #3688
The entry postet above is an entry which isn't shown on the curve. But the problem is that all entries in MLAB looks like the one shown above regardless of whether using MiaoMiao or without MiaoMiao. (I don't know how I can see the complete information in the dataset of an MLAB Entry).

[2018-07-23 17:16] MarcDencker opened #3722 "help wanted profile questions"
we use the spike app with nightscout and have  a few questions as we are new to both:

how do I track lantus in my profile?
what is a good carb activity absorption rate
my son is a competive swimmer, I would love it to be possible to easily switch carb absorption rates (profiles?)

[2018-07-23 21:14] PieterGit commented on #3722
@MarcDencker Please use a Gitter channel or Facebook for questions like this instead of the issue tracker for bugs/features to Nightscout. I don't know a good place for the spike community.
For Nightscout questsions please use https://gitter.im/nightscout/public
For information about carb rates I would suggest https://gitter.im/nightscout/intend-to-bolus

Since I would like to help your, here's my

[2018-07-23 21:14] #3722 closed

[2018-07-24 15:36] ScheddyD opened #3723 "Deployment to Azure failed | REASON: Revert "Update language.js" (#3406)"
Hiya,

I'm new to the Nightscout setup and just yesterday finished my setup for mongodb, GitHub and Azure. When deploying to Azure it always fails at the same steps. I have tried restarting, redeploying, forked again into my depository, etc.

Today I tried setting up the App with Heroku instead of Azure, but there deployment also fails.
I am using Mozilla Firefox.

Here is a screenshot taken from

[2018-07-24 21:11] PieterGit commented on #3723
@ScheddyD can you give the `dev` branch a try. It's nearly ready to be released. I wonder if that fixes your Azure deployment problems. I don't use  Azure myself so can't help you a lot with it.

[2018-07-24 21:33] PieterGit commented on #3517
@francescaneri There is only support for Json files and MongoDB. Do you want to submit PR's to make it possible to use FoundationDB? Have a look at:
https://github.com/nightscout/cgm-remote-monitor/tree/dev/lib/storage

[2018-07-25 10:54] ScheddyD commented on #3723
@PieterGit trying the `dev` branch certainly got rid of the first problem. Deployment still failed, however now the REASON is "Merge pull request #3715 from herzogmedia/dev-langUpdateGER-180720 Update german Language files". I guess that's because `dev` branch might not yet be ready as you stated.

New activity log as follows:

Command: bash deploy.sh
Handling node.js deployment.
KuduSync.NET from

[2018-07-26 21:19] PieterGit commented on #3723
@ScheddyD thanks for the report. I fixed this and tested it in Azure. Please retry the `dev` branch and report your fnidings. Closing this issue, because I'm quite confident it's fixed for Azure now. Please reopen if the problem persists.

[2018-07-26 21:19] #3723 closed

[2018-07-26 21:30] PieterGit opened #3734 "share2nightbridge upgrade"
@h2oil reports an issue with share2nightbridge but doesn't give details. See
https://gitter.im/nightscout/public?at=5b59ded893395d1d964cea02

There may be two issues:

- dependencies of share2nightbridge  have been recently updated to fix a security issue. All tests pass, but I can't test share2nightbridge myself and confirm that it works

- https://github.com/nightscout/share2nightscout-bridge/tr

[2018-07-27 13:16] ScheddyD commented on #3723
Thank you! Unfortunately it's not quite working yet.

New activity log:
[...]
One CLI for webpack must be installed. These are recommended choices, delivered as separate packages:
 - webpack-cli (https://github.com/webpack/webpack-cli)
   The original webpack full-featured CLI.
 - webpack-command (https://github.com/webpack-contrib/webpack-command)
   A lightweight, opinionated webpack CLI.
We wil

[2018-07-28 04:47] d3xr commented on #2093
Is it work now? Temp target in mg/dl is terrible!

[2018-07-28 06:39] PieterGit commented on #3734
This turned out to be a non-issue:

@h2oil problems disappeared after a restart of the dynos, https://gitter.im/nightscout/public?at=5b5b4027db8bd24550b964af

@jasoncalabrese reported success, https://gitter.im/nightscout/public?at=5b5bfac7966e80395026081b

@alternateal reported success, https://gitter.im/nightscout/public?at=5b5bfb86d4527523f6384bac

Closing this issue. So the share2nightbridge i

[2018-07-28 06:39] #3734 closed

[2018-07-28 09:58] whooze commented on #3525
Still have this problem?

Have you checked the data to see if there really is any cgm data there?

[2018-07-28 10:18] sulkaharo commented on #3525
The red dots on the timeline are calibration events, not BG values. BGNow doesn’t show manual calibrations, only CGM data entries

[2018-07-28 23:06] PieterGit commented on #3525
@thomasmenges as per @sulkaharo comment this doesn't look like a bug. If you need help please elaborate, or ask for help at https://gitter.im/nightscout/public. Please let us know if you solved your problem with testing.

[2018-07-29 13:13] thomasmenges commented on #3525
Yes problem is solved yet. I thought that manual BGs are also shown. Now I know that only cgm values are shown.

[2018-07-29 13:43] #3525 closed

[2018-07-29 19:40] jaylagorio commented on #3691
Thanks for tagging me in this! It was the reminder I needed to update the documentation as promised. Lots of dependencies and installation steps were removed, this is much more streamlined now. Thank you!

[2018-07-29 20:03] brutevinch opened #3749 "Wrong device status"
i use only ONE samsung phone (androidaps) + xBridge Wixel.
i never use limitter.... it's xBridge battery status..
![2018-07-30 0 57 44](https://user-images.githubusercontent.com/12526597/43370199-43f2f8e6-9394-11e8-9dbf-abf9073a2fe7.png)

using dev branch nightscout

[2018-07-29 20:11] mdomox commented on #3520
@PieterGit , Sorry for my late reply. It worked up till the Habanero update. During Grilled Cheese it was working...

[2018-07-30 00:42] herzogmedia commented on #3691
Hi, Lukas Herzog and @herzogmedia is both me, so you can delete one of those.
Thanks for all your efforts!

[2018-07-30 07:39] PieterGit commented on #3749
@brutevinch The cause of the duplicate entries is probably around here https://github.com/nightscout/cgm-remote-monitor/blob/dev/lib/plugins/upbat.js#L123-L139
Can you check your MongoDB for device statuses that cause this problem? We can use these for creating a unit test that will prevent a duplicate entry.

Nightscout doesn't create the labels like `LimiiTTer`. That's done by the uploader, so y

[2018-07-30 07:43] mdomox commented on #3691
Did you notice tha after a while, app crashes ? I get the following in my logs.

2018-07-30T07:42:00.122509+00:00 heroku[router]: at=error code=H10 desc="App crashed"

[2018-07-30 07:48] PieterGit commented on #3691
@mdomox : is that with the most recent dev? Please lookup into your Heroku logs to find more info on why it crashes (e.g. by restarting the dynos). We've seen some crashes during this cycle, but don't have the start of the logging of those crashes. If you can find them, please create a issue.

[2018-07-30 07:50] mdomox commented on #3691
@PieterGit I am logged in to papertrail. Tell me what to search for in the logs.

[2018-07-30 07:59] mdomox opened #3750 "App crashes"
After a while (dev and 0.10.3 branch) crashes. What follows is an extract of the log.

Jul 30 00:27:37 maria-cgm app/web.1: GRANTED:  5.144.229.1 api-secret api:entries:read
Jul 30 00:27:37 maria-cgm app/web.1: GRANTED:  5.144.229.1 api-secret api:entries:create
Jul 30 00:27:37 maria-cgm app/web.1: got data-received event, requesting reload
Jul 30 00:27:37 maria-cgm app/web.1: If-Modified-Since: I

[2018-07-30 08:00] mdomox commented on #3691
@PieterGit , Voila

Jul 30 00:27:37 maria-cgm app/web.1: GRANTED:  5.144.229.1 api-secret api:entries:read
Jul 30 00:27:37 maria-cgm app/web.1: GRANTED:  5.144.229.1 api-secret api:entries:create
Jul 30 00:27:37 maria-cgm app/web.1: got data-received event, requesting reload
Jul 30 00:27:37 maria-cgm app/web.1: If-Modified-Since: Invalid Date Last-Modified 2018-07-30T07:03:07.461Z
Jul 30 00:27:37

[2018-07-30 08:07] mdomox commented on #3691
@PieterGit . Restarted and crashed again.

Jul 30 01:02:37 maria-cgm app/web.1:      openaps: { suggested: [Object], iob: [Object] },
Jul 30 01:02:37 maria-cgm app/web.1:      uploaderBattery: 92,
Jul 30 01:02:37 maria-cgm app/web.1:      created_at: '2018-07-27T09:25:33Z',
Jul 30 01:02:37 maria-cgm app/web.1:      NSCLIENT_ID: 1532683533945 } }
Jul 30 01:02:37 maria-cgm app/web.1: /app/node_modul

[2018-07-30 08:22] mdomox commented on #3691
@PieterGit All the above happens with dev and 0.10.3 branch. Loaded master and it has not happend so far...

[2018-07-30 08:40] sulkaharo commented on #3750
Ok that's a weird one - the ops parameter is null only if the API failed to insert a document into the device status collection in Mongo. Given there's no error handling for that, I don't think we've basically ever seen that before. What apps do you have that are reporting the device status data?

[2018-07-30 08:44] mdomox commented on #3750
@sulkaharo , AndroidAPS . BG data are uploaded by xDrip+

[2018-07-30 08:45] mdomox commented on #3750
@sulkaharo It happens only with dev and 0.10.3 branch. Loaded master branch and it has not crashed so far.

[2018-07-30 08:51] sulkaharo commented on #3750
@mdomox Can you pull https://github.com/nightscout/cgm-remote-monitor/pull/3751 and see what the logged error is

[2018-07-30 09:03] mdomox commented on #3750
@sulkaharo Died again

ul 30 02:00:58 maria-cgm heroku/router: at=info method=GET path="/socket.io/?EIO=3&transport=polling&t=MJgQqxM&sid=OtodDoxPfyGCKo67AAAA" host=maria-cgm.herokuapp.com request_id=ef9aad93-dba9-4da1-903a-2b1fe032773f fwd="87.203.121.205" dyno=web.1 connect=0ms service=2ms status=200 bytes=301 protocol=https
Jul 30 02:00:58 maria-cgm app/web.1: WS: Connection from client ID:  Bk

[2018-07-30 09:24] sulkaharo commented on #3750
"Error inserting the device status object quota exceeded" -> Your Mongo database is full and probably all inserts are failing

[2018-07-30 09:32] mdomox commented on #3750
Nevertheless, my mongo db was 350 out of 500MB. It did not reach its 500MB quota.
Now it is 290 MB.

[2018-07-30 11:18] sulkaharo commented on #3750
Can you try to repair the database as described in this link to see if the size goes down? https://www.google.fi/amp/s/davidburgos.blog/how-fix-quota-exceeded-mlab-mongolab/amp/

[2018-07-30 20:16] mdomox commented on #3750
Repaired the MongoDB. It eventually reduced the overall size by 100 MB and devicestatus collection now seems to grow in a reasonable rate.

[2018-08-01 06:09] mdomox commented on #3520
The isuue is within boluscalc.js in client.sbx.data.food . Used from last working version,instead and it works:

boluscalc.loadFoodDatabase = function loadFoodDatabase(event, callback) {
categories = [];
foodlist = [];
$.ajax('/api/v1/food/regular.json', {
headers: client.headers()
, success: function (records) {
records.forEach(function (r) {
foodlist.push(r);
if (r.category && !categories[r.cate

[2018-08-01 06:32] PieterGit commented on #3520
@mdomox good debugging!

I traced it to this commit:
https://github.com/nightscout/cgm-remote-monitor/commit/3457de5b7ebc52126e4d6acf06e6aca95b63db68#diff-9588707d0e165e8b2ba9014e1668b6e5

@MilosKozak can you help fix this regression?

[2018-08-01 06:45] PieterGit commented on #3668
@dideldum fortunately Nihgtscout 0.10.2 still works with mLab. This issue will be fixed with the upcoming 0.10.3 release. The mongo client has been upgraded in that release.

[2018-08-01 06:45] #3668 closed

[2018-08-01 06:48] PieterGit commented on #3551
@atjt001 closing this issue due to a month inactivity and no details

[2018-08-01 06:48] #3551 closed

[2018-08-01 06:51] PieterGit commented on #3353
@waltsteinchen and @oleksandrg we've done quite some Azure fixes with the upcoming 0.10.3 release. Can you confirm that this issue has been resolved. Closing this issue for now. Feel free to reopen it if it persists.

[2018-08-01 06:51] #3353 closed

[2018-08-01 06:54] PieterGit commented on #3107
Current Azure has 8.9.1 and should work. Please also use the upcoming 0.10.3 release (dev branch), because that got several Azure fixes. Fixing this issue.

[2018-08-01 06:54] #3107 closed

[2018-08-01 06:57] PieterGit commented on #2846
@hahaxj can you give an update to this issue. Without more information we cannot help you fix this issue. I'm closing this issue for now due inactivity. Feel free to reopen it if you have more information so that we can help you.

[2018-08-01 06:57] #2846 closed

[2018-08-01 07:01] PieterGit commented on #2523
@bharat and @BlakePetersen Can you create an issue or PR for this in the https://github.com/nightscout/share2nightscout-bridge/issues issue tracker? If there is a newer share2nightscout-bridge version we can include that in Nightscout. I'm closing this issue because of more than a year of inactivity. Please feel free to reopen it if there is more news.

[2018-08-01 07:01] #2523 closed

[2018-08-01 07:56] PieterGit commented on #3490
@sooperlooper Nightscout is responsible for viewing CGM/pump data, but I don't see it as the concern/responsibility of Nightscout to act on pump signals. That should be implemented by the pump drivers in the APS'es. Can you create an issue for it with https://github.com/openaps/oref0 and/or https://github.com/MilosKozak/AndroidAPS
Closing this issue for now. Please reopen if you think something ne

[2018-08-01 07:56] #3490 closed

[2018-08-01 10:25] Mackwe opened #3760 "[Enhancement] Ability to store APS settings in Nightscout"
One of the biggest problems a (Closed or Open) looper can face is the loss or damage of their APS device. A (Loop or AAPS) phone can be stolen, an OpenAPS rig can be lost etc. Not to mention when you finally found the optimal settings for xDrip. Wouldn't it be really nice if these devices could store a settings backup in Nightscout? So if the worst happens, you could just type in the NS site & API

[2018-08-01 12:08] trixing commented on #3760
I think this is a great idea.  Why wouldn't you store this in the existing profiles though?  Part of the APS settings are the correction factors, insulin type, etc after all.

[2018-08-01 12:12] Mackwe commented on #3760
Thanks!

To me profiles are already saved in NS. No need to save them again. And
separate them in order to save other apps' settings as well (xDrip an such).

// Marcus

Den ons 1 aug. 2018 14:09Jan <notifications@github.com> skrev:

[2018-08-01 13:30] mdomox commented on #3520
@PieterGit Till this is permanently fixed, why don't you revert this commit that caused this break in functionality?

[2018-08-01 21:48] PieterGit commented on #3520
@mdomox because I'm sure @MilosKozak had a goal with his change and several other things have changed since then. So going back is not always the best solution for fixing a problem. I'm pretty sure @MilosKozak will join this issue in a couple of days, and reverting stuff I don't understand can cause other issues that I'm unaware of.

[2018-08-01 22:34] djzeratul opened #3761 "CAGE resets to N/A after more than 8 days"
Let me preface this with a caveat... This is a strange bug, and difficult to report since "nobody is supposed to leave their sites in for longer than 5 days, right?!?" There's like a stigma behind doing so and I don't need to hear any more lectures about lipos or infection risk. Sometimes you just... have to do it. Maybe you didn't reorder supplies on time. Maybe you're hard up and hurting for can

[2018-08-02 10:06] trixing commented on #3761
This is due to the frontend only getting the last 8 days of history I believe. Try changing this line:

https://github.com/nightscout/cgm-remote-monitor/blob/881d3c6d4d42f1bb8fb156404ae1397514c156db/lib/data/dataloader.js#L149

[2018-08-02 15:13] tanja3981 commented on #3331
As PR is merged and closed this issue will also be closed.

[2018-08-02 15:13] #3331 closed

[2018-08-02 20:40] djzeratul commented on #3761
hey thanks @trixing this fixed the issue!

![image](https://user-images.githubusercontent.com/1778738/43609672-84ce399e-9659-11e8-9c17-b2855f309db9.png)

[2018-08-02 20:47] #3761 closed

[2018-08-02 23:46] PieterGit commented on #3520
@mdomox See my reaction on https://gitter.im/nightscout/public?at=5b632d926d45752f987d1cff

If you test the revert of the commit mentioned above, and test it, I think we can merge it to dev and perhaps we make it for the 0.10.3 release. I don't have time to test this regression and I don't know or use the food feature. Probably not many people use it, because your the first one to report that it's

[2018-08-03 07:46] MilosKozak commented on #3520
food has been added to sbx some time ago.so making another GET is wasting. i probably didn't it well . anyone looked where is the problem?

[2018-08-03 08:35] mdomox commented on #3520
@pieterGit In my dev branch I updated bolucalc with the old one and now importing from food database to bolulcalc works. Functionality has been restored. I believe that if the sbx issue is not resolved by 0.10.3 release, using the old boluscalc.js will result in a working version with no broken food functionality.

[2018-08-03 11:10] tremor opened #3767 "Heroku Database to big after 6 month usage?"
After using Nightscout with xDrip+ with Data from an Libre Freestyle and MiaoMiao Transmitter mLabs sends me and mail that my Size in Disk is over 496 MB. (Currently 1 GB) with over 384 MB in the entries collection. Compacting the database via the Webinterface from mLab does not help substainly.

How can I delete old entries (for example older then 4 Month) in the NightScout Webinterface?

I only

[2018-08-04 06:36] Cloclo51 commented on #3520
Hello mdomox,

can you help me to update boluscalc with an older version. As a newbie I have no idea what to do…. I have “version 0.10.3-dev-20180624“

Regards

Cloclo

Von: mdomox [mailto:notifications@github.com]
Gesendet: Freitag, 3. August 2018 10:36
An: nightscout/cgm-remote-monitor
Cc: Claude Fracheboud; Mention
Betreff: Re: [nightscout/cgm-remote-monitor] Bolus Wizard & Food entries (#3520)

[2018-08-04 10:28] PieterGit commented on #3520
@mdomox @Cloclo51
I created a branch with the reverted `boluscalc.js` file. See https://github.com/PieterGit/cgm-remote-monitor/tree/201808_food_3520  .  If you deploy that branch, you have the files.
All unit test pass with this branch.

Unfortunately I see some problems when I browse to `/food `
- It doesn't work
- I see a `Status: Error` at the top
- I still see `/api/v1/food/ 500 (Internal Ser

[2018-08-04 11:58] PieterGit commented on #3520
@mdomox @Cloclo51
I found a much better fix, see https://github.com/nightscout/cgm-remote-monitor/pull/3768 or use
https://github.com/PieterGit/cgm-remote-monitor/tree/201808_food2

This fixes the problem with the Object generation and fixes the problem for me. I can add foods (remove ID) and edit foods (click on line and edit it). Can you please test this fix and see if this fixes your problems?

[2018-08-04 18:53] mdomox commented on #3520
@PieterGit tested food2 branch. No issues! Works great

[2018-08-05 06:37] khind commented on #3767
Maybe with "Studio 3T" for the MongoDB.

[2018-08-05 09:47] #3691 closed

[2018-08-05 09:58] PieterGit commented on #3659
Can you retry with the 0.10.3 release. We didn't make it fixing this for the 0.10.3 release. Let's see if we can fix this with Nightscout 0.11

[2018-08-05 10:00] PieterGit commented on #3567
Didn't make 0.10.3. Let's look into this issue for Nihgtscout 0.11 release. @MilosKozak  can you share your thoughts on this issue?

[2018-08-05 10:00] PieterGit commented on #3520
Fixed with https://github.com/nightscout/cgm-remote-monitor/pull/3768
Closing issue.

[2018-08-05 10:00] #3520 closed

[2018-08-05 11:28] PieterGit commented on #3767
@tremor About cleaning your Mongodb database:
@jpcunningh has prepared a PR for this, see https://github.com/nightscout/cgm-remote-monitor/issues/3767 for the upcoming 0.11 release. Can you please test that PR and report your findings there?

The procedure is also documented with the OpenAPS/oref0 community here, see
https://openaps.readthedocs.io/en/latest/docs/Troubleshooting/Rig-NS-communicatio

[2018-08-05 11:51] 2flea commented on #3659
Master 0.10.3 did not fix it. I tried 0.10.3 dev before also without success.

[2018-08-06 17:00] unsoluble opened #3784 "NS fails to load under iOS 9.3.5 or earlier"
Looks like maybe a problem in the Node bundle, but I'm not familiar enough with that stack to suggest anything else. Error being caught by the console is here:

![screen shot 2018-08-06 at 9 55 11 am](https://user-images.githubusercontent.com/801582/43730142-39682f06-995f-11e8-98c5-ddf3a921bdd3.png)
This failure appears to occur on everything prior to and including iOS 9.3.5. Same sites run fine u

[2018-08-06 20:58] PieterGit commented on #3784
@redcyclist1 also reports this for Ipad3, see https://gitter.im/nightscout/public?at=5b687b46e8698a2dca165f55

[2018-08-06 21:45] PieterGit commented on #3784
@unsoluble @RedCyclist1 note that older apple devices don't have security updates and
therefore your personal details aren't completely safe/secure. I think we should warn people
with older browsers/devices and we can't keep support for older devices indefinitely.

I did some research for you. I think this is caused by these dependencies:
[code]

The javascripts comes from the `buffer` package. Th

[2018-08-07 07:11] 2flea opened #3792 "[0.10.3_master] Copy profile leads to "PayloadTooLargeError""
Just copied my current profile in profile editor and modified some basal values. Tried to save and got "Error" response telling me:
2018-08-06T15:48:49.929827+00:00 app[web.1]: PayloadTooLargeError: too many parameters
2018-08-06T15:48:49.929838+00:00 app[web.1]: at queryparse (/app/node_modules/body-parser/lib/types/urlencoded.js:151:13)
2018-08-06T15:48:49.929840+00:00 app[web.1]: at parse (/app

[2018-08-07 10:16] volkerrichert commented on #3760
I also thinking about a good place to save APP configs (600Uploader) outside the app to easily restore them. NS could be a good place.

[2018-08-07 23:30] PieterGit commented on #3784
@unsoluble @redcyclist1 can you give https://github.com/nightscout/cgm-remote-monitor/pull/3806 a try? I tested it on iphone 4s and it works, but I'm not sure reverting to webpack 3 is a good idea.

So it seems to be a webpack problem we're hitting, because
[code]
works on ios 9.

[2018-08-08 08:49] unsoluble commented on #3784
Works for me on a 9.3.5 device.

I'm still hoping someone can determine whether or not the entire bundle.js is actually required for clock views. Paring that down would be a fair solution that allows for keeping up with the webpack advances but also lets the simple displays run on older hardware.

[2018-08-11 13:56] razor459 commented on #3603
v0.10.3 in Safari on MacOS
It appears the issue is that it does not display the updated data. Clearing the cache and refreshing the page shows that the edit succeeded.

Problem also exist when editing Treatments via Report in Nightscout and NIghtscout X iOS apps

[2018-08-12 16:24] herzogmedia opened #3832 "Clock view ignores Time format"
The Clock view (bgclock.html) does not show the current time in the 24 hour date format, even when it is selected in the preferences.

Is this a new bug with the latest release, have you seen this earlier?
was also there in 0.10.2

Which device / browser version was used to reproduce the bug?
Firefox 61.0.2 on Win10

Does this happen every time you launch Nightscout, or sometimes?
happens always ;

[2018-08-14 13:36] renegadeandy opened #3836 "Nightscout crashes on startup"
Version information:

Linux 4.4.0-93-generic
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "start"
npm ERR! node v6.11.3
npm ERR! npm  v3.10.10
npm ERR! code ELIFECYCLE
npm ERR! Nightscout@0.10.3-master-20180805 start: `node server.js`

I have just run `npm install`, which finished successfully.

When I run `npm start` I get the following output:

[code]
This is the content of npm-debug

[2018-08-14 13:38] sulkaharo commented on #3836
Nightscout requires Node 8 and a newer NPM version. You’re probably self-hosting? Try upgrading both and it should work.

[2018-08-14 15:08] RayAmsterdam opened #3838 "Not possible to update"
After updating my NS repository on Github to the latest version (v0.10.3) and restarting the dynos on Heroku, the app still stays on v0.10.2. Checking again for updates says I am up to date.
What can I do to effectuate the update?
![github update](https://user-images.githubusercontent.com/32841814/44100061-61eea938-9fe4-11e8-9152-3f28980e6b16.PNG)
![ns version](https://user-images.githubuserconten

[2018-08-14 18:11] viderehh commented on #3838
please clear your browser cache and try again

[2018-08-14 19:09] RayAmsterdam commented on #3838
Thanks viderehh. Unfortunately that doesn't help.

[2018-08-14 19:17] sulkaharo commented on #3838
Did you deploy the site in Heroku after updating the branch in Github?

[2018-08-14 19:17] viderehh commented on #3838
did you deploy it on heroku? i think you miss this part !?
please check your app activity > something with build ....
if not, you can deploy it manual or set it to automatic deploy.

[2018-08-15 06:11] RayAmsterdam commented on #3838
I indeed forgot to deploy.
Thanks!

[2018-08-20 22:54] PieterGit opened #3848 "editing or deleting treatments does not work with 0.10.3 and Chrome"
page `/reports`, tab `treatments`:  When I edit or delete I see the following in the console.

![image](https://user-images.githubusercontent.com/6500826/44370842-5b84f280-a4dc-11e8-8207-3bed3f8efe67.png)

The link redirects to https://www.chromium.org/developers/design-documents/create-amazing-password-forms
and on that page it's listed that `<input>`  should be in a `<form>`.

I also saw a save

[2018-08-21 01:38] loztblaz opened #3849 "Medtronic pumps report reservoir changes as site changes, NS doesn't report actual site changes."
I'm using a 670g pump, and upload through pazaan's 600 series uploader, via OTG USB cable connected to a Contour Next Link 2.4. NS version is 0.10.3-master-20180805, and this issue has existed in all previous versions of NS I've used.

When the reservoir is changed, the MongoDB entry is:

    "created_at": "2018-08-20T09:56:14-05:00",
    "eventType": "Site Change",
    "key600": "MISC80936B0E",

[2018-08-21 19:48] parapenT1sta opened #3852 "To get the stats of today I need to put the day of tomorrow"
Is this normal? What Do I need to do to fix it?

![image](https://user-images.githubusercontent.com/608650/44425243-30a1a980-a583-11e8-9a42-5e9172816671.png)

[2018-08-21 21:36] MilosKozak commented on #3852
wrong timezone in profile

[2018-08-21 21:36] #3852 closed

[2018-08-21 21:52] parapenT1sta commented on #3852
@MilosKozak Where Can I setup the timezone? I just can't find it :( Sorry

[2018-08-23 12:26] thomasmenges opened #3859 "[Enhancement] Show actual bolus and tempbasal concurrent as value"
I'm looping with my pump and Tempbasals  are shown above the curve. It would be very helpful to show concurrent  the actual bolus stored in the NS Profil for that time and the TBasal.

see
![image](https://user-images.githubusercontent.com/37514390/44525179-6d36e780-a6e0-11e8-9abd-9ff4ed86550b.png)

[2018-08-25 10:11] PieterGit commented on #3838
Closing issue. User @RayAmsterdam forgot to deploy.  Good luck with 0.10.3.

[2018-08-25 10:11] #3838 closed

[2018-08-25 10:13] PieterGit commented on #3836
Closing issue. Node 6 is not supported. Please upgrade Node and Npm. See instructions if
https://github.com/nightscout/cgm-remote-monitor/#install

If you have more problems please reopen or ask for help at https://gitter.im/nightscout/public

[2018-08-25 10:13] #3836 closed

[2018-08-25 13:02] PieterGit commented on #3784
Closing issue.  @sulkaharo created a better fix than https://github.com/nightscout/cgm-remote-monitor/pull/3806 . See https://github.com/nightscout/cgm-remote-monitor/commit/ca3f5186742341559fd87326d5e57a7bbbb52568

[2018-08-25 13:02] #3784 closed

[2018-08-26 17:23] briandlucas opened #3867 "Day of Week & Date Mismatch on Reports"
**Is this a new bug with the latest release, have you seen this earlier?**
only version I've worked with - new user/install

**Which device / browser version was used to reproduce the bug?**
Firefox, Safari (iOS)
Firefox (Ubuntu)
Firefox (Win)

**Does this happen every time you launch Nightscout, or sometimes?**
every time

Steps how to reproduce (if you can’t reproduce the issue, please don’t rep

[2018-08-26 17:41] briandlucas opened #3868 "Enhancement - API access to reports"
looking for means to programmatically download reports, specifically daily stats report.  one better, scheduled report export with email functionality.

i know there is an API but looking for nicely formatted with charts, etc.

[2018-08-26 18:43] PieterGit commented on #3868
@briandlucas what format do you want those reports in? html or excel?
Are you able to work on creating pull requests for this?
We can help you get acquainted with the Nightscout codebase, but you must learn or know how to program nodejs/javascript .

[2018-08-26 18:53] PieterGit commented on #3867
@briandlucas what node version are you using?

[2018-08-26 23:45] briandlucas commented on #3868
Short answer is probably, given enough time

Longer answer is I’m a reformed software architect that likes to tinker. Wrote my first JavaScript 20 years ago and so much has changed. I have written a few node apps that run internally as helper apps and for home automation integration. Basic stuff and nothing fit for production.

How do I get a feel for the magnitude / scale of effort? Not even sure

[2018-08-27 07:27] PieterGit commented on #3868
@briandlucas well, please contribute, and we'll help you if you get stuck and we'll review your PR and make sure it's fit for production. First steps is use an IDE (e.g. Webstorm) or just a plain editor (Notepad++ or VI or whatever) and begin with cloning https://github.com/nightscout/cgm-remote-monitor/tree/dev (use `dev` branch for new developments) and use the `make` for running test unit tests

[2018-08-28 13:27] TheDiabeticWay commented on #3474
this would be very helpful if we can add it to nightscout!

[2018-09-02 21:47] bert1973 opened #3895 "Target BG settings are not intuitive"
Hi
As I'm new to Nightscout, doing a deploy to Heroku was a bit of a challenge.
You have to fill a lot of options before you are able to do a deploy.

Something I overlooked was the warning:  'Must be set in mg/dL (multiply with 18 if you have a value in mmol/L) for BG_HIGH/ BG_TARGET_TOP/ BG_TARGET_BOTTOM/ BG_LOW", resulting in reports with a very small green target rectangle.

As there's a lot o

[2018-09-08 12:17] BOC14 opened #3904 "OpenAPS Plugin, predBGs causing display issue"
Having recently got my loop running via OpenAPS I'm noticing a negative impact on NS. When predBGs is populated (specifically within the 'enacted' attribute), it is screwing up the alignment of everything on NS.

I'm a relatively new user, so can't confirm if this is a long time issue or not, though I couldn't find any relevant issue.

This is an example of the devicestatus record causing the issu

[2018-09-12 16:21] quizzmaster opened #3919 "IAGE_URGENT is being ignored"
I started setting the variables for the warn/urgent levels of iage, cage and sage. For cage and sage everything works fine, but iage_urgent seem to be ignored totally.

Steps to reproduce:
Nothing special needed, even the standard value of IAGE_URGENT gets ignored and the text in the pill won't be displayed red if the insulin age is older.

The funny thing is, that I am not able to point out the f

[2018-09-12 16:58] cmcsynth opened #3921 "Dexcom G5 share sso authentication problem"
Hi thanks for your great work on this project
I'm using latest cgm-remote-monitor (Habanero Purple patch 0.10.3.1), deployed on Heroku.
Application works, but I'm not able to view data from Dexcom share.

I setted all parameters:
ENABLE: careportal basal bwp iob cob cage sage iage azurepush **bridge**
BRIDGE_SERVER: `EU`
BRIDGE_USER_NAME: `<myownusername>`
BRIDGE_PASSWORD: `<myownpassword>`

The c

[2018-09-13 11:18] BOC14 commented on #3904
Note I was able to work around the issue a bit by setting the SHOW_FORECAST variable to null (instead of openaps), but that obviously defeats the purpose of the data, and makes it look fairly similar to manually removing the predBGs

[2018-09-15 04:35] francescaneri commented on #3921
Enable: azurepush?

[2018-09-15 09:04] cmcsynth commented on #3921
Hi Francesca,
azurepush is enabled.
It doesn't work even without that parameter.

[2018-09-15 15:06] PieterGit commented on #3921
@cmcsynth did you have this same configuration with Habanero Red (0.10.2)?
See https://github.com/nightscout/cgm-remote-monitor/releases/tag/0.10.2

I made some security fixes to the share2nightbridge in 0.10.3 because of security issues, but others reported success: https://github.com/nightscout/cgm-remote-monitor/issues/3734

Can you see if the problem also exists with 0.10.2? If that works, we

[2018-09-15 15:53] unsoluble commented on #3921
0.10.3.1 bridge on EU here, no issues. I’d triple-check for typos, re-entering the auth fields from scratch. Also try changing your Dexcom password, then try again in NS with that.

[2018-09-16 14:11] briandlucas commented on #3867
just noticed time is off by 4 hours on the day to day report.  here in Florida, we are GMT-4 currently, so the 4 hour offset is clearly related.  However, server and client both report date/time/timezone correctly (see above for timdateclt output).

running console.log(new Date().toLocaleString()); in node gives me correct date/time:
2018-9-16 10:08:51

![screenshot_2018-09-16 97 -1](https://user-

[2018-09-16 20:10] briandlucas commented on #3867
i've been running nightscout inside pm2 process manager - ran above date/time code inside pm2 and do get same/correct local time.

[2018-09-17 07:16] cmcsynth commented on #3921
After changing password of Dexcom account It works like a charm.
thanks you for your great support

[2018-09-17 08:45] peterleimbach opened #3938 "color coding in "Weeekly Success" report varies for the same data if I select different timeframes (1 month, 3 month)!"
Please include the following information with your bug report:

Is this a new bug with the latest release, have you seen this earlier?
I have only seen it in version 0.10.3-master-20180805 but I have not really used the report in the last 9 month before.

Which device / browser version was used to reproduce the bug?
Mozilla Firefox 62.0, Safari actual version on iMac and iOS.

Does this happen eve

[2018-09-17 20:28] briandlucas commented on #3868
needs some guidance...

setup development env but have run into issues:
1) attached to remote node process on my "production" nightscout server but am unable to break at anything that resembles report code.  breakpoints in main sections of code work but code bounces around and i can't find entry into report section(s).
2) running nightscout on development box loads and seems to run (with console o

[2018-09-19 10:35] kellylove1 opened #3944 "A valid GitHub directory could not be found."
Hello,
clikking on "Deploy Heroku" I see this message, how can I solve?
Thank you
![immagine](https://user-images.githubusercontent.com/43407065/45748260-7dbb7e80-bc08-11e8-9b0f-81e2a5d9d338.png)

[2018-09-28 10:33] hartlijn commented on #3558
any news @learn2laugh ? I would love to get similar reporting out of Nightscout!

[2018-09-29 14:09] dhermanns commented on #3022
Hi! Still would be nice. But right now I don‘t have the time to provide a PR for this :-/.

[2018-09-29 14:28] PieterGit commented on #3904
@scottleibrand can you explain this?

[2018-09-29 14:29] PieterGit commented on #3474
No interest in creating PR's currently, so postponing to 0.12 release

[2018-09-29 14:33] PieterGit commented on #3767
@tremor Can you give an update if you have solved this issue? I merged https://github.com/nightscout/cgm-remote-monitor/pull/3821 to dev today, which might be helpfull for this problem. Please close this issue if it's resolved for you.

[2018-09-29 14:35] PieterGit commented on #3944
@kellylove1 I think you're problem might be solved with https://github.com/nightscout/cgm-remote-monitor/pull/3896 . Can you please check? If not I hope @andrew-warrington can give some help.

[2018-09-29 15:58] scottleibrand commented on #3904
This graph is completely missing BG information. Nightscout rarely displays correctly without BGs: no one designed it to.

[2018-09-29 16:00] scottleibrand commented on #3904
I’d jump into Gitter if you need help getting your CGM info uploaded to NS. There are lots of different methods.

[2018-09-29 17:56] PieterGit commented on #3904
@scottleibrand Thanks (I should have better looked at the screenshots). @BOC14 please make sure your cgm uploading works. Please ask help if you need it, e.g. at https://gitter.im/nightscout/intend-to-bolus
Closing this issue, because it looks like a problem with the uploader. Feel free to reopen if it's needed and you have your cgm upload in order.

[2018-09-29 17:56] #3904 closed

[2018-09-29 19:31] PieterGit commented on #319
@sulkaharo This is the oldest issue in the issue tracker.  I just tested an can use a comma with setting a temp target without problems now. Closing this issue.

[2018-09-29 19:31] #319 closed

[2018-09-29 20:59] viq commented on #3659
I can confirm I'm still seeing something at least very similar on today's `dev`.

[2018-10-01 20:11] philabetes opened #3962 "Delta not showing up on Fitbit watch faces"
I’m using my Dexcom g5 app on iOS to upload to heroku for my Nightscout site.  On my Fitbit, the delta isn’t showing. But BG values and trend line work fine. Delta shows up on Nightscout fine.

Essentially, My sgv.json endpoint is not including a "delta" output even though a delta is showing up on my nightscout site.

Not sure if this is related to a new release, just got the Fitbit versa this wee

[2018-10-02 21:14] PieterGit commented on #3921
CLosing issue. @cmcsynth reports success after changing the Dexcom password.

[2018-10-02 21:14] #3921 closed

[2018-10-02 21:16] PieterGit commented on #3749
@brutevinch can you still reproduce, and can you check your mongodb which records create this problem?

[2018-10-03 18:02] viq opened #3969 "Move/add "insulin distribution" to "daily stats" tab"
For me the information / breakdown displayed in `Day to day` when `Insulin distribution` is selected makes more sense next to similar pie charts in `Daily stats` report. I think it would make sense to either move or add that option there.

[2018-10-04 11:52] tremor commented on #3767
I finally deleted the whole collection 'entries' and do a fillback from xdrip for the last 3 months - it took a little bit over 10 Minutes and now the size is below 100 MB and I only had to manually trigger a compact database via the support. Not the best solution but at least it works again!

[2018-10-08 08:51] BartoszJedynak opened #3984 "Color of dots"
Hi,
i'll try edit theme colors of dots, in earlier versions that was in lib\client\index.js now when i'll edit this file nothing happend.
I will be grateful for any help
Best regards
Tom

[2018-10-08 10:10] secretsquirrel420 commented on #3944
I received the exact same error when deploying a **brand new Heroku site**. The problem is that the **"Deploy Heroku"** button is set to [https://github.com](url) instead of the **URL to the Nightscout cgm-remote-monitor repo.**

Anyone who is trying to deploy a new Heroku site at this point is unable to, because of this.

If you can please resolve this, it would be appreciated.

[2018-10-08 11:15] secretsquirrel420 commented on #3944
OK I found the issue.

So in the README.md file, lines 25-42 look like this:

[code]
I did some basic Googling for "Nighscout" and Docker, and I substituted in this link for the bad image link, and now it works!

https://hub.docker.com/r/nightscout/cgm-remote-monitor-development/

Please find the correct image link for the current version for me, so I can update my site easily! :)

[2018-10-10 07:50] secretsquirrel420 commented on #3944
@PieterGit I think I found the issue, but I cannot fix it on my own. Can you please correct this issue? It looks like a relatively easy fix!

[2018-10-10 09:54] hosamn commented on #3558
Did this functionality suggestion die, or what??

[2018-10-10 21:39] unsoluble commented on #3895
Yeah, I totally agree with this concern; it's a very common error in new setups. I'm sure it wouldn't be that onerous to get the app to treat values in those variables as mmol if the profile is set to mmol, but this would likely require digging through all the code and making sure we cover every instance.

[2018-10-10 21:43] unsoluble commented on #3944
I don't see what the problem is — far as I can tell, the Heroku deployment button is working just fine. Are you attempting to do the build from a different branch than master?

[2018-10-11 06:03] secretsquirrel420 commented on #3944
Yes, I am trying to do a build from the dev branch.

[2018-10-11 06:04] secretsquirrel420 commented on #3944
@unsoluble Yes, I am trying to do a build from the dev branch.

[2018-10-11 06:09] unsoluble commented on #3944
So first, I'd avoid deploying from dev unless you've got a particular reason to do so, but in any case the Deploy to Heroku button appears to be functioning just fine in that branch too. Sure you're up to date?

[2018-10-11 06:09] secretsquirrel420 commented on #3944
@unsoluble @PieterGit It has been a long time since I have hosted a Nightscout site, but I know how to resolve technical issues pretty well. I just deleted my old repo, and forked the master branch. Then I pressed the "Deploy to Heroku" button.

It still didn't work.

[2018-10-11 06:10] unsoluble commented on #3944
Are you currently signed into a Heroku account? Need to have that set up first. How exactly is it failing on your end?

[2018-10-11 06:12] secretsquirrel420 commented on #3944
Yes, I am signed into my Heroku account, and my ad blocker is disabled on my browser.

I literally get the same error as pictured above unless I make some modifications to the code, as described in post #3 in this thread, every single time, every single time I try to fix it.

[2018-10-11 06:17] unsoluble commented on #3944
I'm a little confused, but it's also late here so maybe it's just me... But you seem to be finding an issue with the Travis build status badge? Which doesn't have anything to do with Heroku deployment? Can you elaborate on what you think your fix is doing?

[2018-10-11 06:30] secretsquirrel420 commented on #3944
The build image is supposed to be something like a "Docker File" not a scalar vector file!

[2018-10-11 14:03] unsoluble commented on #3848
Also reported to fail in Firefox/Win.

[2018-10-12 07:43] secretsquirrel420 commented on #3944
@unsoluble @andrew-warrington @PieterGit @kellylove1 I guess I will do a 100% manual configuration, since this issue continues to be unresolved, even though the solution is identified (but I don't have the docker URL to the image file to resolve this on my own) and is right in front of your faces, in this thread.

[2018-10-13 17:33] oliwierkobiak opened #3994 "double measurements?"
can anyone help?
for 2 days, nighwcout shows me double measurements (as if some have been broken). I use Freestyle Libr + had a + xdrip
![img_0525](https://user-images.githubusercontent.com/13902431/46908158-c53edd00-cf1e-11e8-9af5-58b3221741b9.PNG)
![img_0524](https://user-images.githubusercontent.com/13902431/46908159-c53edd00-cf1e-11e8-96bf-e278d6c69b58.JPG)

[2018-10-13 21:41] PieterGit commented on #3994
@oliwierkobiak please check if they aren't xdrip+ cgm's that re-uploads cgm values.
You can also use mlab UI or Robo 3T (formerly Robomongo) https://robomongo.org/ to see which device is uploading these values.

[2018-10-13 22:37] PieterGit commented on #3676
@JoseeT1Bionique can you please give an update? If we don't have more info we cannot fix this issue, and I will need to close it due to inactivity.

[2018-10-14 11:04] oliwierkobiak commented on #3994
OK, i see the dots are from glimp

 Krzysztof Kobiak
gsm:
email:
www:500 045 889
k.kobiak@tukobi.pl
tukobi.pl

Od: PieterGit <notifications@github.com>
Odpowiedź do: nightscout/cgm-remote-monitor <reply@reply.github.com>
Data: sobota, 13 października 2018 23:41
Do: nightscout/cgm-remote-monitor <cgm-remote-monitor@noreply.github.com>
DW: "admin@tukobi.pl" <admin@tukobi.pl>, Mention <mention@norepl

[2018-10-14 14:45] Unvollendet8 commented on #3659
Is there a workaround for that? Because I'm experiencing the exact same problem and I did a lot profile switches the last days for different reasons.